force-app/main/default/flows/Accounts_from_Online_Appointment_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Selection_of_accounts_to_delete</name>
        <label>Selection of accounts to delete</label>
        <locationX>801</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online_Appt_accounts_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts_info.IsProspect__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Date_Identity__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Can_Be_Contacted_By_Email__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Online Appt accounts to delete</label>
        </rules>
        <rules>
            <name>Online_Appt_accounts_to_modify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts_info.IsProspect__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Date_Identity__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts_info.Can_Be_Contacted_By_Email__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_phone_number_on_accounts</targetReference>
            </connector>
            <label>Online Appt accounts to modify</label>
        </rules>
    </decisions>
    <description>Send specific accounts to Dream in order to be deleted in salesforce (for Online Appointment)</description>
    <formulas>
        <description>Record type of Online Appointment</description>
        <name>FormulaOnlineApptRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.ICONSettings__c.OnlineApptRT__c}</expression>
    </formulas>
    <interviewLabel>Accounts from Online Appointment Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounts from Online Appointment Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_info</name>
        <label>Get Accounts info</label>
        <locationX>350</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Typology__pc</queriedFields>
        <queriedFields>Date_Identity__pc</queriedFields>
        <queriedFields>Can_Be_Contacted_By_Email__pc</queriedFields>
        <queriedFields>ProspectForDream__c</queriedFields>
        <queriedFields>IsProspect__pc</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>491</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_appointments</name>
        <label>Get other appointments</label>
        <locationX>631</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selection_of_accounts_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Lookup_Appointment.ActivityDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account ID from Online Appt</description>
        <name>Lookup_Appointment</name>
        <label>Lookup Appointment</label>
        <locationX>189</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1044</locationX>
        <locationY>335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProspectForDream__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_CandidateToDeletion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_phone_number_on_accounts</name>
        <label>Update phone number on accounts</label>
        <locationX>773</locationX>
        <locationY>334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMobilePhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>ProspectForDream__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Appointment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
