force-app/main/default/flows/Acknowledgement_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Belgium</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Acknowledgement Email Belgium</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Belgium</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Belgium</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Brazil</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Acknowledgement Email Brazil</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Brazil</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Brazil</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Canada_fr</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Acknowledgement Email Canada FR</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Canada_fr</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Canada_fr</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Canada_en</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Acknowledgement Email Canada EN</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Canada_en</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Canada_en</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Care_Service_USA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Acknowledgement Email Care Service USA</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Care_Service_USA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Care_Service_USA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_France</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Acknowledgement Email France</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_France</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_France</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_China</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Acknowledgement Email China</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_China</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Denmark</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Acknowledgement Email Denmark</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Denmark</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Denmark</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Finland</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Acknowledgement Email Finland</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Finland</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Finland</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_HK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Acknowledgement Email HK</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_HK</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_HK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Indonesia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Acknowledgement Email Indonesia</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Indonesia</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Indonesia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Ireland</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Acknowledgement Email Ireland</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Ireland</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Ireland</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Italy</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Acknowledgement Email Italy</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Italy</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Italy</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Japan</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_35_A1</name>
        <label>Acknowledgement Email Japan</label>
        <locationX>3500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Japan</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Japan</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Korea</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Acknowledgement Email Korea</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Korea</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Korea</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Luxembourg</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_39_A1</name>
        <label>Acknowledgement Email Luxembourg</label>
        <locationX>3900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Luxembourg</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Luxembourg</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Macau</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Acknowledgement Email Macau</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Macau</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Macau</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Malaysia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_41_A1</name>
        <label>Acknowledgement Email Malaysia</label>
        <locationX>4100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Malaysia</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Malaysia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Monaco</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>Acknowledgement Email Monaco</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Monaco</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Monaco</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Netherlands</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Acknowledgement Email Netherlands</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Netherlands</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Netherlands</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Middle_East</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_47_A1</name>
        <label>Acknowledgement Email Middel East</label>
        <locationX>4700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Middle_East</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Middle_East</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_New_Zealand</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_49_A1</name>
        <label>Acknowledgement Email New Zealand</label>
        <locationX>4900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_New_Zealand</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_New_Zealand</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Norway</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_51_A1</name>
        <label>Acknowledgement Email Norway</label>
        <locationX>5100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Norway</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Norway</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Poland</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_53_A1</name>
        <label>Acknowledgement Email Poland</label>
        <locationX>5300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Poland</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Poland</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Portugal</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_55_A1</name>
        <label>Acknowledgement Email Portugal</label>
        <locationX>5500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Portugal</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Portugal</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Russia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_57_A1</name>
        <label>Acknowledgement Email Russia</label>
        <locationX>5700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Russia</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Russia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Singapore</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_59_A1</name>
        <label>Acknowledgement Email Singapore</label>
        <locationX>5900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Singapore</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Singapore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Germany</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Acknowledgement Email Germany</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Germany</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Germany</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Spain</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_61_A1</name>
        <label>Acknowledgement Email Spain</label>
        <locationX>6100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Spain</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Spain</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Sweden</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_63_A1</name>
        <label>Acknowledgement Email Sweden</label>
        <locationX>6300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Sweden</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Sweden</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Taiwan</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_65_A1</name>
        <label>Acknowledgement Email Taiwan</label>
        <locationX>6500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Taiwan</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Taiwan</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Thailand</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_67_A1</name>
        <label>Acknowledgement Email Thailand</label>
        <locationX>6700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Thailand</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Thailand</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_UK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_69_A1</name>
        <label>Acknowledgement Email UK</label>
        <locationX>6900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_UK</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_UK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_US</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_71_A1</name>
        <label>Acknowledgement Email US</label>
        <locationX>7100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_US</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_International</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_73_A1</name>
        <label>Acknowledgement Email International</label>
        <locationX>7300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_International</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_International</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Argentina</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_75_A1</name>
        <label>Acknowledgement Email Argentina</label>
        <locationX>7500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Argentina</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Argentina</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Colombia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_77_A1</name>
        <label>Acknowledgement Email Colombia</label>
        <locationX>7700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Colombia</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Colombia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Chile</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_79_A1</name>
        <label>Acknowledgement Email Chile</label>
        <locationX>7900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Chile</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Chile</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Australia</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Acknowledgement Email Australia</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Australia</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Australia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_LATAM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_81_A1</name>
        <label>Acknowledgement Email LATAM</label>
        <locationX>8100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_LATAM</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_LATAM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Europe</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_83_A1</name>
        <label>Acknowledgement Email Europe</label>
        <locationX>8300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Europe</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Europe</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_India</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_85_A1</name>
        <label>Acknowledgement Email India</label>
        <locationX>8500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_India</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_India</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Asia_Pacific</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_87_A1</name>
        <label>Acknowledgement Email Asia Pacific</label>
        <locationX>8700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Asia_Pacific</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Asia_Pacific</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Philippines</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_89_A1</name>
        <label>Acknowledgement Email Philippines</label>
        <locationX>8800</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Philippines</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Philippines</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Acknowledgement_Email_Austria</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Acknowledgement Email Austria</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Acknowledgement_Email_Austria</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Acknowledgement_Email_Austria</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Acknowledgement Email France</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Belgium</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Brazil</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Canada FR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Canada EN</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Care Service USA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Macau</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Acknowledgement Email China</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Denmark</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Finland</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Acknowledgement Email HK</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Indonesia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Ireland</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision34</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Italy</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision34</name>
        <label>myDecision34</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Japan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Korea</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision38</name>
        <label>myDecision38</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Luxembourg</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Germany</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision40</name>
        <label>myDecision40</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Malaysia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_43</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Monaco</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision46</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Netherlands</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision46</name>
        <label>myDecision46</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_47</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Middle East</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision48</name>
        <label>myDecision48</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_49</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_49_A1</targetReference>
            </connector>
            <label>Acknowledgement Email New Zealand</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision50</name>
        <label>myDecision50</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision52</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_51</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_51</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_51_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Norway</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>26.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision52</name>
        <label>myDecision52</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision54</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_53</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_53_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Poland</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>27.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision54</name>
        <label>myDecision54</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision56</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_55</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_55</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_55_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Portugal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>28.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision56</name>
        <label>myDecision56</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision58</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_57</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_57</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_57_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Russia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>29.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision58</name>
        <label>myDecision58</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_59</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_59</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_59_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Singapore</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Australia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision60</name>
        <label>myDecision60</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_61</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_61</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_61_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Spain</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>31.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision62</name>
        <label>myDecision62</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision64</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_63</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_63</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_63_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Sweden</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>32.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision64</name>
        <label>myDecision64</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision66</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_65</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_65_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Taiwan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>33.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision66</name>
        <label>myDecision66</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision68</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_67</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_67</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_67_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Thailand</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>34.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision68</name>
        <label>myDecision68</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision70</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_69</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_69</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_69_A1</targetReference>
            </connector>
            <label>Acknowledgement Email UK</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision70</name>
        <label>myDecision70</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_71</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_71</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_71_A1</targetReference>
            </connector>
            <label>Acknowledgement Email US</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision72</name>
        <label>myDecision72</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision74</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_73</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_73</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_73_A1</targetReference>
            </connector>
            <label>Acknowledgement INTERNATIONAL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>37.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision74</name>
        <label>myDecision74</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision76</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_75</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_75_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Argentina</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>38.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision76</name>
        <label>myDecision76</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision78</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_77</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_77</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_77_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>39.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision78</name>
        <label>myDecision78</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision80</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_79</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_79</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_79_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Chile</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Austria</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision80</name>
        <label>myDecision80</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision82</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_81</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_81</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_81_A1</targetReference>
            </connector>
            <label>Acknowledgement Email LATAM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>41.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision82</name>
        <label>myDecision82</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision84</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_83</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_83</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_83_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Europe</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>42.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision84</name>
        <label>myDecision84</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision86</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_85</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_85</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_85_A1</targetReference>
            </connector>
            <label>Acknowledgement Email India</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>43.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision86</name>
        <label>myDecision86</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision88</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_87</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_87</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_87_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Asia Pacific</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>44.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision88</name>
        <label>myDecision88</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_89</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_89</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_89_A1</targetReference>
            </connector>
            <label>Acknowledgement Email Philippines</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;France&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression> AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;France&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Belgium&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Belgium&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Brazil&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Brazil&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Canada_FR&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Canada_FR&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Canada_EN&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Canada_EN&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Care_Service_USA&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Care_Service_USA&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;China&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;China&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Denmark&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Denmark&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Finland&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Finland&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Hong_Kong&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Hong_Kong&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Indonesia&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Indonesia&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Macau&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Macau&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Ireland&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Ireland&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Italy&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Italy&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Japan&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Japan&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Korea&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Korea&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Luxembourg&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Luxembourg&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Malaysia&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Malaysia&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Monaco&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_43</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Monaco&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Netherlands&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Netherlands&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Middle_East&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_47</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Middle_East&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;New_Zealand&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_49</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;New_Zealand&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Germany&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Germany&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Norway&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_51</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Norway&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Poland&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_53</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Poland&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Portugal&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_55</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Portugal&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Russia&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_57</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Russia&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Singapore&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_59</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Singapore&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Spain&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_61</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Spain&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Sweden&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_63</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Sweden&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Taiwan&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_65</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Taiwan&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Thailand&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_67</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Thailand&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;United_Kingdom&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_69</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;United_Kingdom&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Australia&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Australia&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;United_States&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_71</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;United_States&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  , 
[Case].TECH_Queue__c =&apos;General_Europe&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_73</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  , 
{!myVariable_current.TECH_Queue__c} =&apos;General_Europe&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Argentina&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_75</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Argentina&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Colombia&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_77</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Colombia&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,[Case].TECH_Queue__c =&apos;Chile&apos;,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_79</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,{!myVariable_current.TECH_Queue__c} =&apos;Chile&apos;,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Spanish_LATAM&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_81</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Spanish_LATAM&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Europe&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_83</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Europe&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null,
OR (
[Case].TECH_Queue__c =&apos;India&apos;,  [Case].TECH_Queue__c =&apos;India_Priority&apos;
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_85</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null,
OR (
{!myVariable_current.TECH_Queue__c} =&apos;India&apos;,  {!myVariable_current.TECH_Queue__c} =&apos;India_Priority&apos;
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Asia_Pacific&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_87</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Asia_Pacific&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Philippines&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_89</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Philippines&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 

ISNEW() ,
[Case].RecordTypeId = $Setup.IconicsSettings__c.EmailRecordTypeID__c ,
ISPICKVAL([Case].Origin, &quot;Email&quot;)  ,
[Case].TECH_Queue__c =&apos;Austria&apos;,
[Case].SuppliedEmail !=null,
NOT(CONTAINS([Case].SuppliedEmail , &apos;contact.louisvuitton.com&apos;)),
[Case].Spam__c = false,
[Case].ParentId = null

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 

ISNEW() ,
{!myVariable_current.RecordTypeId} = {!$Setup.IconicsSettings__c.EmailRecordTypeID__c} ,
ISPICKVAL({!myVariable_current.Origin}, &quot;Email&quot;)  ,
{!myVariable_current.TECH_Queue__c} =&apos;Austria&apos;,
{!myVariable_current.SuppliedEmail} !=null,
NOT(CONTAINS({!myVariable_current.SuppliedEmail} , &apos;contact.louisvuitton.com&apos;)),
{!myVariable_current.Spam__c} = false,
{!myVariable_current.ParentId} = null

)</expression>
    </formulas>
    <interviewLabel>Acknowledgement_Emails-2_InterviewLabel</interviewLabel>
    <label>Acknowledgement Emails</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
