force-app/main/default/flows/Activate_Deactivate_Exclusive_Campaign_zone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CHINA_OR_KOREA</name>
        <label>CHINA OR KOREA ?</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Activate_Deactivate_ASIA_NORTH_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KOREA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>13</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KOREA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_KOREA_Campaign</targetReference>
            </connector>
            <label>KOREA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zones</name>
        <label>Zones</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>CHINA_OR_KOREA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMERICAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_AMERICAS_Campaign</targetReference>
            </connector>
            <label>AMERICAS</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_EMEA_Campaign</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>ASIA_SOUTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>14</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_ASIA_SOUTH_Campaign</targetReference>
            </connector>
            <label>ASIA SOUTH</label>
        </rules>
        <rules>
            <name>JAPAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_JAPAN_Campaign</targetReference>
            </connector>
            <label>JAPAN</label>
        </rules>
        <rules>
            <name>MAINLAND_CHINA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.MANAGEMENT_ZONE_LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>17</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Deactivate_CHINA_Campaign</targetReference>
            </connector>
            <label>MAINLAND CHINA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Activate/Deactivate Exclusive Campaign zone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate/Deactivate Exclusive Campaign zone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Exclusive_Campaign</name>
        <label>Get Exclusive Campaign</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exclusive_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AMERICAS__c</field>
            <value>
                <elementReference>AMERICAS_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMEA__c</field>
            <value>
                <elementReference>EMEA_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASIA_SOUTH__c</field>
            <value>
                <elementReference>ASIA_SOUTH_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JAPAN__c</field>
            <value>
                <elementReference>JAPAN_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0_0_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CHINA__c</field>
            <value>
                <elementReference>CHINA_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0_0_0_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KOREA__c</field>
            <value>
                <elementReference>KOREA_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclusive_Campaign_0_0_0_0_0_0_0</name>
        <label>Update Exclusive Campaign</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASIA_NORTH_sans_COREE_CHINE__c</field>
            <value>
                <elementReference>ASIA_NORTH_Activation.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign__c</object>
    </recordUpdates>
    <screens>
        <name>Activate_Deactivate_AMERICAS_Campaign</name>
        <label>Activate/Deactivate AMERICAS Campaign</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0</targetReference>
        </connector>
        <fields>
            <name>AMERICAS_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>AMERICAS Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AMERICASToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_ASIA_NORTH_Campaign</name>
        <label>Activate/Deactivate ASIA NORTH Campaign</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>ASIA_NORTH_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ASIA NORTH Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ASIANORTHToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_ASIA_SOUTH_Campaign</name>
        <label>Activate/Deactivate ASIA SOUTH Campaign</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0_0</targetReference>
        </connector>
        <fields>
            <name>ASIA_SOUTH_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ASIA SOUTH Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ASIASOUTHToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_CHINA_Campaign</name>
        <label>Activate/Deactivate CHINA Campaign</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CHINA_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MAINLAND CHINA Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CHINAToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_EMEA_Campaign</name>
        <label>Activate/Deactivate EMEA Campaign</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0</targetReference>
        </connector>
        <fields>
            <name>EMEA_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>EMEA Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EMEAToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_JAPAN_Campaign</name>
        <label>Activate/Deactivate JAPAN Campaign</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>JAPAN_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>JAPAN Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>JAPANToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Activate_Deactivate_KOREA_Campaign</name>
        <label>Activate/Deactivate KOREA Campaign</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Exclusive_Campaign_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>KOREA_Activation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>KOREA Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>KOREAToggle</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exclusive_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AMERICASToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.AMERICAS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ASIANORTHToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.ASIA_NORTH_sans_COREE_CHINE__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ASIASOUTHToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.ASIA_SOUTH__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CHINAToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.CHINA__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EMEAToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.EMEA__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>JAPANToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.JAPAN__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>KOREAToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Exclusive_Campaign.KOREA__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
