force-app/main/default/flows/Cancel_Unpaid_Deposit_After_24_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Deposit_Paid</name>
        <label>Check Deposit Paid</label>
        <locationX>913</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Deposit Paid</defaultConnectorLabel>
        <rules>
            <name>Deposit_Not_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DepositReceived__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Checkdeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled - Migrated in Xstore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Order</targetReference>
            </connector>
            <label>Deposit Not Paid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cancel Unpaid Deposit After 24 Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Unpaid Deposit After 24 Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cancel_Line_Items</name>
        <label>Cancel Line Items</label>
        <locationX>580</locationX>
        <locationY>540</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comment__c</field>
            <value>
                <elementReference>Deposit_Not_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Cancelled by production</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Order</name>
        <label>Cancel Order</label>
        <locationX>580</locationX>
        <locationY>432</locationY>
        <connector>
            <targetReference>Cancel_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_StopBriefComment__c</field>
            <value>
                <elementReference>CancellationCommentText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefReason__c</field>
            <value>
                <stringValue>Production - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by Production</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>161</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PERSO</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Deposit_Check_24_Hours</name>
            <connector>
                <targetReference>Check_Deposit_Paid</targetReference>
            </connector>
            <label>Deposit Check 24 Hours</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Deposit not paid within 24 hours of order creation</description>
        <name>CancellationCommentText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Deposit not paid within 24 hours of order creation</text>
    </textTemplates>
</Flow>
