force-app/main/default/flows/care_service_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>set_expertise</name>
        <label>set expertise</label>
        <locationX>564</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expertise</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restoration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_history</name>
        <label>set history</label>
        <locationX>1686</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>History</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_my_lv_status_and_is_to_do</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_home_delivery</name>
        <label>set home delivery</label>
        <locationX>1469</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>home_delivery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_is_to_do_false</name>
        <label>set is to do false</label>
        <locationX>194</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.IsToDo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_To_WS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_is_to_do_true</name>
        <label>set is to do true</label>
        <locationX>57</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.IsToDo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_To_WS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ready_for_pick_up</name>
        <label>set ready for pick-up</label>
        <locationX>1031</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ready_for_pick_up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restoration_Not_Performed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_restoration</name>
        <label>set restoration</label>
        <locationX>795</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restoration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_For_Pick_up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_restoration_not_performed</name>
        <label>set restoration not performed</label>
        <locationX>1237</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>restoration_not_performed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_routing_to_ws</name>
        <label>set routing to ws</label>
        <locationX>374</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>get_care_service.MYLV_Care_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>routing_to_workshop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expertise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Expertise</name>
        <label>Expertise</label>
        <locationX>552</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Restoration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Expertise</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderPendingValidation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitingForClientDecision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderRejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expertise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_expertise</targetReference>
            </connector>
            <label>Check Expertise</label>
        </rules>
    </decisions>
    <decisions>
        <name>History</name>
        <label>History</label>
        <locationX>1679</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>update_my_lv_status_and_is_to_do</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_History</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sentToRMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productDeliveredToClient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>History</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_history</targetReference>
            </connector>
            <label>Check History</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Delivery</name>
        <label>Home Delivery</label>
        <locationX>1461</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Home_Delivery</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>receivedAndAcceptedInStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>servicePerformed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productStocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clientContacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.Type_of_Repair__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HomeDelivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>home_delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_home_delivery</targetReference>
            </connector>
            <label>Check Home Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_For_Pick_up</name>
        <label>Ready For Pick-up</label>
        <locationX>1019</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Restoration_Not_Performed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Ready_For_Pick_up</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>servicePerformed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>receivedAndAcceptedInStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clientContacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productStocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ready_for_pick_up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.Type_of_Repair__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HomeDelivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_ready_for_pick_up</targetReference>
            </connector>
            <label>Check Ready For Pick up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restoration</name>
        <label>Restoration</label>
        <locationX>780</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Ready_For_Pick_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Restoration</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5 OR (4 AND 7)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderAccepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitingForSpareParts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>repairInProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>receivedAndNotAcceptedInStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Restoration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.Is_Not_Repaired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_restoration</targetReference>
            </connector>
            <label>Check Restoration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restoration_Not_Performed</name>
        <label>Restoration Not Performed</label>
        <locationX>1225</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Home_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Restoration_Not_Performed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.Is_Not_Repaired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>restoration_not_performed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_restoration_not_performed</targetReference>
            </connector>
            <label>Check Restoration Not Performed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_To_WS</name>
        <label>Routing To WS</label>
        <locationX>357</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Expertise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Routing_To_WS</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createdInStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pendingQualityExpertise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToRepairCenter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToLocalPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MYLV_Care_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>routing_to_workshop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_routing_to_ws</targetReference>
            </connector>
            <label>Check Routing To WS</label>
        </rules>
    </decisions>
    <decisions>
        <name>status_for_is_to_do</name>
        <label>status for is to do</label>
        <locationX>48</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>set_is_to_do_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_status_set_is_to_do</name>
            <conditionLogic>1 OR 2 OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderPendingValidation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitingForClientDecision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clientContacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.FollowupBy_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_care_service.Is_Not_Repaired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_is_to_do_true</targetReference>
            </connector>
            <label>check status set is to do</label>
        </rules>
    </decisions>
    <interviewLabel>care service flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>care service flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_care_service</name>
        <label>get care service</label>
        <locationX>145</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>status_for_is_to_do</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careserviceid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_my_lv_status_and_is_to_do</name>
        <label>update my lv status and is to do</label>
        <locationX>1912</locationX>
        <locationY>310</locationY>
        <inputReference>get_care_service</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>get_care_service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>careserviceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
