force-app/main/default/flows/Clean_Up_Failed_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_CD_to_collection</name>
        <label>Add CD to collection</label>
        <locationX>227</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>CDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnCDLs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CDLs_exist</name>
        <label>CDLs exist?</label>
        <locationX>384</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Firm_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCDLs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDLs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnCDLs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Firm_Orders_exist</name>
        <label>Firm Orders exist?</label>
        <locationX>795</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Delete_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirmOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Firm_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>{!Order.Name}</interviewLabel>
    <label>Clean Up Failed Orders</label>
    <loops>
        <name>LoopOnCDLs</name>
        <label>Loop On CDLs</label>
        <locationX>394</locationX>
        <locationY>236</locationY>
        <assignNextValueToReference>CurrentCDL</assignNextValueToReference>
        <collectionReference>CDLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DeleteCDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Firm_Orders</name>
        <label>Delete Firm Orders</label>
        <locationX>804</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Delete_Order</targetReference>
        </connector>
        <inputReference>FirmOrders</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Order</name>
        <label>Delete Order</label>
        <locationX>1020</locationX>
        <locationY>60</locationY>
        <inputReference>Order</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCDs</name>
        <label>Delete CDs</label>
        <locationX>608</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Get_Firm_Orders</targetReference>
        </connector>
        <inputReference>CDs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Firm_Orders</name>
        <label>Get Firm Orders</label>
        <locationX>608</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Firm_Orders_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPO_BriefName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <outputReference>FirmOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCD</name>
        <label>Get CD</label>
        <locationX>309</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_CD_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCDL.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>CD</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCDLs</name>
        <label>Get CDLs</label>
        <locationX>235</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CDLs_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>CDLs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <startElementReference>GetCDLs</startElementReference>
    <status>Active</status>
    <variables>
        <name>CD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>CDLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>CurrentCDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FirmOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SPO_FirmOrder__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
