force-app/main/default/flows/Distant_CareService_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Care_Service</name>
        <label>Open Care Service</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varCareServiceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>isMyLV</name>
        <label>isMyLV</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Look_for_MYLV_clienf_with_the_same_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_MyLV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_MyLV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isProductUnknown</targetReference>
            </connector>
            <label>is MyLV</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProductUnknown</name>
        <label>isProductUnknown</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Distant_Repair_Creation_with_sku</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSKUCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSKUCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distant_Repair_Creation_without_sku</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>API version 55</description>
    <environments>Default</environments>
    <formulas>
        <name>careServiceOrigin</name>
        <dataType>String</dataType>
        <expression>IF({!sObject} = &quot;Task&quot;, &quot;CSC Call&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;CSC Chat&quot;,
IF({!sObject} = &quot;MessagingSession&quot;,&quot;CSC Messaging&quot;,
IF({!sObject} = &quot;Case&quot;, &quot;CSC Email&quot;,
&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>CareServiceRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.Distant_Care_Service_RT__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaParentID</name>
        <dataType>String</dataType>
        <expression>IF ( 
  AND (
    {!sObject} = &quot;Case&quot;, 
    {!isNoRecordId} = false
  ),
  {!recordId}, 
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>isMyLVClient</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varDateIdentity} != null, TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>recordIdToReplaceForQualification</name>
        <dataType>String</dataType>
        <expression>IF ({!isNoRecordId} = true, null, {!recordId})</expression>
    </formulas>
    <interviewLabel>Distant CareService Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distant Care Service Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Distant_Repair_Creation_with_sku</name>
        <label>Distant Repair Creation with sku</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>varCareServiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Qualification_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>varPODComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowupBy_Call__c</field>
            <value>
                <elementReference>varFollowByCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowupBy_Email__c</field>
            <value>
                <elementReference>varFollowByEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>careServiceOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Request__c</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>varUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CareServiceRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>varSKUCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StoreRetailCode__c</field>
            <value>
                <elementReference>varRetailStoreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>varDigitalStoreID</elementReference>
            </value>
        </inputAssignments>
        <object>CareService__c</object>
    </recordCreates>
    <recordCreates>
        <name>Distant_Repair_Creation_without_sku</name>
        <label>Distant Repair Creation without sku</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>varCareServiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Qualification_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>varPODComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowupBy_Call__c</field>
            <value>
                <elementReference>varFollowByCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowupBy_Email__c</field>
            <value>
                <elementReference>varFollowByEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>varProductGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>careServiceOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Request__c</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>varUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CareServiceRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StoreRetailCode__c</field>
            <value>
                <elementReference>varRetailStoreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>varDigitalStoreID</elementReference>
            </value>
        </inputAssignments>
        <object>CareService__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_client_email_and_phone</name>
        <label>Get client email and phone</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Distant_Repair</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varDateIdentity</assignToReference>
            <field>Date_Identity__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhoneNumber</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SKU_from_Product</name>
        <label>Get SKU from Product</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isMyLV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductSku</elementReference>
            </value>
        </filters>
        <object>ProductCatalogue__c</object>
        <outputAssignments>
            <assignToReference>varSKUCode</assignToReference>
            <field>SKU__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Distant_Repair</name>
        <label>Lookup Distant Repair</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SKU_from_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>varPODComment</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFollowByCall</assignToReference>
            <field>Follow_up_By_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFollowByEmail</assignToReference>
            <field>Follow_up_By_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQualificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhoneNumber</assignToReference>
            <field>Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSkuName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnknownProduct</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRetailStoreId</assignToReference>
            <field>Retail_Store_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDigitalStoreID</assignToReference>
            <field>Store__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>client_phone_and_email_update</name>
        <label>client phone and email update</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Open_Care_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Qualification_update</name>
        <label>Qualification update</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>client_phone_and_email_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQualificationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentRelatedTo__c</field>
            <value>
                <elementReference>recordIdToReplaceForQualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedTo__c</field>
            <value>
                <elementReference>varCareServiceID</elementReference>
            </value>
        </inputAssignments>
        <object>ICX_ProductEnquired__c</object>
    </recordUpdates>
    <screens>
        <name>Distant_Repair</name>
        <label>Distant Repair</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Distant_Repair</targetReference>
        </connector>
        <fields>
            <name>DistantRepairProductSearch</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>DistantCareService</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientEmail</name>
                <value>
                    <elementReference>varEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientPhone</name>
                <value>
                    <elementReference>varPhoneNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DistantRepairFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Look_for_MYLV_clienf_with_the_same_email</name>
        <label>Look for MYLV clienf with the same email</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isProductUnknown</targetReference>
        </connector>
        <fields>
            <name>lookup_to_my_LV</name>
            <extensionName>c:icx_distantCare_mylv</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>varEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_client_email_and_phone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isNoRecordId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateIdentity</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDigitalStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFollowByCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFollowByEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPODComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductCategory</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductGender</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductSkuName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQualificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRetailStoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSKUCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
