force-app/main/default/flows/Distant_Care_Service_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Amount</name>
        <label>Check Amount</label>
        <locationX>182</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Status_Waiting_for_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Charged repair</defaultConnectorLabel>
        <rules>
            <name>Free_of_charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalAmount_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Confirm_Address</targetReference>
            </connector>
            <label>Free of charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Type</name>
        <label>Check Payment Type</label>
        <locationX>380</locationX>
        <locationY>4379</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Waiting_for_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Manuel Payment</defaultConnectorLabel>
        <rules>
            <name>Is_Integrated_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Type.Integrated_PBL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amount</targetReference>
            </connector>
            <label>Is Integrated Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Repair_Center_Type</name>
        <label>Check Repair Center Type</label>
        <locationX>391</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>MyLV_Metapack_Shipped_to_Repair_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Repair_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Repair_Center_Type.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repair_Center_Normal_Process</targetReference>
            </connector>
            <label>Is Repair Center</label>
        </rules>
        <rules>
            <name>Is_Local_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Repair_Center_Type.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_Partner_Normal_Process</targetReference>
            </connector>
            <label>Is Local Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Distant_Care_Service</name>
        <label>Is Distant Care Service</label>
        <locationX>814</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DistantCareService</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyRepair_Created_in_MyRepair</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyLV_MetaPack_MyRepair_Delivered_to_Client</name>
        <label>MyLV/MetaPack/MyRepair: Delivered to Client</label>
        <locationX>611</locationX>
        <locationY>6179</locationY>
        <defaultConnector>
            <targetReference>Path_New_Preliminary_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyLV/MetaPack/MyRepair: Delivered to Client</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyLV_MetaPack_MyRepair_Delivered_to_Client</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delivered_to_client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Metapack_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productDeliveredToClient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped to Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_76_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyLV/MetaPack/MyRepair: Delivered to Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyLV_Metapack_Received_in_Repair_Center</name>
        <label>MyLV/Metapack: Received in Repair Center</label>
        <locationX>611</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Order_pending_validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyLV/Metapack: Received in Repair Center</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyLV_Metapack_Received_in_Repair_Center</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>received_at_atelier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Metapack_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Quote Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped to Repair Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyLV/Metapack: Received in Repair Center</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyLV_Metapack_Shipped_to_Client</name>
        <label>MyLV/Metapack: Shipped to Client</label>
        <locationX>611</locationX>
        <locationY>5771</locationY>
        <defaultConnector>
            <targetReference>MyLV_MetaPack_MyRepair_Delivered_to_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyLV/Metapack: Shipped to Client</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyLV_Metapack_Shipped_to_Client</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Metapack_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carrier Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_70_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyLV/Metapack: Shipped to Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyLV_Metapack_Shipped_to_Repair_Center</name>
        <label>MyLV/Metapack: Shipped to Repair Center</label>
        <locationX>611</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>MyLV_Metapack_Received_in_Repair_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyLV/Metapack: Shipped to Repair Center</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyLV_Metapack_Shipped_to_Repair_Center</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shipping_to_atelier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Metapack_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carrier Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Quote Validated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyLV/Metapack: Shipped to Repair Center</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyLV_Preliminary_Quote_Validated</name>
        <label>MyLV: Preliminary Quote Validated</label>
        <locationX>611</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>MyLV_Metapack_Shipped_to_Repair_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyLV: Preliminary Quote Validated</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyLV_Preliminary_Quote_Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>preliminary_assessment_acc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Repair_Center_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyLV: Preliminary Quote Validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Client_Contacted</name>
        <label>MyRepair: Client Contacted</label>
        <locationX>611</locationX>
        <locationY>4163</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Payment_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Client Contacted</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Client_Contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clientContacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Address</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Client Contacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Created_in_MyRepair</name>
        <label>MyRepair: Created in MyRepair</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>MyLV_Preliminary_Quote_Validated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Created in MyRepair</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Created_in_MyRepair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createdInStore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Created in MyRepair</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Order_accepted</name>
        <label>MyRepair: Order accepted</label>
        <locationX>611</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Order_rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Order accepted</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Order_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderAccepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Order accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Order_pending_validation</name>
        <label>MyRepair: Order pending validation</label>
        <locationX>611</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Order_accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Order pending validation</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Order_pending_validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderPendingValidation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Order pending validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Order_rejected</name>
        <label>MyRepair: Order rejected</label>
        <locationX>611</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Waiting_for_Spare_parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Order rejected</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Order_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>orderRejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Order rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Payment_Confirmed</name>
        <label>MyRepair: Payment Confirmed</label>
        <locationX>611</locationX>
        <locationY>5063</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Product_stocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Payment Confirmed</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Payment_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>paymentConfirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_60_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Payment Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Product_stocked</name>
        <label>MyRepair: Product stocked</label>
        <locationX>611</locationX>
        <locationY>5471</locationY>
        <defaultConnector>
            <targetReference>MyLV_Metapack_Shipped_to_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Product stocked</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Product_stocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productStocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_65_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Product stocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Repair_finalized</name>
        <label>MyRepair: Repair finalized</label>
        <locationX>611</locationX>
        <locationY>3755</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Client_Contacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Repair finalized</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Repair_finalized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shippedToStore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_50_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Repair finalized</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Repair_in_progress</name>
        <label>MyRepair: Repair in progress</label>
        <locationX>611</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Repair_finalized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Repair in progress</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Repair_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>repairInProgress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Repair in progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>MyRepair_Waiting_for_Spare_parts</name>
        <label>MyRepair: Waiting for Spare parts</label>
        <locationX>611</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>MyRepair_Repair_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_MyRepair: Waiting for Spare parts</defaultConnectorLabel>
        <rules>
            <name>TRUE_MyRepair_Waiting_for_Spare_parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>waitingForSpareParts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_40_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_MyRepair: Waiting for Spare parts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Cancelled</name>
        <label>Path: Cancelled</label>
        <locationX>611</locationX>
        <locationY>8195</locationY>
        <defaultConnectorLabel>FALSE_Path: Cancelled</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_Cancelled</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>preliminary_assessment_dec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MYLV_Care_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MyRepairStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Delivery</name>
        <label>Path: Delivery</label>
        <locationX>611</locationX>
        <locationY>7895</locationY>
        <defaultConnector>
            <targetReference>Path_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Path: Delivery</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_Delivery</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped to Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered to Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_95_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_New_Preliminary_Assessment</name>
        <label>Path: New &gt; Preliminary Assessment</label>
        <locationX>611</locationX>
        <locationY>6695</locationY>
        <defaultConnector>
            <targetReference>Path_Validation_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Path: New &gt; Preliminary Assessment</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_New_Preliminary_Assessment</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated in MyRepairs as a Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created in MyRepairs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Quote Pending Validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_87_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: New &gt; Preliminary Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Payment</name>
        <label>Path: Payment</label>
        <locationX>611</locationX>
        <locationY>7595</locationY>
        <defaultConnector>
            <targetReference>Path_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Path: Payment</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_Payment</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product stocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_93_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Repair</name>
        <label>Path: Repair</label>
        <locationX>611</locationX>
        <locationY>7295</locationY>
        <defaultConnector>
            <targetReference>Path_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Path: Repair</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_Repair</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order pending validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Spare parts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair in progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair finalized</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spare parts order preparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_91_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Validation_Shipping</name>
        <label>Path: Validation &amp; Shipping</label>
        <locationX>611</locationX>
        <locationY>6995</locationY>
        <defaultConnector>
            <targetReference>Path_Repair</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Path: Validation &amp; Shipping</defaultConnectorLabel>
        <rules>
            <name>TRUE_Path_Validation_Shipping</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Quote Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped to Repair Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ICONiCS_Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received in Repair Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_89_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Path: Validation &amp; Shipping</label>
        </rules>
    </decisions>
    <description>Product stocked (myLV care statut :payment_contact)</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Distant Care Serivce Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distant Care Service Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Type</name>
        <label>Get Payment Type</label>
        <locationX>380</locationX>
        <locationY>4271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StoreRetailCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ICX_Repair_Store__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Repair_Center_Type</name>
        <label>Get Repair Center Type</label>
        <locationX>391</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Repair_Center_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StoreRetailCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.destination__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ICX_Repair_Center__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Client_Cancelled</name>
        <label>Client Cancelled</label>
        <locationX>479</locationX>
        <locationY>8303</locationY>
        <connector>
            <targetReference>Client_Declined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>Request Cancelled by client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Client_Declined</name>
        <label>Client Declined</label>
        <locationX>479</locationX>
        <locationY>8411</locationY>
        <connector>
            <targetReference>MyRepair_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>preliminary_assessment_dec</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>Preliminary Assessment declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Preliminary Quote Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Iconics_Cancelled</name>
        <label>Iconics Cancelled</label>
        <locationX>479</locationX>
        <locationY>8627</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MyRepairStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Local_Partner_Normal_Process</name>
        <label>Local Partner Normal Process</label>
        <locationX>391</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Local_Partner_Spare_part</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New &amp; Preliminary assesment</stringValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Spare_Part_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>shippedToLocalPartner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Local_Partner_Spare_part</name>
        <label>Local Partner Spare part</label>
        <locationX>391</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>MyLV_Metapack_Shipped_to_Repair_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Spare_Part_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New &amp; Preliminary assesment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Spare parts order preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>repair_in_progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>shippedToLocalPartner</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MyRepair_Cancelled</name>
        <label>MyRepair Cancelled</label>
        <locationX>479</locationX>
        <locationY>8519</locationY>
        <connector>
            <targetReference>Iconics_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MyRepairStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>Request Cancelled by MyRepairs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>MyLV Status Trigger</label>
        <locationX>479</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped to Repair Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>shipping_to_atelier</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Shipped to Repair Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>Metapack Status Trigger</label>
        <locationX>479</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>MyLV_Metapack_Received_in_Repair_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Metapack_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carrier Pickup</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Shipped to Repair Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>shipping_to_atelier</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>MyLV Status Trigger</label>
        <locationX>479</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Received in Repair Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>received_at_atelier</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Received in Repair Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A2</name>
        <label>Metapack Status Trigger</label>
        <locationX>479</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>MyRepair_Order_pending_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Received in Repair Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Metapack_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Received in Repair Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>received_at_atelier</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>MyLV_Preliminary_Quote_Validated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Pending Validation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Created in MyRepairs</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Created in MyRepairs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_25_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>MyRepair_Order_accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order pending validation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Order pending validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>under_assessment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_30_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>MyRepair_Order_rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order accepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Order accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>under_assessment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_35_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>2963</locationY>
        <connector>
            <targetReference>MyRepair_Waiting_for_Spare_parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order rejected</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Order rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>under_assessment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_40_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>MyRepair_Repair_in_progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting for Spare parts</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Waiting for Spare parts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>repair_in_progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_45_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>MyRepair_Repair_finalized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Repair in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Repair in progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>repair_in_progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_50_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>3863</locationY>
        <connector>
            <targetReference>myRule_50_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Repair finalized</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Repair finalized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>repair_in_progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_50_A2</name>
        <label>Reset Metapack Status</label>
        <locationX>479</locationX>
        <locationY>3971</locationY>
        <connector>
            <targetReference>MyRepair_Client_Contacted</targetReference>
        </connector>
        <inputAssignments>
            <field>Metapack_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_55_A2</name>
        <label>Reset Metapack Status</label>
        <locationX>380</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>MyRepair_Payment_Confirmed</targetReference>
        </connector>
        <inputAssignments>
            <field>Metapack_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_60_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>5171</locationY>
        <connector>
            <targetReference>myRule_60_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Payment Confirmed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Payment Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>payment_confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_60_A2</name>
        <label>Reset tracking information</label>
        <locationX>479</locationX>
        <locationY>5279</locationY>
        <connector>
            <targetReference>MyRepair_Product_stocked</targetReference>
        </connector>
        <inputAssignments>
            <field>Tracking_Number__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_link__c</field>
        </inputAssignments>
        <inputReference>$Record.Shipment_trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_65_A1</name>
        <label>Update Status</label>
        <locationX>479</locationX>
        <locationY>5579</locationY>
        <connector>
            <targetReference>MyLV_Metapack_Shipped_to_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Product stocked</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Product stocked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>payment_contact</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_70_A1</name>
        <label>MyLV Status Trigger</label>
        <locationX>479</locationX>
        <locationY>5879</locationY>
        <connector>
            <targetReference>myRule_70_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>shipping</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_70_A2</name>
        <label>Metapack Status Trigger</label>
        <locationX>479</locationX>
        <locationY>5987</locationY>
        <connector>
            <targetReference>MyLV_MetaPack_MyRepair_Delivered_to_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Metapack_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carrier Pickup</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Shipped to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>shipping</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_76_A1</name>
        <label>Metapck Status Trigger</label>
        <locationX>479</locationX>
        <locationY>6287</locationY>
        <connector>
            <targetReference>myRule_76_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Metapack_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>delivered_to_client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>productDeliveredToClient</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_76_A2</name>
        <label>MyLV Status Trigger</label>
        <locationX>479</locationX>
        <locationY>6395</locationY>
        <connector>
            <targetReference>myRule_76_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>MYLV_Care_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>delivered_to_client</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>productDeliveredToClient</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_76_A3</name>
        <label>MyRepair Status Trigger</label>
        <locationX>479</locationX>
        <locationY>6503</locationY>
        <connector>
            <targetReference>Path_New_Preliminary_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>MyRepairStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>productDeliveredToClient</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Delivered to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>delivered_to_client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_87_A1</name>
        <label>Upadate ICONiCS Status</label>
        <locationX>479</locationX>
        <locationY>6803</locationY>
        <connector>
            <targetReference>Path_Validation_Shipping</targetReference>
        </connector>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>New &amp; Preliminary assesment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_89_A1</name>
        <label>Update ICONiCS Status</label>
        <locationX>479</locationX>
        <locationY>7103</locationY>
        <connector>
            <targetReference>Path_Repair</targetReference>
        </connector>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Validation &amp; Shipping</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_91_A1</name>
        <label>Update ICONiCS Status</label>
        <locationX>479</locationX>
        <locationY>7403</locationY>
        <connector>
            <targetReference>Path_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_93_A1</name>
        <label>Update ICONiCS Status</label>
        <locationX>479</locationX>
        <locationY>7703</locationY>
        <connector>
            <targetReference>Path_Delivery</targetReference>
        </connector>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_95_A1</name>
        <label>Update ICONiCS Status</label>
        <locationX>479</locationX>
        <locationY>8003</locationY>
        <connector>
            <targetReference>Path_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>ICONiCS_Status__c</field>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Repair_Center_Normal_Process</name>
        <label>Repair Center Normal Process</label>
        <locationX>127</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Repair_Center_Spare_part</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New &amp; Preliminary assesment</stringValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Spare_Part_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>shippedToRepairCenter</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Repair_Center_Spare_part</name>
        <label>Repair Center Spare part</label>
        <locationX>127</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>MyLV_Metapack_Shipped_to_Repair_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Preliminary Quote Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Spare_Part_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ICONiCS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New &amp; Preliminary assesment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Spare parts order preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>repair_in_progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyRepairStatus__c</field>
            <value>
                <stringValue>shippedToRepairCenter</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Confirm_Address</name>
        <label>Update Status : Confirm Address</label>
        <locationX>50</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>myRule_55_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting for Payment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirm_Address_Send_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Confirm Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>confirm_address</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Waiting_for_Payment</name>
        <label>Update Status : Waiting for Payment</label>
        <locationX>578</locationX>
        <locationY>4487</locationY>
        <connector>
            <targetReference>myRule_55_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICONiCS_Status_Detail__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting for Payment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ICONiCS_Status_Detail__c</field>
            <value>
                <stringValue>Waiting for Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_ICONiCS_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MYLV_Care_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_MyRepair_Status_Changed_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MYLV_Care_Status__c</field>
            <value>
                <stringValue>awaiting_payment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>688</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Distant_Care_Service</targetReference>
        </connector>
        <object>CareService__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
