force-app/main/default/flows/DPCA_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Birthday_Notif</name>
        <label>Send Birthday Notif</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Birthday_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Account.FirstName} {!$Record.Account.LastName}  is celebrating their Birthday today !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client&apos;s Birthday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Inactif_DPCA_Notif</name>
        <label>Send Inactif DPCA Notif</label>
        <locationX>1106</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Inactif_DPCA_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You DPCA Case {!$Record.CaseNumber} is inactif</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You have inactif DPCA Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_One_Week_Birthday_Notif</name>
        <label>Send One Week Birthday Notif</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Birthday_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Account.FirstName} {!$Record.Account.LastName} ’s birthday is around the corner ! Surprise them !  7 days left</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client&apos;s Birthday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Two_Weeks_Birthday_Notif</name>
        <label>Send Two Weeks Birthday Notif</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Birthday_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Account.FirstName} {!$Record.Account.LastName} ’s birthday is around the corner ! Surprise them !  14 days left</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client&apos;s Birthday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Birthday_Notif_Receiver</name>
        <label>Set Birthday Notif Receiver</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Birthday_Notif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Incatif_Notif_Receiver</name>
        <label>Set Incatif Notif Receiver</label>
        <locationX>1106</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inactif_DPCA_Notif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Week_Notif_Receiver</name>
        <label>Set One Week Notif Receiver</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_One_Week_Birthday_Notif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Two_Weeks_Notif_Receiver</name>
        <label>Set Two Weeks Notif Receiver</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Two_Weeks_Birthday_Notif</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Birthday_Counter</name>
        <label>Birthday Counter</label>
        <locationX>446</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Two_Weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthdayCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Two_Weeks_Notif_Receiver</targetReference>
            </connector>
            <label>Two Weeks</label>
        </rules>
        <rules>
            <name>One_Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthdayCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_One_Week_Notif_Receiver</targetReference>
            </connector>
            <label>One Week</label>
        </rules>
        <rules>
            <name>Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthdayCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Birthday_Notif_Receiver</targetReference>
            </connector>
            <label>Birthday</label>
        </rules>
    </decisions>
    <decisions>
        <name>DPCA_Notification_Type</name>
        <label>DPCA Notification Type</label>
        <locationX>908</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Birthday_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Birthday_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital_Private_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Birthday_Notification</targetReference>
            </connector>
            <label>Birthday Reminder</label>
        </rules>
        <rules>
            <name>Inactif_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital_Private_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inactif_DPCA_Notification</targetReference>
            </connector>
            <label>Inactif Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_is_DPCA</name>
        <label>RT is DPCA</label>
        <locationX>1271</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDPCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dpcaRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DPCA_Notification_Type</targetReference>
            </connector>
            <label>IsDPCA</label>
        </rules>
    </decisions>
    <description>Add actif owner condition</description>
    <environments>Default</environments>
    <formulas>
        <name>BirthdayCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.TECH_Birthday_Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dpcaRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_DPCA__c}</expression>
    </formulas>
    <interviewLabel>DPCA Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPCA Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Birthday_Notification</name>
        <label>Get Birthday Notification</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Birthday_Counter</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Birthday</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactif_DPCA_Notification</name>
        <label>Get Inactif DPCA Notification</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Incatif_Notif_Receiver</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Inactive_DPCA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RT_is_DPCA</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interested</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
