force-app/main/default/flows/Email_To_Case_Prospect_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an error to administrators when an error occurs</description>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>928</locationX>
        <locationY>219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured in this flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>FlowErrorEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>On button click, create a prospect related to the request</description>
    <formulas>
        <description>Administrator emails for error notifications</description>
        <name>FlowErrorEmail</name>
        <dataType>String</dataType>
        <expression>{!$Label.ICS_Flow_Error_Email}</expression>
    </formulas>
    <formulas>
        <description>Contains the prospect record type id which is store in a custom label</description>
        <name>ProspectRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.ICS_Prospect_RecordTypeID}</expression>
    </formulas>
    <interviewLabel>Email To Case Prospect Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email To Case Prospect Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>On button click, a person account record must be created and flagged as a prospect (use the prospect record type and the isProspect__pc field)</description>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>531</locationX>
        <locationY>87</locationY>
        <assignRecordIdToReference>varProspectID</assignRecordIdToReference>
        <connector>
            <targetReference>Retrieve_contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsProspect__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastContactDate__pc</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varProspectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>varPersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProspectRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typology__pc</field>
            <value>
                <stringValue>Prospects</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the contact that coposed the person account. This is information will then be used to attach the case to the contact through the ContactID field</description>
        <name>Retrieve_contact</name>
        <label>Retrieve contact</label>
        <locationX>534</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attach_Prospect_to_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProspectID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Attaching the newly created prospect (person account) to the original request (case)</description>
        <name>Attach_Prospect_to_Request</name>
        <label>Attach Prospect to Request</label>
        <locationX>536</locationX>
        <locationY>419</locationY>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varProspectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Create_Person_Account</startElementReference>
    <status>Active</status>
    <variables>
        <description>The id of the request from which the flow has been fired</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contains the contact that composed the newly created person account</description>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The person account&apos;s email passed through URL</description>
        <name>varPersonEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The id of the newly created prospect</description>
        <name>varProspectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name  of the prospect to be created</description>
        <name>varProspectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
