force-app/main/default/flows/Exclusive_Campaign_Cancel_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>already_canceled</name>
        <label>already canceled ?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Delete_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Preservation.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_related_Preservation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Exclusive Campaign - Cancel Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exclusive Campaign - Cancel Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Copy_1_of_Delete_Reservation</name>
        <label>Delete Reservation</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Reservation</name>
        <label>Delete Reservation</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_related_Preservation</name>
        <label>Get related Preservation</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>already_canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exclusive_Campaign_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_related_Preservation</name>
        <label>Cancel related Preservation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Delete_Reservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Preservation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.Cancel_Order_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>PreReservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Quota_Not_Reserved</name>
        <label>Make Quota Not Reserved</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_related_Preservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number_Quota__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Quota__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_reserved</name>
        <label>Uncheck reserved</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Make_Quota_Not_Reserved</targetReference>
        </connector>
        <inputAssignments>
            <field>Reserved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_UniqueOrderNumber__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Uncheck_reserved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancel_Order_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IsCanceled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Exclusive_Campaign_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
