force-app/main/default/flows/Exclusive_Campaign_Finalyze_a_Preservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Exclusive Campaign - Finalyze a Preservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exclusive Campaign - Finalyze a Preservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Preservation</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Advisor__c</field>
            <value>
                <elementReference>$Record.Client_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Deposit_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Number__c</field>
            <value>
                <elementReference>$Record.Deposit_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive_Campaign__c</field>
            <value>
                <elementReference>Get_Active_Exclusive_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Date__c</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number_Product__c</field>
            <value>
                <elementReference>$Record.TECH_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number_Quota__c</field>
            <value>
                <elementReference>$Record.Serial_Number2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>$Record.Store__c</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Exclusive_Campaign</name>
        <label>Get Active Exclusive Campaign</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_recordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exclusive_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordType</name>
        <label>get recordType</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locked_Exclusive_Campaign_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Preservation</name>
        <label>Update Preservation</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Exclusive_Campaign_Order__c</field>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Exclusive_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deposit_collected__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deposit_collected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PreReservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
