force-app/main/default/flows/Exclusive_Campaign_Assign_Client_Advisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Exclusive Campaign - Assign Client Advisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exclusive Campaign - Assign Client Advisor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CA</name>
        <label>get CA</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Advisor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Campaign_to_Preservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Active_Campaign_to_Preservation</name>
        <label>Assign Active Campaign&amp;User to Preservation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CA_Name__c</field>
            <value>
                <elementReference>get_CA.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MANAGEMENT_ZONE_LEVEL__c</field>
            <value>
                <elementReference>$Record.Store__r.MANAGEMENT_ZONE_LEVEL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Tech_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Client_Dream_ID__c</field>
            <value>
                <elementReference>Get_Client.DREAMID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Client__c</field>
            <value>
                <elementReference>Get_Client.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Initial_Serial_Number__c</field>
            <value>
                <elementReference>$Record.Serial_Number_Retail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Product_Name__c</field>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Specific_Number_Only__c</field>
            <value>
                <elementReference>$Record.Important_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_CA</targetReference>
        </connector>
        <object>PreReservation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
