force-app/main/default/flows/Exclusive_Campaign_Create_a_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Serial_Number_TEXT</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Serial_Number_Product__c}&lt; 10, 
&apos;0&apos;+TEXT({!$Record.Serial_Number_Product__c}), 
TEXT({!$Record.Serial_Number_Product__c}))</expression>
    </formulas>
    <formulas>
        <name>TECHSERIALNUMBER</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE(VALUE({!$Record.Serial_Number_Quota__r.Name} ),0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Exclusive Campaign - Create a Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exclusive Campaign - Create a Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Exclusive_Campaign</name>
        <label>Get Active Exclusive Campaign</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Client_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exclusive_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Client_Info</name>
        <label>get Client Info</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quota</name>
        <label>Get Quota</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quota_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Serial_Number_TEXT</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclusive_Campaign_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Active_Campaign</name>
        <label>Assign Active Campaign</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Quota</targetReference>
        </connector>
        <inputAssignments>
            <field>Exclusive_Campaign__c</field>
            <value>
                <elementReference>Get_Active_Exclusive_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Tech_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>$Record.Serial_Number_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Artist_Name__c</field>
            <value>
                <elementReference>$Record.Artist_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Client_Dream_ID__c</field>
            <value>
                <elementReference>$Record.Client_Dream_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Client_Name__c</field>
            <value>
                <elementReference>get_Client_Info.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Product_Color__c</field>
            <value>
                <elementReference>$Record.Product__r.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Product_Name__c</field>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SKU__c</field>
            <value>
                <elementReference>$Record.SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Store_Name__c</field>
            <value>
                <elementReference>$Record.Store__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Country__c</field>
            <value>
                <elementReference>$Record.Store__r.StoreCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Quota_0</name>
        <label>Assign Quota</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Make_Quota_RESERVED</targetReference>
        </connector>
        <inputAssignments>
            <field>Serial_Number_Quota__c</field>
            <value>
                <elementReference>Get_Quota.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Quota_RESERVED</name>
        <label>Make Quota RESERVED</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quota.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <object>Quota__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Exclusive_Campaign</targetReference>
        </connector>
        <object>Exclusive_Campaign_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
