force-app/main/default/flows/Exclusive_Campaign_Make_a_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Serial_Number</name>
        <label>Serial Number</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Flow_Serial_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TECH_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_from_Preservation_0_0</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Serial_Number_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Serial_Number__c</picklistField>
        <picklistObject>PreReservation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TECH_Serial_Number</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE(VALUE({!Serial_Number2}),null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Exclusive Campaign - Make a Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exclusive Campaign - Make a Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_from_Preservation_0_0</name>
        <label>Create Order from Preservation</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Fill_Order_in_preservation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Test</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client_Advisor__c</field>
            <value>
                <elementReference>Get_Preservation.Client_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Get_Preservation.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>Deposit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive_Campaign__c</field>
            <value>
                <elementReference>Get_Preservation.Exclusive_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Preservation.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number_Product__c</field>
            <value>
                <elementReference>TECH_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>Get_Preservation.Store__c</elementReference>
            </value>
        </inputAssignments>
        <object>Exclusive_Campaign_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Preservation</name>
        <label>Get Preservation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_a_Reservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PreReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_status_to_reserved</name>
        <label>Change status to reserved</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Serial_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>Deposit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important_Number__c</field>
            <value>
                <elementReference>Preferred_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Serial_Number2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </inputAssignments>
        <object>PreReservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_Order_in_preservation</name>
        <label>Fill Order in preservation</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclusive_Campaign_Order__c</field>
            <value>
                <elementReference>Create_Order_from_Preservation_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>PreReservation__c</object>
    </recordUpdates>
    <screens>
        <name>Make_a_Reservation</name>
        <label>Make a Reservation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_status_to_reserved</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>exclusiveCampaign</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Exclusive Campaign : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Preservation.Exclusive_Campaign__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Client : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Preservation.Client__r.FirstName} {!Get_Preservation.Client__r.LastName}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Information</name>
            <fieldText>Product Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Preservation.Product__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Preferred_Number</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Preservation.Important_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Preferred Number ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Serial_Number2</name>
                    <choiceReferences>Serial_Number_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Preservation.Serial_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Preferred_Number</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DepositAmount</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Deposit_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Preservation.Deposit_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Deposit Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Deposit_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Deposit Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Store_and_CA_Information</name>
            <fieldText>Store and CA Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_and_CA_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Store :&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_and_CA_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>store1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!Get_Preservation.Store__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_and_CA_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Client Advisor : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_and_CA_Information_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!Get_Preservation.Client_Advisor__r.FirstName} {!Get_Preservation.Client_Advisor__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Make a Reservation</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;This serial number is already reserved. Please take another else.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Preservation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Flow_Serial_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
