force-app/main/default/flows/Firm_Order_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_CA</name>
        <label>Alert CA</label>
        <locationX>2576</locationX>
        <locationY>2651</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AlertCA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SPO_BriefName__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Message_order_owner</name>
        <label>Message order owner</label>
        <locationX>1520</locationX>
        <locationY>2219</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The order line item {!$Record.Name} has failed to be sent to MyPR.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SPO_BriefName__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_Update_2</name>
        <label>Post Chatter Update</label>
        <locationX>1125</locationX>
        <locationY>1297</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>FO_Status_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PosttoChatterUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SPO_BriefName__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_AMS_team</name>
        <label>Send email to AMS team</label>
        <locationX>3368</locationX>
        <locationY>3083</locationY>
        <actionName>SPO_FirmOrder__c.SPO_Alert_AMS_team_about_incomplete_orders</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPO_FirmOrder__c.SPO_Alert_AMS_team_about_incomplete_orders</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Distribution_in_progress</name>
        <label>Distribution in progress</label>
        <locationX>2572</locationX>
        <locationY>2435</locationY>
        <defaultConnector>
            <targetReference>SPO_Sent_from_RWH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDistributioninprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Received in store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent to MyPR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Firm_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Firm_Order_is_new</name>
        <label>Firm Order is new</label>
        <locationX>1256</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Has_a_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFirmOrderisnew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderlineitemisNewandByPass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_firm_order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FO_Status_Changed</name>
        <label>FO Status Changed</label>
        <locationX>1256</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>New_Perso_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFOStatusChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_cancelled_set_Cancellation_Date_and_Creation_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_product</name>
        <label>Has a product</label>
        <locationX>1256</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Planned_Mfg_Date_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasaproduct</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductCatalogue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>interfacelvds@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Image_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incomplete_order_to_be_sent_to_JDE</name>
        <label>Incomplete order to be sent to JDE</label>
        <locationX>3566</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>Last_FO_to_be_cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIncompleteordertobesenttoJDE</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incomplete_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlannedDeliveryDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductSKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirmOrderNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductWorkshop__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_TechETLStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_TechETLStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_send_the_Firm_Order_to_JDE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_FO_to_be_cancelled</name>
        <label>Last FO to be cancelled</label>
        <locationX>3764</locationX>
        <locationY>2975</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesLastFOtobecancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPO_BriefName__r.TECH_Nb_FO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_cancel_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Perso_order</name>
        <label>New Perso order</label>
        <locationX>1256</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>New_Perso_order_Exo_Mat_Workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNewPersoorder</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.Is_Dup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Product_Exo_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Product_Hard_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Product_NoExport_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Perso_firm_order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Perso_order_Exo_Mat_Workflow</name>
        <label>New Perso order - Exo. Mat. Workflow</label>
        <locationX>1469</locationX>
        <locationY>1998</locationY>
        <defaultConnector>
            <targetReference>Send_to_MyPR_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNewPersoorder_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.Is_Dup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Product_Exo_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Statuses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Planned_Mfg_Date_Modified</name>
        <label>Planned Mfg. Date Modified</label>
        <locationX>1256</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>FO_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPlannedMfgDateModified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planned_Manufacturing_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPO_Update_all_FOs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Production_in_Progress</name>
        <label>Production in Progress</label>
        <locationX>2047</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Sent_to_MyPR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProductioninProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_TechETLStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_TechETLStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation in progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Firm_Order_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Received_in_Store</name>
        <label>Received in Store</label>
        <locationX>3335</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Incomplete_order_to_be_sent_to_JDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesReceivedinStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received in store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReceivedinStoreDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_to_MyPR_failed</name>
        <label>Send to MyPR failed</label>
        <locationX>1783</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Production_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSendtoMyPRfailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendtoMyPRfailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_order_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_from_Regional_WH</name>
        <label>Sent from Regional WH</label>
        <locationX>3087</locationX>
        <locationY>2651</locationY>
        <defaultConnector>
            <targetReference>Received_in_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSentfromRegionalWH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent from regional WH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eco_Update_Order_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_to_MyPR</name>
        <label>Sent to MyPR</label>
        <locationX>2310</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Distribution_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSenttoMyPR</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to MyPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_FirmOrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to MyPR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FO_Status_Dist_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Sent_from_RWH</name>
        <label>SPO - Sent from RWH</label>
        <locationX>2831</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Sent_from_Regional_WH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOSentfromRWH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DistributionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent from regional WH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderLineItemByPassBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Hasaproduct</name>
        <dataType>Boolean</dataType>
        <expression>AND (
  NOT({!$Record.LastModifiedBy.BypassWF__c}),
  NOT(ISNULL({!$Record.ProductCatalogue__c})),
  NOT(ISNEW()),

/* Skip flow on ETL updates */
  NOT(BEGINS({!$Record.LastModifiedBy.Username}, &apos;interfacelvds@louisvuitton.com&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LastFOtobecancelled</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!$Record.TECH_Nb_FO_cancelled__c} = 
    {!$Record.SPO_BriefName__r.TECH_Nb_FO__c},
    PRIORVALUE({!$Record.TECH_Nb_FO_not_cancelled__c}) = 1,
    BEGINS(TEXT({!$Record.SPO_FirmOrderStatus__c}), &quot;Cancelled&quot;) 
) /*MIY-1919*/</expression>
    </formulas>
    <formulas>
        <name>New_Planned_Delivery_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Manufacturing_Date__c} + {!$Record.EstimatedLeadTimeTable__c}</expression>
    </formulas>
    <formulas>
        <name>NewPersoorder</name>
        <dataType>Boolean</dataType>
        <expression>AND (
  NOT({!orderLineItemByPassBoolean}),
  ISNEW(),
  OR (
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;PERSO&apos;),
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;ECO&apos;)
  ),
  NOT({!$Record.SPO_BriefName__r.Is_Dup__c}),
  NOT({!$Record.TECH_Product_Exo_Workflow__c}),
  NOT({!$Record.TECH_Product_Hard_Workflow__c})
)</expression>
    </formulas>
    <formulas>
        <name>NewPersoorder_1</name>
        <dataType>Boolean</dataType>
        <expression>AND (
  NOT({!orderLineItemByPassBoolean}),
  ISNEW(),
  OR (
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;PERSO&apos;),
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;ECO&apos;)
  ),
  NOT({!$Record.SPO_BriefName__r.Is_Dup__c}),
  NOT({!$Record.TECH_Product_Exo_Workflow__c}),
  NOT({!$Record.TECH_Product_Hard_Workflow__c}),
 NOT({!$Record.TECH_Product_NoExport_Workflow__c})
)</expression>
    </formulas>
    <formulas>
        <name>NewPersoorderExoMatWorkflow</name>
        <dataType>Boolean</dataType>
        <expression>AND (
  NOT({!orderLineItemByPassBoolean}),
  ISNEW(),
  OR (
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;PERSO&apos;),
    ISPICKVAL({!$Record.SPO_BriefName__r.ApplicationSource__c}, &apos;ECO&apos;)
  ),
  NOT({!$Record.SPO_BriefName__r.Is_Dup__c}),
  {!$Record.TECH_Product_Exo_Workflow__c}
)</expression>
    </formulas>
    <formulas>
        <name>Old_Planned_Mfg_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
ISBLANK(PRIORVALUE({!$Record.Planned_Manufacturing_Date__c})), 
PRIORVALUE({!$Record.PlannedDeliveryDate__c}), 
PRIORVALUE({!$Record.Planned_Manufacturing_Date__c})
)</expression>
    </formulas>
    <formulas>
        <name>orderLineItemByPassBoolean</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.LastModifiedBy.BypassWF__c}</expression>
    </formulas>
    <formulas>
        <name>orderlineitemisNewandByPass</name>
        <dataType>Boolean</dataType>
        <expression>AND (
  NOT ({!$Record.LastModifiedBy.BypassWF__c}),
  ISNEW()
)</expression>
    </formulas>
    <formulas>
        <name>PostChatterUpdate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Manufacturing_Date__c} + {!$Record.EstimatedLeadTimeTable__c}</expression>
    </formulas>
    <formulas>
        <name>SendtoMyPRfailed</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISPICKVAL(PRIORVALUE({!$Record.SPO_TechETLStatus__c}), &quot;STOCK&quot;) ,
    ISBLANK(TEXT({!$Record.SPO_TechETLStatus__c}))
)</expression>
    </formulas>
    <formulas>
        <name>Updatefirmorder</name>
        <dataType>String</dataType>
        <expression>/* oppty order number + line number (3 digits) */
{!$Record.SPO_BriefName__r.OrderNumber__c} + 
LPAD(
  TEXT({!$Record.LineNumber__c}),
  3,
  &apos;0&apos;
)</expression>
    </formulas>
    <interviewLabel>Firm Order Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Firm Order Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Do_not_send_the_Firm_Order_to_JDE</name>
        <label>Do not send the Firm Order to JDE</label>
        <locationX>3368</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Send_email_to_AMS_team</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Eco_Update_Order_Status</name>
        <label>Eco - Update Order Status</label>
        <locationX>2840</locationX>
        <locationY>2759</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Nb_FO_Sent_from_RWH__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SPO_BriefName__r.TECH_Nb_FO_not_cancelled__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Closed_Won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>If_cancelled_set_Cancellation_Date_and_Creation_Status</name>
        <label>If cancelled, set Cancellation Date and Creation Status</label>
        <locationX>1124</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Prod_in_prog_update_workshop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPO_FirmOrderStatus__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Prod_in_prog_update_workshop</name>
        <label>Prod. in prog., update workshop</label>
        <locationX>1124</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>New_Perso_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPO_FirmOrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Init_Product_Workshop_Name__c</field>
            <value>
                <elementReference>$Record.ProductWorkshopName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Init_Product_Workshop__c</field>
            <value>
                <elementReference>$Record.ProductWorkshop__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_FO_Status_Dist_Status</name>
        <label>Set FO Status &amp; Dist. Status</label>
        <locationX>2048</locationX>
        <locationY>2435</locationY>
        <inputAssignments>
            <field>DistributionStatus__c</field>
            <value>
                <stringValue>Sent to MyPR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Sent to MyPR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Statuses</name>
        <label>Set Statuses</label>
        <locationX>1256</locationX>
        <locationY>2111</locationY>
        <inputAssignments>
            <field>Creation_Status__c</field>
            <value>
                <stringValue>New Order</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SPO_Update_all_FOs</name>
        <label>[SPO] Update all FOs</label>
        <locationX>1124</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Post_Chatter_Update_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_ParentOrderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPO</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Planned_Manufacturing_Date__c</field>
            <value>
                <elementReference>$Record.Planned_Manufacturing_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_firm_order</name>
        <label>Update firm order</label>
        <locationX>1124</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>FirmOrderNumber__c</field>
            <value>
                <elementReference>Updatefirmorder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Updatefirmorder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Firm_Order_2</name>
        <label>Update Firm Order</label>
        <locationX>1784</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_MyPR_Firm_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationTarget__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MYPR</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Production in progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Substatus__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MyPR_Firm_Order</name>
        <label>Update MyPR Firm Order</label>
        <locationX>1784</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Update_workshop_init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MYPR</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DistributionStatus__c</field>
            <value>
                <stringValue>Sent to MyPR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Sent to MyPR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Substatus__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_cancel_fields</name>
        <label>Update Order cancel fields</label>
        <locationX>3632</locationX>
        <locationY>3083</locationY>
        <inputAssignments>
            <field>SPO_StopBriefComment__c</field>
            <value>
                <elementReference>$Record.Cancellation_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefReason__c</field>
            <value>
                <elementReference>$Record.Cancellation_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>1124</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Has_a_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Creation_in_progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Perso_firm_order</name>
        <label>Update Perso firm order</label>
        <locationX>992</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ReceivedinStoreDate</name>
        <label>Update ReceivedinStoreDate</label>
        <locationX>3104</locationX>
        <locationY>2867</locationY>
        <inputAssignments>
            <field>DistributionStatus__c</field>
            <value>
                <stringValue>Received in store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_ReceivedInStoreDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Firm_Order</name>
        <label>Update Status Firm Order</label>
        <locationX>2312</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SPO_FirmOrderStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distribution in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Distribution in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_workshop_init</name>
        <label>Update workshop init</label>
        <locationX>1784</locationX>
        <locationY>2543</locationY>
        <inputAssignments>
            <field>Init_Product_Workshop_Name__c</field>
            <value>
                <elementReference>$Record.ProductWorkshopName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Init_Product_Workshop__c</field>
            <value>
                <elementReference>$Record.ProductWorkshop__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1130</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Firm_Order_is_new</targetReference>
        </connector>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Update_Product_Image_field</name>
        <label>Update Product Image field</label>
        <locationX>1123</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Planned_Mfg_Date_Modified</targetReference>
        </connector>
        <flowName>Update_Product_Image_field</flowName>
        <inputAssignments>
            <name>FirmOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AlertCA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The product of your order {!$Record.SPO_BriefName__r.Name} ({!$Record.SPO_BriefName__r.OrderNumber__c}) has been sent from Regional Warehouse&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PosttoChatterUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Updated lead time for {!$Record.Name}: planned manufacturing date is now {!$Record.Planned_Manufacturing_Date__c} and you should expect the product in store on {!New_Planned_Delivery_Date}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@[{!$Record.SPO_BriefName__r.OwnerId}]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>IfcancelledsetCancellationDateandCreationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </variables>
</Flow>
