force-app/main/default/flows/Fluid_Recipe_Threekit_Id_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Fluid_Recipe_Id_Type</name>
        <label>Check Fluid Recipe Id Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Fluid Recipe Id</defaultConnectorLabel>
        <rules>
            <name>Threekit_Short_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAlphanumeric</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Threekit_Short_Id</targetReference>
            </connector>
            <label>Threekit Short Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsAlphanumeric</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNUMBER({!$Record.FluidRecipeId__c}))</expression>
    </formulas>
    <interviewLabel>Fluid Recipe Threekit Id Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluid Recipe Threekit Id Split</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Threekit_Short_Id</name>
        <label>Update Threekit Short Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Threekit_Short_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Threekit_Short_Id__c</field>
            <value>
                <elementReference>$Record.FluidRecipeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Fluid_Recipe_Id_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FluidRecipeId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Threekit_Short_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
