force-app/main/default/flows/GenesysEmailTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Case_ID</name>
        <label>Case ID</label>
        <locationX>506</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genesys_Email_External_Routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Case_ID</name>
        <label>Child Case ID</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Child.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genesys_Email_External_Routing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_status</name>
        <label>Case Status</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Child</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <description>Add origin to Email hardcoded</description>
    <environments>Default</environments>
    <interviewLabel>Genesys Email Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Genesys Email Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Child</name>
        <label>Get Last Child</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Case_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Case_status</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Genesys_Email_External_Routing</name>
        <label>Genesys Email External Routing</label>
        <locationX>374</locationX>
        <locationY>744</locationY>
        <flowName>GenesysCaseRouting</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Country</name>
            <value>
                <elementReference>$Record.Parent.TECH_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailCustomer</name>
            <value>
                <elementReference>$Record.Parent.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsSpam</name>
            <value>
                <elementReference>$Record.Parent.Spam__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Origin</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueName</name>
            <value>
                <elementReference>$Record.Parent.TECH_Queue__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
