force-app/main/default/flows/GenesysCaseRouting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsGeneysMigratedQueue.CountryIso3Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Genesys_Routing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_IsMigrated</name>
        <label>Case Is Migrated</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsGeneysMigratedQueue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Is_Empty</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_EmailWebChatbot</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chatbot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsGeneysMigratedQueue</targetReference>
            </connector>
            <label>Email + WebForm + ChatBot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Is_Empty</name>
        <label>Country Empty ?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Genesys_Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Spam</name>
        <label>Is Not Spam</label>
        <locationX>781</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSpam</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecipientFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!Origin} == &apos;Email&apos; || ( {!Origin} == &apos;Web&apos; &amp;&amp; BEGINS(LOWER({!QueueName}), &apos;care_service&apos; ) ),{!IsGeneysMigratedQueue.TargetEmail__c},
 {!Recipient}
)</expression>
    </formulas>
    <interviewLabel>Genesys Email Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Genesys Case Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Genesys_Routing</name>
        <label>Create Genesys Routing</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>purecloud__Attributes__c</field>
            <value>
                <stringValue>Country={!Country},From={!EmailCustomer},Origin={!Origin},To={!RecipientFormula}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purecloud__Inbound_Email_Flow__c</field>
            <value>
                <stringValue>CSC LVM Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purecloud__Remote_Name__c</field>
            <value>
                <elementReference>EmailCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purecloud__Salesforce_Object_ID__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>purecloud__PureCloud_Routing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>IsGeneysMigratedQueue</name>
        <label>Genesys Migrated Queue</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_IsMigrated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MigratedToGenesys__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ICX_Queue__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Not_Spam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSpam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
