force-app/main/default/flows/ICONICS_Case_Creation_from_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <description>Holds the record type id of &quot;Call&quot; case</description>
        <name>VarCaseCallRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CallRecordTypeID__c}</expression>
    </formulas>
    <interviewLabel>ICONICS - Case Creation from Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICONICS - Case Creation from Task</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Creation</name>
        <label>Case Creation</label>
        <locationX>416</locationX>
        <locationY>267</locationY>
        <assignRecordIdToReference>VarCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>TaskWhatId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SObjVarTask.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>SObjVarTask.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SObjVarTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>SObjVarTask.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SObjVarTask.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>SObjVarTask.Domaine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SObjVarTask.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>SObjVarTask.Product_Sku__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>SObjVarTask.Product_SKU_Unknown__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarCaseCallRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SObjVarTask.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>SObjVarTask.Nature__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>LookupTask</name>
        <label>LookupTask</label>
        <locationX>418</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>SObjVarTask</outputReference>
        <queriedFields>Nature__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Domaine__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Product_Sku__c</queriedFields>
        <queriedFields>Product_SKU_Unknown__c</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>TaskWhatId</name>
        <label>TaskWhatId</label>
        <locationX>417</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>FINISH_SCREEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <description>Indicates the end of the flow</description>
        <name>FINISH_SCREEN</name>
        <label>FINISH SCREEN</label>
        <locationX>663</locationX>
        <locationY>404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>A request has been created successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>LookupTask</startElementReference>
    <status>Draft</status>
    <variables>
        <name>SObjVarTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskCallRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
