force-app/main/default/flows/ICX_Lookup_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Mandatory_fields</name>
        <label>Mandatory fields</label>
        <locationX>386</locationX>
        <locationY>649</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_missing_Screen</targetReference>
            </connector>
            <label>Country is empty</label>
        </rules>
        <rules>
            <name>Client_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Validation</targetReference>
            </connector>
            <label>Client is empty</label>
        </rules>
        <rules>
            <name>Resolution_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CasePODwithoutSkuRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CasePODwithSkuRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseDpcaRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Categorization_is_missing</targetReference>
            </connector>
            <label>Resolution is empty</label>
        </rules>
        <rules>
            <name>Status_not_closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VarIsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CasePODwithoutSkuRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCaseRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CasePODwithSkuRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_your_request</targetReference>
            </connector>
            <label>Status not closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object ?</label>
        <locationX>379</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Mandatory_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Live_Chat</targetReference>
            </connector>
            <label>Live Chat</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Messaging_Session</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <description>Skip lookup qualification for DPCA</description>
    <environments>Default</environments>
    <formulas>
        <description>Depending on where the Request Creation is requested (from a new call/case/chat... OR &apos;New Request&apos; button)</description>
        <name>AccountAgentScript</name>
        <dataType>String</dataType>
        <expression>IF({!isNewQualification} == true, &apos;ICX_Flow_Account_SpeakingScript&apos;, &apos;ICX_Flow_RequestSelection_Account_Header&apos;)</expression>
    </formulas>
    <formulas>
        <description>Display which icon</description>
        <name>AccountAgentScriptIcon</name>
        <dataType>String</dataType>
        <expression>IF ({!isNewQualification} == true, &apos;Script&apos;, &apos;Header&apos;)</expression>
    </formulas>
    <formulas>
        <name>CaseDpcaRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_DPCA__c}</expression>
    </formulas>
    <formulas>
        <description>Web&amp;Email record type ID from Case object</description>
        <name>CaseEmailRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Record Type of POD without sku from Case</description>
        <name>CasePODwithoutSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRTWaitingListID__c}</expression>
    </formulas>
    <formulas>
        <description>record type ID from POD with sku in case object</description>
        <name>CasePODwithSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_MyPR_ID__c}</expression>
    </formulas>
    <interviewLabel>ICX_Lookup&amp;Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_Lookup&amp;Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>515</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupQualificationProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>Collection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPODComment</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCurrency</assignToReference>
            <field>Currency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDomaine</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarIsClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceID</assignToReference>
            <field>My_Repairs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOrigin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product_Sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_Sku_unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCaseRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarResolution</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarStoreID</assignToReference>
            <field>Store__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>TECH_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNature</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Live_Chat</name>
        <label>Lookup Live Chat</label>
        <locationX>843</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupQualificationProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDomaine</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNature</assignToReference>
            <field>Nature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product_SKU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarResolution</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Messaging_Session</name>
        <label>Lookup Messaging Session</label>
        <locationX>1003</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupQualificationProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>VarCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDomaine</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>EndUserAccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>EndUserContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNature</assignToReference>
            <field>Nature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product_SKU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarResolution</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Running_User</name>
        <label>Lookup Running User</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRunningUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VarDefaultStoreUser</assignToReference>
            <field>DefaultStore__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>710</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupQualificationProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDomaine</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>ICX_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceID</assignToReference>
            <field>My_Repairs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNature</assignToReference>
            <field>Nature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPhoneNumber</assignToReference>
            <field>Phone_Calling_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product_Sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarResolution</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarStoreID</assignToReference>
            <field>Store_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup on tab Product Enquired -&gt; product attached to the task, case, Live Chat, etc...</description>
        <name>LookupQualificationProduct</name>
        <label>LookupQualificationProduct</label>
        <locationX>694</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandatory_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>VarContactPreference</assignToReference>
            <field>ClientContactPreference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarClientDesiredDate</assignToReference>
            <field>ClientDesiredDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarHotSku</assignToReference>
            <field>HotSku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCurrency</assignToReference>
            <field>ProductCurrency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductPrice</assignToReference>
            <field>ProductUnitPrice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCAName</assignToReference>
            <field>Store_ClientAdvisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductStore</assignToReference>
            <field>Store__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Categorization_is_missing</name>
        <label>Categorization is missing</label>
        <locationX>197</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CategorizationMandatory</name>
            <fieldText>In order to continue, please categorize your call, request or live chat before creating a new request.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Validation</name>
        <label>Client Validation</label>
        <locationX>382</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mandatory_fields</targetReference>
        </connector>
        <fields>
            <name>ClientValidationHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>AccountAgentScriptIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>AccountAgentScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountValidation</name>
            <extensionName>c:ICX_Flow_Account</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showContactabilityValidation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarAccountID</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AccountFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_your_request</name>
        <label>Close your request</label>
        <locationX>663</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloseYourCaseScreen</name>
            <fieldText>You can&apos;t have 2 demands for product (with or without sku) in Open status at the same time. Please, change the status of your first demand</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Country_missing_Screen</name>
        <label>Country is missing</label>
        <locationX>530</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mandatory_fields</targetReference>
        </connector>
        <fields>
            <name>CountryMissing</name>
            <fieldText>In order to continue, please complete the country of your call, request or live chat before creating a new request.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryPicklist</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>TECH_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarCountry</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Running_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Useful to know which Custom Label is displayed for Account screen</description>
        <name>isNewQualification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>sObject name (ex: Case, Calling_Campaign_Order__c...)</description>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarClientDesiredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactPreference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCurrency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDefaultStoreUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDomaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarHotSku</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIsClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarObjTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPODComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductGender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRunningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
