force-app/main/default/flows/ICX_OE_Store_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>noRecordsNotificationEmail</name>
        <label>noRecordsNotificationEmail</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!$Setup.IconicsSettings__c.CurrentNoReply__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No record found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>No User found to send the email notification for the store selected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmailToUserStore</name>
        <label>sendEmailToUserStore</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getStoreRecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!$Setup.IconicsSettings__c.CurrentNoReply__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required - New Operation Exception</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateBodyOEStore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>getStoreRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>URLLightningCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>lightning/r/Case/</stringValue>
        </value>
    </constants>
    <constants>
        <name>URLLinkView</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/view</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkIfParam</name>
        <label>checkIfParam</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>withRecordtId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordCase</targetReference>
            </connector>
            <label>withRecordtId</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfRecordCase</name>
        <label>checkIfRecordCase</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>withRecordCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStore</targetReference>
            </connector>
            <label>withRecordCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfRecords</name>
        <label>checkIfRecords</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>noRecordsNotificationEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmailToUserStore</targetReference>
            </connector>
            <label>recordsFound</label>
        </rules>
    </decisions>
    <description>Flow is launched in the CaseTriggerHandler apex class (after insert) with future method</description>
    <environments>Default</environments>
    <formulas>
        <name>URLCaseLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!URLLightningCase} + {!recordId} + {!URLLinkView} + &apos;?ws=%2Flightning%2Fr%2FAccount%2F&apos; + {!getRecordCase.Account.Id} + &apos;%2Fview&apos;</expression>
    </formulas>
    <interviewLabel>ICX_OE_Store_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_OE_Store_Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordCase</name>
        <label>getRecordCase</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfRecordCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStore</name>
        <label>getStore</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStoreRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordCase.Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get email of store related to the case</description>
        <name>getStoreRecord</name>
        <label>getStoreRecord</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DefaultStore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStore.RetailStoreId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>store_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfParam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>URL of OE assigned to Store</description>
        <name>EmailTemplateBodyOEStore</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The request {!URLCaseLinkFormula} is assigned to your Store.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
