force-app/main/default/flows/ICX_Phoenix_MyCR_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Is Client Service Japan store? No need to create a Request to Store</description>
        <name>Is_CSC_Store</name>
        <label>Is CSC Store?</label>
        <locationX>921</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>Request_to_Store_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Service_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarStoreType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Screen_Client_Service</targetReference>
            </connector>
            <label>Is Client Service Store</label>
        </rules>
    </decisions>
    <description>Add Service Client Japan Store</description>
    <formulas>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>For the case creation, use the product of the order to complete the field Unknow product on case</description>
        <name>UnknowProductFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Remanufactured Sku: &quot;+{!ObjCallingCampaignOrder.Sku_Order__c}</expression>
    </formulas>
    <interviewLabel>ICX_Phoenix_MyCR_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calling Campaign - MyCR Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MyCR_Creation</name>
        <label>MyCR Creation</label>
        <locationX>397</locationX>
        <locationY>332</locationY>
        <assignRecordIdToReference>VarCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_Case_to_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ObjCallingCampaignOrder.TECH_Client_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Phoenix</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>ObjCallingCampaignOrder.Pick_up_Store_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObjCallingCampaignOrder.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>UnknowProductFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Request to Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>ObjCallingCampaignOrder.Pick_up_Store__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Service and General Information</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Calling_Campaign_Order</name>
        <label>Lookup Calling Campaign Order</label>
        <locationX>392</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOrderId</elementReference>
            </value>
        </filters>
        <object>Calling_Campaign_Order__c</object>
        <outputReference>ObjCallingCampaignOrder</outputReference>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Pick_up_Store__c</queriedFields>
        <queriedFields>Pick_up_Store_Country__c</queriedFields>
        <queriedFields>TECH_Client_ID__c</queriedFields>
        <queriedFields>Calling_Campaign_Product__c</queriedFields>
        <queriedFields>Sku_Order__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Store</name>
        <label>Lookup Store</label>
        <locationX>620</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CSC_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjCallingCampaignOrder.Pick_up_Store__c</elementReference>
            </value>
        </filters>
        <object>Store__c</object>
        <outputAssignments>
            <assignToReference>VarStoreType</assignToReference>
            <field>StoreType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Link_Case_to_Campaign</name>
        <label>Link Case to Campaign</label>
        <locationX>401</locationX>
        <locationY>491</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>VarCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Calling_Campaign_Order__c</object>
    </recordUpdates>
    <screens>
        <description>Impossible to Create a Request to Store because the Pick up Store is a Client Service Store</description>
        <name>End_Screen_Client_Service</name>
        <label>End Screen Client Service</label>
        <locationX>1224</locationX>
        <locationY>135</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Client requests are only for physical stores.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_to_Store_Comment</name>
        <label>Request to Store Comment</label>
        <locationX>396</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MyCR_Creation</targetReference>
        </connector>
        <fields>
            <name>Case_Description</name>
            <dataType>String</dataType>
            <fieldText>Add comment to Store</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Calling_Campaign_Order</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessageClientServiceRequesttoStore</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Impossible to Create a Request to Store because the Pick up Store is a Client Service Store</text>
    </textTemplates>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjCallingCampaignOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calling_Campaign_Order__c</objectType>
    </variables>
    <variables>
        <name>VarCaseCommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPickUpStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
