force-app/main/default/flows/ICX_CaseTeam_OperationException.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Back_Office_or_Warehouse_or_Supply_Management</name>
        <label>Back Office or Warehouse or Supply Management</label>
        <locationX>795</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseTeamTemplateDescription</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Back Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Back_Office_on_Case</targetReference>
            </connector>
            <label>Back Office</label>
        </rules>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseTeamTemplateDescription</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Warehouse_on_Case</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
        <rules>
            <name>Supply_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseTeamTemplateDescription</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supply Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supply_Management_on_Case</targetReference>
            </connector>
            <label>Supply Management</label>
        </rules>
    </decisions>
    <description>Roll back of NI-2507</description>
    <environments>Default</environments>
    <interviewLabel>ICX_Case_OperationException {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_CaseTeam_OperationException</label>
    <loops>
        <name>Loop_Case_Team_Template_Record</name>
        <label>Loop Case Team Template Record</label>
        <locationX>534</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>CollectionCaseTeamTemplateRecord</assignNextValueToReference>
        <collectionReference>ObjCaseTeamTemplateRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Case_Team_Description</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Team_Description</name>
        <label>Get Case Team Description</label>
        <locationX>681</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Back_Office_or_Warehouse_or_Supply_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionCaseTeamTemplateRecord.TeamTemplateId</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplate</object>
        <outputAssignments>
            <assignToReference>VarCaseTeamTemplateDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCaseTeamTemplateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Template_ID</name>
        <label>Get Case Team Template ID</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_Team_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateRecord</object>
        <outputReference>ObjCaseTeamTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamTemplateId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Back_Office_on_Case</name>
        <label>Update Back Office on Case</label>
        <locationX>307</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Loop_Case_Team_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_BO_Case_Team__c</field>
            <value>
                <elementReference>VarCaseTeamTemplateName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>To update PoD BO on Case</description>
        <name>Update_Supply_Management_on_Case</name>
        <label>Update Supply Management on Case</label>
        <locationX>499</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Loop_Case_Team_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_SM_Case_Team__c</field>
            <value>
                <elementReference>VarCaseTeamTemplateName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warehouse_on_Case</name>
        <label>Update Warehouse on Case</label>
        <locationX>588</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Loop_Case_Team_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_WH_Case_Team__c</field>
            <value>
                <elementReference>VarCaseTeamTemplateName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Team_Template_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionCaseTeamTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>ObjCaseTeamTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateRecord</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseTeamTemplateDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseTeamTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
