force-app/main/default/flows/ICX_Order_Update_OwnerID_ParentRoleID_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>506</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_OwnerID_ParentRoleID_c_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owner_Parent_Role_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OwnerID_ParentRoleID_c</targetReference>
            </connector>
            <label>Update OwnerID_ParentRoleID__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_OwnerID_Blank</name>
        <label>is OwnerID Blank</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerID_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>OwnerID Blank</label>
        </rules>
        <rules>
            <name>OwnerID_ParentRoleID_c_need_to_update_to_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerID_ParentRoleID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OwnerID_ParentRoleID_c_to_NULL</targetReference>
            </connector>
            <label>OwnerID_ParentRoleID__c need to update to Blank</label>
        </rules>
    </decisions>
    <description>update OwnerID_ParentRoleID__c on order creation and update</description>
    <environments>Default</environments>
    <interviewLabel>ICX Order Update OwnerID_ParentRoleID__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX Order Update OwnerID_ParentRoleID__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Owner_Parent_Role_ID</name>
        <label>Get Owner Parent Role ID</label>
        <locationX>506</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owner_Role.ParentRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Role</name>
        <label>Get Owner Role</label>
        <locationX>506</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Parent_Role_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId__r.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OwnerID_ParentRoleID_c</name>
        <label>Update OwnerID_ParentRoleID__c</label>
        <locationX>374</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>OwnerID_ParentRoleID__c</field>
            <value>
                <elementReference>Get_Owner_Parent_Role_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerID_ParentRoleID_c_to_NULL</name>
        <label>Update OwnerID_ParentRoleID__c to NULL</label>
        <locationX>110</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerID_ParentRoleID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_OwnerID_Blank</targetReference>
        </connector>
        <filterFormula>OR(AND(ISNEW(),NOT(ISBLANK({!$Record.OwnerId__c}))),ISCHANGED({!$Record.OwnerId__c}),AND(ISBLANK({!$Record.OwnerID_ParentRoleID__c}),NOT(ISBLANK({!$Record.OwnerId__c}))))</filterFormula>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
