force-app/main/default/flows/ICX_Queue_MDT_OwnerToPriorityQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Result</name>
        <label>Result?</label>
        <locationX>384</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Queue_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Queue not empty</label>
        </rules>
    </decisions>
    <description>[ICONiCS] Change the queue owner to the priority queue. 
Use the &quot;ICX_Queue__mdt&quot; MetaData Type. 
Retrieve the queue ID according to the queue developer Name</description>
    <interviewLabel>ICX_Queue_MDT_OwnerToPriorityQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_Queue_MDT_OwnerToPriorityQueue</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Priority_Queue_Dev_Name</name>
        <label>Search Priority Queue Dev Name</label>
        <locationX>383</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Priority_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQueueDeveloperName</elementReference>
            </value>
        </filters>
        <object>ICX_Queue__mdt</object>
        <outputReference>VarObjQueueMDT</outputReference>
        <queriedFields>PriorityQueueDeveloperName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Priority_Queue_Id</name>
        <label>Search Priority Queue Id</label>
        <locationX>383</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarObjQueueMDT.PriorityQueueDeveloperName__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VarQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>386</locationX>
        <locationY>491</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Search_Priority_Queue_Dev_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarObjQueueMDT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ICX_Queue__mdt</objectType>
    </variables>
    <variables>
        <name>VarQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
