force-app/main/default/flows/ICX_New_Call_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Multi_Match</name>
        <label>Get Multi Match</label>
        <locationX>2932</locationX>
        <locationY>566</locationY>
        <actionName>ICX_AccountIdsInvoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Multiple_Account_Identified_Case</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varClientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ICX_AccountIdsInvoc</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetAccountIds</name>
        <label>Get Account IDs</label>
        <locationX>1084</locationX>
        <locationY>350</locationY>
        <actionName>ICX_AccountIdsInvoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setOutputToIdCollection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>AccIdIdentified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>direction</name>
            <value>
                <elementReference>varTaskInOut</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>VarTaskPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ICX_AccountIdsInvoc</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Open_Created_Task</name>
        <label>Open Created Task</label>
        <locationX>2382</locationX>
        <locationY>4238</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UpdateScreen</name>
        <label>UpdateScreen</label>
        <locationX>3658</locationX>
        <locationY>2714</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UpdateScreen_Finish</name>
        <label>UpdateScreen Finish</label>
        <locationX>2250</locationX>
        <locationY>4538</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>For case with Request to Store resolution chosen, we will apply a &apos;fake&apos; resolution in order to be able to update the request. (Avoid Validation rule on Store and client mandatory). This process will continue in Request Creation flow</description>
        <name>Assign_Case_Resolution</name>
        <label>Assign Case Resolution</label>
        <locationX>3306</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>VarTaskResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Creation (MyCR - POD - Request)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>2800</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountIdSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactCheck.firstSelectedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpadteCaseContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Published on channel messaging then update the Highlight cmp</description>
        <name>Assign_WhatId</name>
        <label>Assign WhatId</label>
        <locationX>1216</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountIds.whatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Distant_Order</name>
        <label>Assignment Distant Order</label>
        <locationX>666</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>VarDistantOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distant_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the right Task record type for Call</description>
        <name>Call_record_type_assignment</name>
        <label>Call record type assignment</label>
        <locationX>2008</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_Call_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Response_Required_option</name>
        <label>No Response Required option</label>
        <locationX>2800</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>VarTaskNature</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskCategory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskDomaine</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NRR_Option</name>
        <label>NRR Option</label>
        <locationX>3218</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>VarTaskResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskCategory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskDomaine</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Country_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOutputToIdCollection</name>
        <label>setOutputToIdCollection</label>
        <locationX>1084</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountIds.accountCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Account_Identified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setResolution</name>
        <label>setResolution</label>
        <locationX>2206</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>VarTaskResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCaseResolution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSelectedAccountToVarAccountId</name>
        <label>setSelectedAccountToVarAccountId</label>
        <locationX>952</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountTable.firstSelectedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTaskAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TransferOption</name>
        <label>Transfer Option</label>
        <locationX>3636</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>VarTaskResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskCategory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskDomaine</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Country_Empty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceInboundCall</name>
        <choiceText>Inbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOutboundCall</name>
        <choiceText>Outbound Call (Daily Follow-up)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Call (Daily Follow-up)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTaskClientelingCall</name>
        <choiceText>Clienteling Call</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FormulaClientelingCallRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceTaskICONICSCall</name>
        <choiceText>ICONiCS Call</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FormulaTaskIconicsCallRT</elementReference>
        </value>
    </choices>
    <constants>
        <name>EmailComposer_NoResponseRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Response Required</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Country_Empty</name>
        <label>Country Empty</label>
        <locationX>3636</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Update_NRR_Transfer_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_Case_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Screen</targetReference>
            </connector>
            <label>Country Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_the_Email_Composer</name>
        <label>Display the Email Composer?</label>
        <locationX>2987</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_or_Webform</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRTWebEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRTCareService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Picking</targetReference>
            </connector>
            <label>Email or Webform?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Composer_Selection</name>
        <label>Email Composer Selection ?</label>
        <locationX>2932</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Response_Required_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailComposer_ButtonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Response_Required_option</targetReference>
            </connector>
            <label>No Response Required selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Picking</name>
        <label>Is Case Picking</label>
        <locationX>2734</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Multi_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Picking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCasePickingUserId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Case_Picking_Field</targetReference>
            </connector>
            <label>Case Picking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Account_Identified</name>
        <label>Multiple Account Identified?</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_WhatId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountIds.multiMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Account_Identified_Case</name>
        <label>Multiple Account Identified?</label>
        <locationX>2932</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Email_Composer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMultiMatchCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Multi_Match.multiMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseContactSelectionScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>saved comment with NRR resolution</description>
        <name>NRR_Comment</name>
        <label>NRR Comment</label>
        <locationX>3790</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comment_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LongComment1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Comment</targetReference>
            </connector>
            <label>Comment Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>&quot;Account?&quot; outcome: create call (task) record from Account record for advisors without CTI</description>
        <name>object</name>
        <label>Object?</label>
        <locationX>2250</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_with_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Task</targetReference>
            </connector>
            <label>Task with recordId?</label>
        </rules>
        <rules>
            <name>isLiveChatTranscript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_LiveChat</targetReference>
            </connector>
            <label>LiveChatTranscript?</label>
        </rules>
        <rules>
            <name>isNewCase</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsWithRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>New Case?</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact</targetReference>
            </connector>
            <label>Account?</label>
        </rules>
        <rules>
            <name>IsMessaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Messaging</targetReference>
            </connector>
            <label>Messaging ?</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsWithRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Display the product screen but product is not mandatory</description>
        <name>Qualification_Decision</name>
        <label>Qualification Decision</label>
        <locationX>2250</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Resolution_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ProductMandatory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Availability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Characteristics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Collectibles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neverfull</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductSelection</targetReference>
            </connector>
            <label>Product Mandatory</label>
        </rules>
        <rules>
            <name>Product_Not_Mandatory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchange/Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair and Care advice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New product presentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optional_Product_Selection</targetReference>
            </connector>
            <label>Product Not Mandatory</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transfer</targetReference>
            </connector>
            <label>Transfer (call)</label>
        </rules>
        <rules>
            <name>Cut_Call_Wrong_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MissedCall_WrongNumber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cut_Call</targetReference>
            </connector>
            <label>Cut Call / Wrong number (call)</label>
        </rules>
        <rules>
            <name>Phoenix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phoenix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phoenix_Call</targetReference>
            </connector>
            <label>Phoenix (Call)</label>
        </rules>
        <rules>
            <name>Missed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Missed_Chat</targetReference>
            </connector>
            <label>Missed/NRR (chat)</label>
        </rules>
        <rules>
            <name>Missed_Messaging</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Missed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NRR_Messaging</targetReference>
            </connector>
            <label>Missed/NRR (Messaging)</label>
        </rules>
        <rules>
            <name>No_Response_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NRR_Option</targetReference>
            </connector>
            <label>No Response Required (Case)</label>
        </rules>
        <rules>
            <name>Transfer_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskNature</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransferOption</targetReference>
            </connector>
            <label>Transfer (Case)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolution_Decision</name>
        <label>Resolution Decision</label>
        <locationX>2250</locationX>
        <locationY>4130</locationY>
        <defaultConnector>
            <targetReference>UpdateScreen_Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Flow</targetReference>
            </connector>
            <label>Case Escalated</label>
        </rules>
        <rules>
            <name>Request_Process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Creation (MyCR - POD - Request)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POD with Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POD without Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operation Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distant Care Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Process_Flow</targetReference>
            </connector>
            <label>Request Process</label>
        </rules>
        <rules>
            <name>Resolution_is_Book_an_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book an Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormulaClientelingCallRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_an_Appointment</targetReference>
            </connector>
            <label>Resolution is Book an Appointment</label>
        </rules>
        <rules>
            <name>is_Account_Task_finished</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Book an Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POD with Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POD without Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request Creation (MyCR - POD - Request)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Created_Task</targetReference>
            </connector>
            <label>is Account Task finished?</label>
        </rules>
        <rules>
            <name>Distant_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distant Care Service</stringValue>
                </rightValue>
            </conditions>
            <label>Distant Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Create_Record</name>
        <label>Update / Create Record</label>
        <locationX>2250</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Resolution_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolution_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Resolution_Screen</targetReference>
            </connector>
            <label>Resolution Empty?</label>
        </rules>
        <rules>
            <name>Resolution_is_Immediate_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate Transaction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarDistantOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distant_Order_Screen</targetReference>
            </connector>
            <label>Resolution is Immediate Transaction</label>
        </rules>
        <rules>
            <name>is_Task_with_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>is Task with recordId?</label>
        </rules>
        <rules>
            <name>is_LiveChatTranscript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LiveChatTranscript</targetReference>
            </connector>
            <label>is LiveChatTranscript?</label>
        </rules>
        <rules>
            <name>Is_current_page_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Is current page Account?</label>
        </rules>
        <rules>
            <name>Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging</targetReference>
            </connector>
            <label>IsMessaging?</label>
        </rules>
        <rules>
            <name>Is_Case_MyCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Resolution</targetReference>
            </connector>
            <label>Is Case MyCR</label>
        </rules>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Is Case?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VarCase_or_VarTask_not_empty</name>
        <label>VarCase or VarTask not empty?</label>
        <locationX>2250</locationX>
        <locationY>3290</locationY>
        <defaultConnector>
            <targetReference>Update_Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VarTaskResolutionNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTaskResolution</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Create_Record</targetReference>
            </connector>
            <label>VarTaskResolutionNotNull</label>
        </rules>
        <rules>
            <name>VarCaseResolutionNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseResolution</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setResolution</targetReference>
            </connector>
            <label>VarCaseResolutionNotNull</label>
        </rules>
    </decisions>
    <description>Add Case Multi Match + assign VarAccountId</description>
    <dynamicChoiceSets>
        <name>CallInOut</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InOut__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Show the Copy button in the Agent Script component</description>
        <name>AgentScript_ShowCopyButton</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!sObject} = &apos;LiveChatTranscript&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <description>Open a subtab or not to launch the CaseCreation Flow
&quot;Request Creation (MyCR - POD - Request)&quot; = &quot;Request to Store&quot; as Validation Rule is restrictive</description>
        <name>CaseCreation_OpenSubTab</name>
        <dataType>Boolean</dataType>
        <expression>{!VarTaskResolution} != &apos;Request Creation (MyCR - POD - Request)&apos;</expression>
    </formulas>
    <formulas>
        <name>CaseEmailWebRTId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Record Type of the call case retrieved from Custom Settings</description>
        <name>CaseRTCall</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CallRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <name>CaseRTCareService</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_Care_Service__c}</expression>
    </formulas>
    <formulas>
        <name>CaseRTWebEmail</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Activity Date field for Calls used for Clienteling or manual call task creation</description>
        <name>FormulaActivityDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>FormulaCallSubject</name>
        <dataType>String</dataType>
        <expression>IF({!recordTypeId}={!ChoiceTaskClientelingCall},&quot;Clienteling Call - &quot;+LEFT(Text(NOW()),LEN(Text(NOW()))-1),
IF ({!recordTypeId}={!ChoiceTaskICONICSCall}, &quot;Iconics Call - &quot;+LEFT(Text(NOW()),LEN(Text(NOW()))-1),
{!VarTaskSubject}
))</expression>
    </formulas>
    <formulas>
        <name>FormulaCallType</name>
        <dataType>String</dataType>
        <expression>IF({!recordTypeId}={!ChoiceTaskClientelingCall},&quot;Outbound&quot;,
  IF ({!CallType} = &quot;Inbound Call&quot;, &quot;Inbound&quot;, &quot;Outbound&quot;)
)</expression>
    </formulas>
    <formulas>
        <description>Record Type foer Clienteling Calls</description>
        <name>FormulaClientelingCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTClientelingId__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaInOut</name>
        <dataType>String</dataType>
        <expression>IF (OR({!recordTypeId}={!ChoiceTaskClientelingCall}, {!CallType} = &quot;Outbound Call (Daily Follow-up)&quot;, {!varTaskCallType} = &quot;Outbound&quot;), 
  &quot;Out&quot;,
  &quot;In&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Iconics Call record type for Task object</description>
        <name>FormulaTaskIconicsCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTInboundCallId__c}</expression>
    </formulas>
    <formulas>
        <description>Check if the flow starts from an existing record id or a new from scratch (with a temporary record id = flow id)</description>
        <name>IsWithRecordId</name>
        <dataType>Boolean</dataType>
        <expression>IF (LEN({!recordId}) &gt; 18, false, true)</expression>
    </formulas>
    <formulas>
        <description>Label for the qualification screen</description>
        <name>Qualification_AgentScript_Label</name>
        <dataType>String</dataType>
        <expression>IF ( OR({!$Setup.IconicsSettings__c.TaskRTClientelingId__c} = {!recordTypeId}, {!FormulaInOut} = &quot;Out&quot;, {!sObject} = &apos;Case&apos;), 
  &quot;ICX_Flow_Qualification_Header&quot;, 
  &quot;ICX_Flow_Qualification_Script&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Qualification_AgentScript_Script</name>
        <dataType>String</dataType>
        <expression>IF ( OR({!$Setup.IconicsSettings__c.TaskRTClientelingId__c} = {!recordTypeId}, {!FormulaInOut} = &quot;Out&quot;, {!sObject} = &apos;Case&apos;), 
  &apos;Header&apos;, 
  &apos;Script&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Formula for assigning RecordType depending on the selection</description>
        <name>RecordType_Call_Type_Selection</name>
        <dataType>String</dataType>
        <expression>IF ({!CallType} = {!ChoiceTaskClientelingCall},
  {!FormulaClientelingCallRT},
  {!FormulaTaskIconicsCallRT}
)</expression>
    </formulas>
    <formulas>
        <description>Picklist based on the record type doesn&apos;t work on Task or LiveChatTranscript.
This formula gives the matching Record Type id for the Case object.</description>
        <name>TargetCaseRecordTypeIdForPicklist</name>
        <dataType>String</dataType>
        <expression>IF ({!recordTypeId} = {!$Setup.IconicsSettings__c.TaskRTClientelingId__c}, {!$Setup.IconicsSettings__c.CaseRTClientelingID__c},
  IF ({!recordTypeId} = {!$Setup.IconicsSettings__c.TaskRTInboundCallId__c}, {!$Setup.IconicsSettings__c.CaseRTInboundCallID__c}, 
    IF ( OR({!sObject} = &apos;LiveChatTranscript&apos;, {!sObject} = &apos;MessagingSession&apos;), {!$Setup.IconicsSettings__c.CaseRTChatID__c}, 
      IF ({!sObject} = &apos;Case&apos;, {!recordTypeId}, null)
    )
  )
)</expression>
    </formulas>
    <interviewLabel>ICX New Call Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX New Call Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Saved Case Comment on NRR Resolution</description>
        <name>Case_Comment</name>
        <label>Case Comment</label>
        <locationX>3658</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>LongComment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create new task</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1986</locationX>
        <locationY>3698</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActionType__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>FormulaCallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LongComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarTaskDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICX_Country__c</field>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InOut__c</field>
            <value>
                <elementReference>FormulaInOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU_Unknown__c</field>
            <value>
                <elementReference>VarTaskUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarTaskProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FormulaCallSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>VarDistantOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>2987</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_the_Email_Composer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCategory</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskDomaine</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCasePickingUserId</assignToReference>
            <field>ICX_CasePickingUserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceID</assignToReference>
            <field>My_Repairs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskProductID</assignToReference>
            <field>Product_Sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskUnknownProduct</assignToReference>
            <field>Product_Sku_unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClientEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>TECH_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDistantOrder</assignToReference>
            <field>Transaction_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskNature</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Updated</name>
        <label>Get Case Updated</label>
        <locationX>2800</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Composer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>2008</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Type_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>SPO_Country_code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_LiveChat</name>
        <label>Lookup LiveChat</label>
        <locationX>1480</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get info from Messaging object</description>
        <name>Lookup_Messaging</name>
        <label>Lookup Messaging</label>
        <locationX>2272</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>Client_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup Task to retrieve the country. To be deleted with country picklist on resolution screen when we will retrieve all countries from CTI</description>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>1084</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskCallType</assignToReference>
            <field>CallType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComment</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>ICX_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskInOut</assignToReference>
            <field>InOut__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccIdIdentified</assignToReference>
            <field>LVM_SFDCAccountIds__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>multiAccountsIdentified</assignToReference>
            <field>LVM_SFDCAccounts_Identify__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskPhoneNumber</assignToReference>
            <field>Phone_Calling_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupProductFromQualilfication</name>
        <label>LookupProductFromQualilfication</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolution_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>productEnquiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskUnknownProduct</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskProductID</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Case_Picking_Field</name>
        <label>Remove Case Picking Field</label>
        <locationX>2536</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CasePickingMsg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICX_CasePickingUserId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpadteCaseContactId</name>
        <label>Update Case Contact Id</label>
        <locationX>2800</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Case_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>accountIdSelected</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>3570</locationX>
        <locationY>3698</locationY>
        <connector>
            <targetReference>Update_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>LongComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarTaskDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarTaskProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarTaskUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>VarDistantOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cut_Call</name>
        <label>Update Cut Call</label>
        <locationX>1106</locationX>
        <locationY>2174</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LongComment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Cut Call / Wrong Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LiveChatTranscript</name>
        <label>Update LiveChatTranscript</label>
        <locationX>1458</locationX>
        <locationY>3698</locationY>
        <connector>
            <targetReference>Resolution_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>LongComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarTaskDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU_Unknown__c</field>
            <value>
                <elementReference>VarTaskUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU__c</field>
            <value>
                <elementReference>VarTaskProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging</name>
        <label>Update Messaging</label>
        <locationX>2778</locationX>
        <locationY>3698</locationY>
        <connector>
            <targetReference>Resolution_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>LongComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarTaskDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU_Unknown__c</field>
            <value>
                <elementReference>VarTaskUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU__c</field>
            <value>
                <elementReference>VarTaskProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update LiveChatTranscript record for Missed value</description>
        <name>Update_Missed_Chat</name>
        <label>Update Missed Chat</label>
        <locationX>2162</locationX>
        <locationY>2174</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>No Response Required</stringValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NRR_Messaging</name>
        <label>Update NRR Messaging</label>
        <locationX>2690</locationX>
        <locationY>2174</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>LongComment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>No Response Required</stringValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NRR_Transfer_Case</name>
        <label>Update NRR/Transfer Case</label>
        <locationX>3790</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>NRR_Comment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Phoenix Call with specific info</description>
        <name>Update_Phoenix_Call</name>
        <label>Update Phoenix Call</label>
        <locationX>1634</locationX>
        <locationY>2174</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Call regarding Quality calling campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Immediate Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Qualification</name>
        <label>Update Product Qualification</label>
        <locationX>1986</locationX>
        <locationY>3806</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productEnquiredId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentRelatedTo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedTo__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ICX_ProductEnquired__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>930</locationX>
        <locationY>3698</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActionType__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarTaskCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LongComment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarTaskDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICX_Country__c</field>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_SKU_Unknown__c</field>
            <value>
                <elementReference>VarTaskUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarTaskProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>VarTaskResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>VarDistantOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transfer</name>
        <label>Update Transfer Call</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LongComment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <elementReference>VarTaskNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskAccountId</name>
        <label>UpdateTaskAccountId</label>
        <locationX>952</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVM_SFDCAccounts_Identify__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Account_check</name>
        <label>Account check</label>
        <locationX>952</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setSelectedAccountToVarAccountId</targetReference>
        </connector>
        <fields>
            <name>accountTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>IDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Id,Name,CreatedDate,LastModifiedDate,Segmentation__pc,OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectLink</name>
                <value>
                    <stringValue>name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedId</name>
                <value>
                    <elementReference>accountIdSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_Type_Selection</name>
        <label>Call Type Selection</label>
        <locationX>2008</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_record_type_assignment</targetReference>
        </connector>
        <fields>
            <name>CallType</name>
            <choiceReferences>ChoiceInboundCall</choiceReferences>
            <choiceReferences>ChoiceOutboundCall</choiceReferences>
            <choiceReferences>ChoiceTaskClientelingCall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseContactSelectionScreen</name>
        <label>Contact Selection</label>
        <locationX>2800</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>CaseContactCheck</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Id,Name,CreatedDate,LastModifiedDate,Segmentation__c,OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectLink</name>
                <value>
                    <stringValue>name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedId</name>
                <value>
                    <elementReference>accountIdSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>Get_Multi_Match.accountCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CasePickingMsg</name>
        <label>CasePickingMsg</label>
        <locationX>2536</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CasePickingTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;This Case is being processed by another User&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please close the tab&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Distant_Order_Screen</name>
        <label>Distant Order Screen</label>
        <locationX>666</locationX>
        <locationY>3698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_Distant_Order</targetReference>
        </connector>
        <fields>
            <name>Distant_Order</name>
            <dataType>String</dataType>
            <fieldText>Distant Order</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <defaultValue>
                <stringValue>{!LongComment1}</stringValue>
            </defaultValue>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Composer</name>
        <label>Email Composer</label>
        <locationX>2932</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Composer_Selection</targetReference>
        </connector>
        <fields>
            <name>EmailComposer</name>
            <extensionName>c:ICX_EmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailComposerFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canFinish</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextName</name>
                <value>
                    <stringValue>Send Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customButtonShowIconOnlyList</name>
                <value>
                    <stringValue>false,true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customButtonIconList</name>
                <value>
                    <stringValue>null,utility:preview</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customButtonList</name>
                <value>
                    <stringValue>{!EmailComposer_NoResponseRequired},Preview</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailComposer_ButtonClicked</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultErrorScreen</name>
        <label>FaultErrorScreen</label>
        <locationX>1722</locationX>
        <locationY>3806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultError</name>
            <fieldText>&lt;p&gt;Sorry, but you cant read or update records at this time.&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Optional_Product_Selection</name>
        <label>Optional Product Selection</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LookupProductFromQualilfication</targetReference>
        </connector>
        <fields>
            <name>OptionalProductHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_Product_Script</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>languageDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyDisplay</name>
                <value>
                    <elementReference>AgentScript_ShowCopyButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LookupProduct</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMultiEntry</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionId</name>
                <value>
                    <elementReference>VarTaskProductID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <elementReference>LongComment1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTaskProductID</assignToReference>
                <name>selectionId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OptionalProductFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductSelection</name>
        <label>Product Selection</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LookupProductFromQualilfication</targetReference>
        </connector>
        <fields>
            <name>MandatoryProductScript</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_Product_Script</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyDisplay</name>
                <value>
                    <elementReference>AgentScript_ShowCopyButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MandatoryProductSearch</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isMultiEntry</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionId</name>
                <value>
                    <elementReference>VarTaskProductID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <elementReference>LongComment1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskCategory</name>
                <value>
                    <elementReference>VarTaskCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTaskProductID</assignToReference>
                <name>selectionId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MandatoryProductFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Qualification</name>
        <label>Qualification</label>
        <locationX>2250</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>ScriptWelcome</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>languageDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Qualification_AgentScript_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyDisplay</name>
                <value>
                    <elementReference>AgentScript_ShowCopyButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>Qualification_AgentScript_Script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QualificationLookup</name>
            <extensionName>c:ICX_QualificationLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <elementReference>sObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Label</name>
                <value>
                    <stringValue>ICX_Flow_Qualification_Nature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Label</name>
                <value>
                    <stringValue>ICX_Flow_Qualification_Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level3Label</name>
                <value>
                    <stringValue>ICX_Flow_Qualification_Domain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Value</name>
                <value>
                    <elementReference>VarTaskNature</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Value</name>
                <value>
                    <elementReference>VarTaskCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level3Value</name>
                <value>
                    <elementReference>VarTaskDomaine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNextOnLastSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFastSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>TargetCaseRecordTypeIdForPicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Field</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Field</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level3Field</name>
                <value>
                    <stringValue>Domaine__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTaskNature</assignToReference>
                <name>level1Value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarTaskCategory</assignToReference>
                <name>level2Value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarTaskDomaine</assignToReference>
                <name>level3Value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LongComment1</name>
            <defaultValue>
                <stringValue>{!varComment}</stringValue>
            </defaultValue>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resolution_Screen</name>
        <label>Resolution and country</label>
        <locationX>2250</locationX>
        <locationY>3182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VarCase_or_VarTask_not_empty</targetReference>
        </connector>
        <fields>
            <name>ResolutionScript</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_Resolution_Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>ICX_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNextOnSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarTaskCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country / Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTaskCountry</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LongComment2</name>
            <defaultValue>
                <stringValue>{!LongComment1}</stringValue>
            </defaultValue>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Resolution</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Resolution__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarTaskResolution</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Resolution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>TargetCaseRecordTypeIdForPicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visual</name>
                <value>
                    <stringValue>Picker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTaskResolution</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordTypeId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CaseRTWebEmail</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordTypeId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CaseRTCareService</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Resolution</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarCaseResolution</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Resolution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>apiList</name>
                <value>
                    <stringValue>Immediate Response, Transfer, No Response Required, Request to Store, Escalation, POD with Sku, POD without Sku, Operation Exception, Distant Care Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelList</name>
                <value>
                    <stringValue>Immediate Response, Transfer, No Response Required, Request to Store, Escalation, POD with Sku, POD without Sku, Operation Exception, Distant Care Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visual</name>
                <value>
                    <stringValue>Picker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarCaseResolution</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordTypeId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseRTWebEmail</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordTypeId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseRTCareService</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2124</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Book_an_Appointment</name>
        <label>Book an Appointment</label>
        <locationX>2118</locationX>
        <locationY>4238</locationY>
        <flowName>ICX_Clienteling_BookAnAppointment</flowName>
        <inputAssignments>
            <name>VarAccountId</name>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarContactId</name>
        </inputAssignments>
        <inputAssignments>
            <name>VarRunningUser</name>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Escalation_Flow</name>
        <label>Escalation Flow</label>
        <locationX>1590</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>UpdateScreen_Finish</targetReference>
        </connector>
        <flowName>Escalation_Flow</flowName>
        <inputAssignments>
            <name>isNewQualification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObject</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Execute the &quot;ICX_CaseCreation&quot; flow to create/update a Case</description>
        <name>Request_Process_Flow</name>
        <label>Request Process Flow</label>
        <locationX>1854</locationX>
        <locationY>4238</locationY>
        <flowName>ICX_CaseCreation</flowName>
        <inputAssignments>
            <name>isNewQualification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObject</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Country</name>
        <label>Update Country</label>
        <locationX>3570</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>Resolution_Decision</targetReference>
        </connector>
        <flowName>ICX_Country</flowName>
        <inputAssignments>
            <name>CountryCode</name>
            <value>
                <elementReference>VarTaskCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccIdIdentified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountIdSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Domain screen page can have no value, so the Next screen wil be automatically displayed.
The next screen with Previous button can&apos;t come back to the Domaine screen (it should be back to the Category screen)</description>
        <name>autoBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Current page of the user</description>
        <name>currentPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>[Email Composer screen] Which button is clicked in the Footer component. Important for &quot;No Response Required&quot; button in a decision</description>
        <name>EmailComposer_ButtonClicked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>multiAccountsIdentified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productEnquiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product id for mono-selection</description>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record type id of the record</description>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Object API name (ex: Case, Task, LiveChatTranscript...)</description>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseCommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCasePickingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comment</description>
        <name>varComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDistantOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Need to know if the call is a Inbound or Outbound call</description>
        <name>varTaskCallType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskDomaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskInOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskNature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store ID of the product from Enquired Product Tab</description>
        <name>VarTaskProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
