force-app/main/default/flows/ICX_CaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Case</name>
        <label>Open Case</label>
        <locationX>3284</locationX>
        <locationY>2288</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assignment of Case POD with Sku record type  for button request creation</description>
        <name>Case_POD_with_Sku_RT</name>
        <label>Case POD with Sku RT</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarCaseRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PODwithSkuRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POD_with_Sku_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of POD without SKU RT for button request creation</description>
        <name>Case_POD_without_Sku_RT</name>
        <label>Case POD without Sku RT</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarCaseRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PODwithoutSkuRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POD_without_Sku_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Case_Id</name>
        <label>New Case Id</label>
        <locationX>2954</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>VarNewCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>When selected, create an Event</description>
        <name>Book_An_Appointment</name>
        <choiceText>Book an Appointment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Operation Exception record type</description>
        <name>Operation_Exception</name>
        <choiceText>Operation Exception</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseOperationExceptionRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>POD_with_Sku</name>
        <choiceText>Product On Demand (with SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PODwithSkuRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>POD_without_Sku</name>
        <choiceText>Product On Demand (no SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PODwithoutSkuRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>Request</name>
        <choiceText>Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FormulaRequestRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>Request_to_Store</name>
        <choiceText>Request to Store</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Request_to_Store</elementReference>
        </value>
    </choices>
    <decisions>
        <name>ContinueOrFinishTheFlow</name>
        <label>ContinueOrFinishTheFlow</label>
        <locationX>2030</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContinueOperationException</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operation_Exception_Screen</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the &quot;Request creation&quot; flow is called by the &quot;New Call Qualification&quot; flow then the existing Request should be update and not a request creation</description>
        <name>Is_From_New_Call_Qualification_Flow_in_the_Case_Record</name>
        <label>Is From &quot;New Call Qualification&quot; Flow in the Case Record</label>
        <locationX>3350</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Request_to_store_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Creation_called_from_a_flow_in_the_Case_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>&quot;Request Creation&quot; called from a flow in the Case record?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Shipping</name>
        <label>Is Order Shipping</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Operation_Exception_Creation_Without_Order_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Shipping_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Shipping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operation_Exception_Creation_With_Order_Shipping</targetReference>
            </connector>
            <label>Is Order Shipping True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object ?</label>
        <locationX>3284</locationX>
        <locationY>1748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Update_with_Case_ID</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LiveChat_with_Case_ID</targetReference>
            </connector>
            <label>Live Chat</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>IsMessaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaging</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_OK</name>
        <label>Store OK ?</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarStoreID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Request_to_Store_Screen</targetReference>
            </connector>
            <label>Store required</label>
        </rules>
        <rules>
            <name>Store_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarStoreID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Product_MyCR_from_Categorization</targetReference>
            </connector>
            <label>Store not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_or_Case</name>
        <label>Which Object</label>
        <locationX>1667</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Launch_Lookup_Validation_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CallingCampaignOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calling_Campaign_Order__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallingCampaignFlow</targetReference>
            </connector>
            <label>CallingCampaignOrder not empty</label>
        </rules>
        <rules>
            <name>Empty_Record_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Empty Record Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_request_chosen</name>
        <label>Type of request chosen</label>
        <locationX>5990</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POD_with_Sku_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product On Demand (with SKU)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Case_POD_with_Sku_RT</targetReference>
            </connector>
            <label>POD with Sku Chosen</label>
        </rules>
        <rules>
            <name>POD_without_Sku_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product On Demand (no SKU)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Case_POD_without_Sku_RT</targetReference>
            </connector>
            <label>POD without Sku Chosen</label>
        </rules>
        <rules>
            <name>Request_to_store_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Request_to_Store_Screen</targetReference>
            </connector>
            <label>Request to store Chosen</label>
        </rules>
        <rules>
            <name>Request_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Creation</targetReference>
            </connector>
            <label>Request Chosen</label>
        </rules>
        <rules>
            <name>Operation_Exception_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operation Exception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ShippingGroup</targetReference>
            </connector>
            <label>Operation Exception Chosen</label>
        </rules>
        <rules>
            <name>Distant_Repair_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distant Care Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Distant_Care_Service_Creation</targetReference>
            </connector>
            <label>Distant Repair Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <description>When qualifying a Task, the resolution will be Request to STore but for the case it will be Request Creation temporary because of ICX_New_Call_Qualification flow and validation rule of MyCR</description>
        <name>What_request_type</name>
        <label>What request type ?</label>
        <locationX>3284</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Request_Type_from_Case_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolution_PoD_With_Sku</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PoD with Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_POD_with_Sku_RT</targetReference>
            </connector>
            <label>Resolution PoD With Sku</label>
        </rules>
        <rules>
            <name>Resolution_POD_without_Sku</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POD without Sku</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_POD_without_Sku_RT</targetReference>
            </connector>
            <label>Resolution POD without Sku</label>
        </rules>
        <rules>
            <name>Is_Operation_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operation Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShippingGroup</targetReference>
            </connector>
            <label>Is Operation Exception ?</label>
        </rules>
        <rules>
            <name>Is_Request_to_Store</name>
            <conditionLogic>4 AND (1 OR (2 AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Creation (MyCR - POD - Request)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_to_Store_Screen</targetReference>
            </connector>
            <label>Is Request to Store</label>
        </rules>
        <rules>
            <name>Distant_Care_Service_from_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distant Care Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distant_Care_Service_Creation</targetReference>
            </connector>
            <label>Distant Care Service from case</label>
        </rules>
        <rules>
            <name>Resolution_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarResolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Flow</targetReference>
            </connector>
            <label>Resolution Escalation</label>
        </rules>
    </decisions>
    <description>Country Label: Country / Region</description>
    <dynamicChoiceSets>
        <name>PicklistCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>careServiceOrigin</name>
        <dataType>String</dataType>
        <expression>IF({!sObject} = &quot;Task&quot;, &quot;CSC Call&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;CSC Chat&quot;,
IF({!sObject} = &quot;MessagingSession&quot;,&quot;CSC Messaging&quot;,
IF({!sObject} = &quot;Case&quot;, &quot;CSC Email&quot;,
&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>CareServiceRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.Distant_Care_Service_RT__c}</expression>
    </formulas>
    <formulas>
        <name>CaseCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CallRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Store Web&amp;Emai record type ID</description>
        <name>CaseEmailRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Case Record type ID from Operation Exception</description>
        <name>CaseOperationExceptionRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_OperationException__c}</expression>
    </formulas>
    <formulas>
        <name>FormualToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Calculate origin according to sObject</description>
        <name>FormulaOrigin</name>
        <dataType>String</dataType>
        <expression>IF ({!sObject} = &quot;Task&quot;, &quot;Phone&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;Social&quot;, {!VarCaseOrigin}))</expression>
    </formulas>
    <formulas>
        <name>FormulaParentID</name>
        <dataType>String</dataType>
        <expression>IF ( 
  AND (
    {!sObject} = &quot;Case&quot;, 
    {!isNoRecordId} = false
  ),
  {!recordId}, 
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Find the correct record type for the Request according to the origin of the case</description>
        <name>FormulaRequestRT</name>
        <dataType>String</dataType>
        <expression>IF( {!FormulaOrigin} = &quot;Phone&quot;, {!CaseCallRT}, {!CaseEmailRT})</expression>
    </formulas>
    <formulas>
        <description>ID of the User who launch the flow</description>
        <name>FormulaRunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>New status except for POD with Sku -&gt; &quot;Follow-up&quot;</description>
        <name>FormulaStatus</name>
        <dataType>String</dataType>
        <expression>IF( {!VarCaseRecordTypeID} = {!POD_with_Sku} , &quot;Follow-up&quot;,&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaSubject</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISNULL({!POD_with_Sku})), &quot;Product on Demand - &quot;+{!VarProductSkuName}, 
IF( NOT(ISNULL({!POD_without_Sku})), &quot;Product on Demand without sku - &quot;+{!VarUnknownProduct}, 
IF( NOT(ISNULL({!CaseCallRT})), &quot;ObjTaskCall.Subject&quot;, {!ObjCase.Subject})))</expression>
    </formulas>
    <formulas>
        <description>Record Type clienteling for Task</description>
        <name>FormulaTaskClientelingRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTClientelingId__c}</expression>
    </formulas>
    <formulas>
        <name>isMyLVClient</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varDateIdentity} != null, TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Record Type of Waiting list from Case</description>
        <name>PODwithoutSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRTWaitingListID__c}</expression>
    </formulas>
    <formulas>
        <description>Record Type of POD with SKU</description>
        <name>PODwithSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_MyPR_ID__c}</expression>
    </formulas>
    <formulas>
        <description>For the Qualification record, the ParentRelatedTo__c field should be set to empty only from a New request (Case list view or Account detail page)</description>
        <name>recordIdToReplaceForQualification</name>
        <dataType>String</dataType>
        <expression>IF ({!isNoRecordId} = true, null, {!recordId})</expression>
    </formulas>
    <formulas>
        <name>US_user</name>
        <dataType>Boolean</dataType>
        <expression>IF( OR( {!$UserRole.DeveloperName}=&quot;AME_CSC_US_CA_ME_SA&quot;, {!$UserRole.DeveloperName}=&quot;AME_CSC_US_CA_ME_Manager&quot;,{!$Profile.Name} = &quot;System Administrator&quot;)
, TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>ICX_CaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a Case comment if the Case is updated</description>
        <name>Case_Comment</name>
        <label>Case Comment</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>New_Case_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Comment_to_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <description>Creation of case with record type Operation Exception with order shipping lookup</description>
        <name>Operation_Exception_Creation_With_Order_Shipping</name>
        <label>Operation Exception Creation With Order Shipping</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IgnoreDuplicateOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>VarIssueCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Shipping__c</field>
            <value>
                <elementReference>Get_Order_Shipping.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseOperationExceptionRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Back Office New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <elementReference>VarSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creation of case with record type Operation Exception without Order shipping lookup</description>
        <name>Operation_Exception_Creation_Without_Order_Shipping</name>
        <label>Operation Exception Creation Without Order Shipping</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IgnoreDuplicateOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>VarIssueCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseOperationExceptionRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Back Office New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <elementReference>VarSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>POD_Creation</name>
        <label>POD Creation</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection__c</field>
            <value>
                <elementReference>VarProductCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>VarPODComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_preference_from_client__c</field>
            <value>
                <elementReference>VarPreferenceClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>VarCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_date_for_the_product__c</field>
            <value>
                <elementReference>VarClientDesiredDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hot_Sku__c</field>
            <value>
                <elementReference>VarHotSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Category__c</field>
            <value>
                <elementReference>VarProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Gender__c</field>
            <value>
                <elementReference>VarProductGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>VarProductPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>FormulaStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>VarDigitalStoreID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FormulaSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Request_Creation</name>
        <label>Request Creation</label>
        <locationX>5858</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>VarDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormulaRequestRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VarSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>VarSuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>VarPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarNature</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Request_to_store_Creation</name>
        <label>Request to store Creation</label>
        <locationX>3746</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Product_Qualification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Name__c</field>
            <value>
                <elementReference>VarCAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>VarCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment_to_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Request_to_Store__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormulaRequestRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Request to Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>VarStoreID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VarSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>VarSuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>VarPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarNature</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Shipping</name>
        <label>Get Order Shipping</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product_Ops_Exception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShippingNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarShippingGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderShipping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_MyCR_from_Categorization</name>
        <label>Lookup Product MyCR from Categorization</label>
        <locationX>3350</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_From_New_Call_Qualification_Flow_in_the_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>varQualificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSkuName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Ops_Exception</name>
        <label>Lookup Product Ops Exception</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>varQualificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSkuName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Sku_from_Qualification</name>
        <label>Lookup Product Sku from Qualification</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POD_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>VarPreferenceClient</assignToReference>
            <field>ClientContactPreference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarClientDesiredDate</assignToReference>
            <field>ClientDesiredDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPODComment</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarHotSku</assignToReference>
            <field>HotSku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQualificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCurrency</assignToReference>
            <field>ProductCurrency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductPrice</assignToReference>
            <field>ProductUnitPrice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSkuName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDigitalStoreID</assignToReference>
            <field>Store__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_without_Sku_from_Qualification</name>
        <label>Lookup Product without Sku from Qualification</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>POD_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>VarPreferenceClient</assignToReference>
            <field>ClientContactPreference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarClientDesiredDate</assignToReference>
            <field>ClientDesiredDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPODComment</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarHotSku</assignToReference>
            <field>HotSku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQualificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCurrency</assignToReference>
            <field>ProductCurrency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductPrice</assignToReference>
            <field>ProductUnitPrice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCAName</assignToReference>
            <field>Store_ClientAdvisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDigitalStoreID</assignToReference>
            <field>Store__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Problem with the Lookup component (to search a Store physical and opened). Temporary workaround to avoid many error messages : This lookup. 
Targer solution : validation in the Lookup component.</description>
        <name>Verification_Store</name>
        <label>Physical Store validation</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarStoreID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>StoreType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <object>Store__c</object>
        <outputAssignments>
            <assignToReference>VarStoreID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Messaging</name>
        <label>Messaging</label>
        <locationX>3636</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Update_with_Case_ID</name>
        <label>Task Update with Case ID</label>
        <locationX>2404</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing Request</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2954</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Case_Comment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Name__c</field>
            <value>
                <elementReference>VarCAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Request_to_Store__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Request to Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>VarStoreID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LiveChat_with_Case_ID</name>
        <label>Update LiveChat with Case ID</label>
        <locationX>2932</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Qualification</name>
        <label>Update Product Qualification</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQualificationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentRelatedTo__c</field>
            <value>
                <elementReference>recordIdToReplaceForQualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedTo__c</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>ICX_ProductEnquired__c</object>
    </recordUpdates>
    <screens>
        <name>Fault_Error</name>
        <label>Fault Error</label>
        <locationX>3196</locationX>
        <locationY>1964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>Sorry, but you cant read or update records at this time.
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Operation_Exception_Screen</name>
        <label>Operation Exception Screen</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Shipping</targetReference>
        </connector>
        <fields>
            <name>OpsExeptionScript</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>copyDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_OpsException_Script</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpsExceptionCategoryIssue</name>
            <extensionName>c:ICX_QualificationLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>level1Field</name>
                <value>
                    <stringValue>Issue_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Value</name>
                <value>
                    <elementReference>VarIssueCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Field</name>
                <value>
                    <stringValue>Sub_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Value</name>
                <value>
                    <elementReference>VarSubCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>levelLast</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>CaseOperationExceptionRT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNextOnLastSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Label</name>
                <value>
                    <stringValue>ICX_Flow_MultiPicklist_SubCategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Label</name>
                <value>
                    <stringValue>ICX_Flow_MultiPicklist_IssueCategory</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarSubCategory</assignToReference>
                <name>level2Value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarIssueCategory</assignToReference>
                <name>level1Value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!VarDescription}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpExCountry</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>TECH_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country / Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLabelInEmptyValue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visual</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarCountry</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OpsExceptionProduct</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>OperationException</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpsExceptionFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POD_with_Sku_Screen</name>
        <label>POD with Sku</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Product_Sku_from_Qualification</targetReference>
        </connector>
        <fields>
            <name>POSwithSkuHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_PODwithSku_Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductSearchPODwithSku</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>PODWithSKU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNewRequestCheckbox</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <elementReference>VarDescription</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PODwithSkuFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POD_without_Sku_Screen</name>
        <label>POD without Sku</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Product_without_Sku_from_Qualification</targetReference>
        </connector>
        <fields>
            <name>PODwithoutSkuHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_PODwithoutSku_Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductSearchPODwithoutSku</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>PODWithoutSku</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNewRequestCheckbox</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <elementReference>VarDescription</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PODwithoutSkuFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Request created from Calling Campaign Order</description>
        <name>Request_created</name>
        <label>Request created</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishCampaign</name>
            <fieldText>Your request to store has been successfully created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_to_Store_Screen</name>
        <label>Request to Store</label>
        <locationX>3482</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verification_Store</targetReference>
        </connector>
        <fields>
            <name>RequestToStoreHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_RequestToStore_Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flow_request_to_store_selection</name>
            <extensionName>c:ICX_Flow_RequestToStoreSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>RecordLookUpId</name>
                <value>
                    <elementReference>VarStoreID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>UserId</name>
                <value>
                    <elementReference>VarCAName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarStoreID</assignToReference>
                <name>RecordLookUpId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarCAName</assignToReference>
                <name>UserId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comment_to_Store</name>
            <dataType>String</dataType>
            <fieldText>Comment to Store</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductMyCR</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>RequestToStore</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestToStoreFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Type_from_Case_Screen</name>
        <label>Request Type Selection</label>
        <locationX>5990</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_request_chosen</targetReference>
        </connector>
        <fields>
            <name>RequestSelectionHeader</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_RequestSelection_Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Header</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>requestTypePicklist</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>apiList</name>
                <value>
                    <stringValue>Request to Store,Product On Demand (with SKU),Product On Demand (no SKU),Operation Exception,Request,Distant Care Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelList</name>
                <value>
                    <stringValue>Request to Store,Product On Demand (with SKU),Product On Demand (no SKU),Operation Exception,Request,Distant Care Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visual</name>
                <value>
                    <stringValue>Picker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNextOnSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRequestTypeSelection</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShippingGroup</name>
        <label>ShippingGroup</label>
        <locationX>2030</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContinueOrFinishTheFlow</targetReference>
        </connector>
        <fields>
            <name>Flow_OpsException_Script</name>
            <extensionName>c:ICX_Flow_AgentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ICX_Flow_OpsException_Script</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DuplicateCases</name>
            <extensionName>c:ICX_DisplayDuplicateCases</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarShippingGroup</assignToReference>
                <name>shippingGroup</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarContinueOperationException</assignToReference>
                <name>continue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OperationExecptionFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canFinish</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1541</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_or_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallingCampaignFlow</name>
        <label>CallingCampaignFlow</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Request_created</targetReference>
        </connector>
        <flowName>ICX_Phoenix_MyCR_Creation</flowName>
        <inputAssignments>
            <name>VarOrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarNewCaseID</assignToReference>
            <name>VarCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Distant_Care_Service_Creation</name>
        <label>Distant Care Service Creation</label>
        <locationX>4538</locationX>
        <locationY>566</locationY>
        <flowName>Distant_CareService_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObject</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Escalation_Flow</name>
        <label>Escalation Flow</label>
        <locationX>4802</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <flowName>Escalation_Flow</flowName>
        <inputAssignments>
            <name>isNewQualification</name>
            <value>
                <elementReference>isNewQualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObject</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarNewCaseID</assignToReference>
            <name>VarNewCaseID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_StoreID_from_Default_Store</name>
        <label>Get StoreID from Default Store</label>
        <locationX>3284</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>What_request_type</targetReference>
        </connector>
        <flowName>ICX_StoreCaseUpdate</flowName>
        <inputAssignments>
            <name>VarRuningUserDefaultStore</name>
            <value>
                <elementReference>VarUserDefaultStoreCode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarDigitalStoreID</assignToReference>
            <name>VarStoreID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Lookup_Validation_flow</name>
        <label>Launch Lookup&amp;Validation flow</label>
        <locationX>3284</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_StoreID_from_Default_Store</targetReference>
        </connector>
        <flowName>ICX_Lookup_Validation</flowName>
        <inputAssignments>
            <name>VarRunningUser</name>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewQualification</name>
            <value>
                <elementReference>isNewQualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObject</name>
            <value>
                <elementReference>sObject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <name>VarAccountID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCAName</assignToReference>
            <name>VarCAName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceID</assignToReference>
            <name>VarCareServiceID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCaseRecordTypeID</assignToReference>
            <name>VarCaseRecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCategory</assignToReference>
            <name>VarCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarClientDesiredDate</assignToReference>
            <name>VarClientDesiredDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <name>VarContactID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPreferenceClient</assignToReference>
            <name>VarContactPreference</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <name>VarCountry</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCurrency</assignToReference>
            <name>VarCurrency</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUserDefaultStoreCode</assignToReference>
            <name>VarDefaultStoreUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDescription</assignToReference>
            <name>VarDescription</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDomaine</assignToReference>
            <name>VarDomaine</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSuppliedEmail</assignToReference>
            <name>VarEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarHotSku</assignToReference>
            <name>VarHotSku</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNature</assignToReference>
            <name>VarNature</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCaseOrigin</assignToReference>
            <name>VarOrigin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOwnerID</assignToReference>
            <name>VarOwnerID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPODComment</assignToReference>
            <name>VarPODComment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPhoneNumber</assignToReference>
            <name>VarPhoneNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <name>VarProductCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <name>VarProductCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <name>VarProductGender</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductPrice</assignToReference>
            <name>VarProductPrice</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductSku</assignToReference>
            <name>VarProductSku</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDigitalStoreID</assignToReference>
            <name>VarProductStore</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarResolution</assignToReference>
            <name>VarResolution</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarStoreID</assignToReference>
            <name>VarStoreID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSubject</assignToReference>
            <name>VarSubject</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskRecordTypeId</assignToReference>
            <name>VarTaskRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarUnknownProduct</assignToReference>
            <name>VarUnknownProduct</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sObject</assignToReference>
            <name>sObject</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Depending on where the Request Creation is requested (from a new call/case/chat... OR &apos;New Request&apos; button)</description>
        <name>isNewQualification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is new case creation from scratch (no link to a parent record)</description>
        <name>isNoRecordId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>sObject name (ex: Case, Calling_Campaign_Order__c...)</description>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAssignedToEscalation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseTeamEscalation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplate</objectType>
    </variables>
    <variables>
        <name>VarCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarClientDesiredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContinueOperationException</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateIdentity</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDigitalStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDistanceOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDomaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEscalationDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFollowByCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFollowByEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarHotSku</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarIssueCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOpsExceptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrigineOfEscalation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPhone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPODComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPreferenceClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductCategory</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductGender</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used in formula Subject</description>
        <name>VarProductSkuName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get Salesforce Id of ICX_ProductEnquired__c</description>
        <name>varQualificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User selection for the Request Type screen</description>
        <name>varRequestTypeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRequiredFieldEscalation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRetailStoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarShippingGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSKUCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarStoreCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Temporary - quick fix - to be deleted for next version</description>
        <name>VarStoreVerification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store__c</objectType>
    </variables>
    <variables>
        <name>VarSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTypeOfSupport</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUserDefaultStoreCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
