force-app/main/default/flows/ICX_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Inputs</name>
        <label>Check Inputs</label>
        <locationX>458</locationX>
        <locationY>15</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ISO3_Country_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DUMMY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_ISO3_Country</targetReference>
            </connector>
            <label>ISO3 Country not empty</label>
        </rules>
        <rules>
            <name>Case_Task_country_no_ISO3_Country</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Task_Case_country_value</targetReference>
            </connector>
            <label>Case/Task country (no ISO3 Country)</label>
        </rules>
        <rules>
            <name>Account_country_no_ISO3_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Account_country_value</targetReference>
            </connector>
            <label>Account country (no ISO3 country)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_type</name>
        <label>Object type?</label>
        <locationX>581</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_ISO3_country</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
        <rules>
            <name>Is_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_ISO3_Country</targetReference>
            </connector>
            <label>Is Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>sObject_Type</name>
        <label>sObject Type?</label>
        <locationX>186</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryResult.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Case?</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryResult.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account?</label>
        </rules>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryResult.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Task?</label>
        </rules>
    </decisions>
    <description>[ICONiCS] Update country fields</description>
    <interviewLabel>ICX_Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_Country</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Account_country_value</name>
        <label>Search Account country value</label>
        <locationX>809</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_ISO3_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </filters>
        <object>CountryMapping__mdt</object>
        <outputReference>CountryResult</outputReference>
        <queriedFields>Iso3Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_ISO3_Country</name>
        <label>Search ISO3 Country</label>
        <locationX>187</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sObject_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasOtherValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Iso3Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryCode</elementReference>
            </value>
        </filters>
        <object>CountryMapping__mdt</object>
        <outputReference>CountryResult</outputReference>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Task_Case_country_value</name>
        <label>Search Task/Case country value</label>
        <locationX>574</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </filters>
        <object>CountryMapping__mdt</object>
        <outputReference>CountryResult</outputReference>
        <queriedFields>Iso3Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>102</locationX>
        <locationY>381</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryCountry__pc</field>
            <value>
                <elementReference>CountryResult.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Country__pc</field>
            <value>
                <elementReference>CountryResult.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ISO3_Country</name>
        <label>Update Account ISO3 Country</label>
        <locationX>828</locationX>
        <locationY>369</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Country_code__pc</field>
            <value>
                <elementReference>CountryResult.Iso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>256</locationX>
        <locationY>381</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>CountryResult.Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_ISO3_country</name>
        <label>Update Case ISO3 country</label>
        <locationX>689</locationX>
        <locationY>370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>CountryResult.Iso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>399</locationX>
        <locationY>378</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>CountryResult.Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_ISO3_Country</name>
        <label>Update Task ISO3 Country</label>
        <locationX>555</locationX>
        <locationY>379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICX_Country__c</field>
            <value>
                <elementReference>CountryResult.Iso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Check_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <description>ISO3 country code</description>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CountryMapping__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Not ISO3 country code (Case.Country__c, Task.Country__c values for example)</description>
        <name>Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
