force-app/main/default/flows/ICX_Knowledge_Comment_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_FR</name>
        <label>Europe Alert</label>
        <locationX>1147</locationX>
        <locationY>383</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Europe</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Europe</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Australia_Alert</name>
        <label>Australia Alert</label>
        <locationX>1154</locationX>
        <locationY>102</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Australia</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Australia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Brazil_Alert</name>
        <label>Brazil Alert</label>
        <locationX>1251</locationX>
        <locationY>188</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Brazil</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Brazil</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>China_Alert</name>
        <label>China  Alert</label>
        <locationX>1184</locationX>
        <locationY>277</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_China</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HK_Alert</name>
        <label>HK Alert</label>
        <locationX>1135</locationX>
        <locationY>533</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_HK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_HK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>India_Alert</name>
        <label>India Alert</label>
        <locationX>1243</locationX>
        <locationY>488</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_India</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Indonesia_Alert</name>
        <label>Indonesia Alert</label>
        <locationX>1041</locationX>
        <locationY>441</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Indonesia</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Indonesia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Japan_Alert</name>
        <label>Japan Alert</label>
        <locationX>1280</locationX>
        <locationY>372</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Japan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Japan</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Korea_Alert</name>
        <label>Korea Alert</label>
        <locationX>1335</locationX>
        <locationY>517</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Korea</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Korea</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Middle_East_Alert</name>
        <label>Middle East Alert</label>
        <locationX>1288</locationX>
        <locationY>59</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_ME</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_ME</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Singapore_Alert</name>
        <label>Singapore Alert</label>
        <locationX>1119</locationX>
        <locationY>20</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Singapore</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Singapore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Thailand_Alert</name>
        <label>Thailand Alert</label>
        <locationX>1039</locationX>
        <locationY>572</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Thailand</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback_Thailand</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>send an email to the correct knowledge team in case of new feedback</description>
        <name>USA_Alert</name>
        <label>USA Alert</label>
        <locationX>1092</locationX>
        <locationY>293</locationY>
        <actionName>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>afl__afl_Article_Feedback__c.ICX_New_knowledge_feedback</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Category_Name</name>
        <label>Assign Category Name</label>
        <locationX>385</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>VarCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category_Client_Service.DataCategoryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCategoryGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category_Client_Service.DataCategoryGroupName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatch_countries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dispatch_countries</name>
        <label>Dispatch Client Services</label>
        <locationX>665</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Category_Client_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Service_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USA_Alert</targetReference>
            </connector>
            <label>Client Service US</label>
        </rules>
        <rules>
            <name>Client_Service_Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_FR</targetReference>
            </connector>
            <label>Client Service Europe</label>
        </rules>
        <rules>
            <name>Client_Service_Middle_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Middle_East</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Middle_East_Alert</targetReference>
            </connector>
            <label>Client Service Middle East</label>
        </rules>
        <rules>
            <name>Client_Service_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Australia_Alert</targetReference>
            </connector>
            <label>Client Service Australia</label>
        </rules>
        <rules>
            <name>Client_Service_Brazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brazil_Alert</targetReference>
            </connector>
            <label>Client Service Brazil</label>
        </rules>
        <rules>
            <name>Client_Service_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>China_Alert</targetReference>
            </connector>
            <label>Client Service China</label>
        </rules>
        <rules>
            <name>Client_Service_HK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong_Kong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HK_Alert</targetReference>
            </connector>
            <label>Client Service HK</label>
        </rules>
        <rules>
            <name>Client_Service_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>India_Alert</targetReference>
            </connector>
            <label>Client Service India</label>
        </rules>
        <rules>
            <name>Client_Service_Indonesia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indonesia_Alert</targetReference>
            </connector>
            <label>Client Service Indonesia</label>
        </rules>
        <rules>
            <name>Client_Service_Japan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Japan_Alert</targetReference>
            </connector>
            <label>Client Service Japan</label>
        </rules>
        <rules>
            <name>Client_Service_Korea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Korea_Alert</targetReference>
            </connector>
            <label>Client_Service Korea</label>
        </rules>
        <rules>
            <name>Client_Service_Singapore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Singapore_Alert</targetReference>
            </connector>
            <label>Client Service Singapore</label>
        </rules>
        <rules>
            <name>Client_Service_Thailand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCategoryGroupName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thailand_Alert</targetReference>
            </connector>
            <label>Client Service Thailand</label>
        </rules>
    </decisions>
    <interviewLabel>ICX Knowledge Comment flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX Knowledge Comment flow</label>
    <loops>
        <name>Category_Client_Service</name>
        <label>Category Client Service</label>
        <locationX>349</locationX>
        <locationY>485</locationY>
        <collectionReference>VarCollectionCategory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Category_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Knowledge_Feedback</name>
        <label>Lookup Knowledge Feedback</label>
        <locationX>118</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupDataCategory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecordIDfake</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>afl__afl_Article_Feedback__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>afl__Knowledge_Article_Version_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LookupDataCategory</name>
        <label>LookupDataCategory</label>
        <locationX>268</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Category_Client_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Knowledge_Feedback.afl__Knowledge_Article_Version_Id__c</elementReference>
            </value>
        </filters>
        <object>Knowledge__DataCategorySelection</object>
        <outputReference>VarCollectionCategory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DataCategoryName</queriedFields>
        <queriedFields>DataCategoryGroupName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>60</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Lookup_Knowledge_Feedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCategoryGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCategoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCollectionCategory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__DataCategorySelection</objectType>
    </variables>
    <variables>
        <name>VarRecordIDfake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
