force-app/main/default/flows/ICX_Queue_MDT_QueueToCountry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Result</name>
        <label>Result?</label>
        <locationX>361</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Result_OK_for_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQueue.CountryIso3Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Result OK for Case</label>
        </rules>
        <rules>
            <name>Result_OK_for_Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQueue.CountryIso3Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LiveChatTranscript</targetReference>
            </connector>
            <label>Result OK for Live Chat</label>
        </rules>
        <rules>
            <name>Result_OK_for_Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQueue.CountryIso3Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_Session</targetReference>
            </connector>
            <label>Result OK for Messaging Session</label>
        </rules>
    </decisions>
    <description>[ICONiCS] Use the &quot;ICX_Queue__mdt&quot; MetaData Type 
Update country fields on a record based on the queue</description>
    <interviewLabel>ICX_Queue_MDT_QueueToCountry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_Queue_MDT_QueueToCountry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Queue_Metadata</name>
        <label>Queue Metadata</label>
        <locationX>369</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueDeveloperName</elementReference>
            </value>
        </filters>
        <object>ICX_Queue__mdt</object>
        <outputReference>varQueue</outputReference>
        <queriedFields>CountryIso3Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>361</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Update_Country_c_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>varQueue.CountryIso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LiveChatTranscript</name>
        <label>Update LiveChatTranscript</label>
        <locationX>750</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Country_c_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varQueue.CountryIso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>66</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>Update_Country_c_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varQueue.CountryIso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Queue_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Country_c_field</name>
        <label>Update Country__c field</label>
        <locationX>362</locationX>
        <locationY>556</locationY>
        <flowName>ICX_Country</flowName>
        <inputAssignments>
            <name>CountryCode</name>
            <value>
                <elementReference>varQueue.CountryIso3Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <elementReference>objectType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue Developer Name</description>
        <name>queueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ICX_Queue__mdt</objectType>
    </variables>
</Flow>
