force-app/main/default/flows/MIY_Workshop_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to AMS email if an error occurs</description>
        <name>Error_notification</name>
        <label>Error notification</label>
        <locationX>776</locationX>
        <locationY>174</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Workshop Management: An error occured during the flow execution</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Retreives the appropriate workshop based on order info like product category, order type, creation type</description>
    <formulas>
        <description>Holds the email recipients</description>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <expression>{!$Label.LV_AMS_EMAIL}</expression>
    </formulas>
    <interviewLabel>NY - Workshop Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NY - Workshop Management</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retreives the appropriate workshop based on icoming order information such as: product category, order type, creation type, application source</description>
        <name>Retreive_workshop</name>
        <label>Retreive workshop</label>
        <locationX>459</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_incoming_order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_notification</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Creation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_CreationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exotic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Exotic</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oder_ProductCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationSource</elementReference>
            </value>
        </filters>
        <object>MIY_Workshop__c</object>
        <outputAssignments>
            <assignToReference>Order_Workshop</assignToReference>
            <field>Workshop__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Set the workshop field on incoming order</description>
        <name>Update_incoming_order</name>
        <label>Update incoming order</label>
        <locationX>461</locationX>
        <locationY>267</locationY>
        <faultConnector>
            <targetReference>Error_notification</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Workshop__c</field>
            <value>
                <elementReference>Order_Workshop</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Retreive_workshop</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Application Source</description>
        <name>ApplicationSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Product Category of the incoming order: Leather goods or Belts</description>
        <name>Oder_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Creation type of the incoming order</description>
        <name>Order_CreationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order_Exotic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order_ExoticMaterial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of the incoming order</description>
        <name>Order_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order_Workshop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type of the incoming order: Creation or MTO</description>
        <name>OrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
