force-app/main/default/flows/Opportunity_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Chatter_Quotation_Submitted</name>
        <label>Alert Chatter Quotation Submitted</label>
        <locationX>1784</locationX>
        <locationY>3143</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Quotation submitted for {!$Record.Name} - {!$Record.OrderNumber__c}  https://louisvuitton.lightning.force.com/{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Prod_Owner</name>
        <label>Post to Prod. Owner</label>
        <locationX>1915</locationX>
        <locationY>2735</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>SPO_Quotation_in_progress_ended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The SKU for order {!$Record.OrderNumber__c} has been updated by ETL to : {!$Record.SPO_Sku_Code_S__c}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Production_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>All_Firm_Orders_are_Payment_Confirmed</name>
        <label>All Firm Orders are Payment Confirmed</label>
        <locationX>3893</locationX>
        <locationY>3983</locationY>
        <defaultConnector>
            <targetReference>Display_Order_All_FOs_are_in_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAllFirmOrdersarePaymentConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_Payment_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SPO_SkuQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_won</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Firm_Orders_at_least_in_Distribution</name>
        <label>All Firm Orders at least in Distribution</label>
        <locationX>3893</locationX>
        <locationY>3683</locationY>
        <defaultConnector>
            <targetReference>All_Firm_Orders_are_Payment_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAllFirmOrdersatleastinDistribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Distribution in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Received in store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllFirmOrdersatleastinDistribution</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_in_Distribution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_FOs_cancelled_by_store</name>
        <label>All FOs cancelled by store</label>
        <locationX>3367</locationX>
        <locationY>3467</locationY>
        <defaultConnector>
            <targetReference>All_FOs_cancelled_not_only_by_store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAllFOscancelledbystore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_Cancelled_by_Store__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Nb_FO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_Cancelled_by_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_FOs_cancelled_not_only_by_store</name>
        <label>All FOs cancelled - not only by store</label>
        <locationX>3630</locationX>
        <locationY>3575</locationY>
        <defaultConnector>
            <targetReference>All_Firm_Orders_at_least_in_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAllFOscancellednotonlybystore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Nb_FO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_Cancelled_by_Store__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Nb_FO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_Cancelled_by_production</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Order_All_FOs_are_delivered</name>
        <label>Client Order: All FOs are delivered</label>
        <locationX>4155</locationX>
        <locationY>4691</locationY>
        <defaultConnector>
            <targetReference>ECO_All_firm_orders_are_Sent_from_RWH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesClientOrderAllFOsaredelivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DisplayOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Nb_FO_Delivered__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_in_store_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Order_All_FOs_are_in_Store</name>
        <label>Client Order: All FOs are in Store</label>
        <locationX>4155</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>Client_Order_All_FOs_are_delivered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesClientOrderAllFOsareinStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DisplayOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientOrderAllFOsareinStore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_in_store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Order_All_FOs_are_in_Store</name>
        <label>Display Order: All FOs are in Store</label>
        <locationX>4155</locationX>
        <locationY>4091</locationY>
        <defaultConnector>
            <targetReference>Client_Order_All_FOs_are_in_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDisplayOrderAllFOsareinStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DisplayOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DisplayOrderAllFOsareinStore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_Won_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ECO_All_firm_orders_are_Sent_from_RWH</name>
        <label>ECO - All firm orders are Sent from RWH</label>
        <locationX>4415</locationX>
        <locationY>4799</locationY>
        <defaultConnector>
            <targetReference>Order_is_not_OK_for_JDE_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesECOAllfirmordersareSentfromRWH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_Sent_from_RWH__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TECH_Nb_FO_not_cancelled__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Nb_FO_not_cancelled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_in_store_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new</name>
        <label>Is new</label>
        <locationX>1256</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_Special_Order_SKU_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsnew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NY_Order_Failed</name>
        <label>NY Order Failed</label>
        <locationX>2575</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>Production_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNYOrderFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefComment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_up_Order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_is_not_OK_for_JDE_2</name>
        <label>Order is not OK for JDE</label>
        <locationX>4671</locationX>
        <locationY>4906</locationY>
        <defaultConnector>
            <targetReference>OrderisOKforJDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_is_not_OK_for_JDE</name>
            <conditionLogic>((1 AND 2) OR (3 AND 12) OR 4 OR ((5 AND 2) OR (6 AND 2) OR (7 AND 8 AND 9)) AND 10 AND 12) AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DisplayOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_CACode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DepositSentStatusDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_CRS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_OrderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation (Hardsided &amp; Soft)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation in progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Firm_Orders_as_incomplete</targetReference>
            </connector>
            <label>Order is not OK for JDE</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderisOKforJDE</name>
        <label>Order is OK for JDE</label>
        <locationX>4919</locationX>
        <locationY>5015</locationY>
        <defaultConnector>
            <targetReference>Update_order_to_exo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOrderisOKforJDE</name>
            <conditionLogic>((1 OR 9) AND 2 AND 3 AND (4 OR 8 OR 9) AND (5 OR 6 OR 7 OR 8) AND (10 OR 9)) AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_CACode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_CRS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_OrderType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Creation (Hardsided &amp; Soft)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DisplayOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_DepositSentStatusDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Firm_Orders_as_complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Production_Cancellation</name>
        <label>Production Cancellation</label>
        <locationX>2839</locationX>
        <locationY>3251</locationY>
        <defaultConnector>
            <targetReference>Store_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProductionCancellation</name>
            <conditionLogic>5 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production - Reject by supply-chain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production - Not complient with LV code</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production - Technically not feasible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production - Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Amount_updated</name>
        <label>SPO - Amount updated</label>
        <locationX>2047</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>SPO_SKU_updated_by_ETL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOAmountupdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_TotalAmount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Mail_to_Referential_checked</name>
        <label>SPO - Mail to Referential checked</label>
        <locationX>2311</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>NY_Order_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOMailtoReferentialchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_TechMailToreferential__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_TechMailToreferential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firm_Order_Update_in_Codification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Quotation_in_progress_ended</name>
        <label>SPO - Quotation in progress ended</label>
        <locationX>2047</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>SPO_Mail_to_Referential_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOQuotationinprogressended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_EstimatedProductionTimeMonths__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_EstimatedDistributionTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_UnitRetailPriceQuotation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_Numberofproductivehours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_CRS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quotation submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referential_section</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Send_to_ERP_checked</name>
        <label>SPO - Send to ERP checked</label>
        <locationX>1519</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>SPO_Stage_updated_simple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOSendtoERPchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_to_ERP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_to_ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpeOrder_Order_Following_r</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_SKU_updated_by_ETL</name>
        <label>SPO - SKU updated by ETL</label>
        <locationX>2047</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>SPO_Quotation_in_progress_ended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPO_SKU_updated_by_ETL_formula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SPO_SpecialOrderSKUCodeRef__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_SpecialOrderSKUCodeRef__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>interfacelvds@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Prod_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Stage_Updated_Distribution</name>
        <label>SPO - Stage Updated (Distribution)</label>
        <locationX>1783</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>SPO_Amount_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOStageUpdatedDistribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_Date_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Stage_updated_Prod_in_progress</name>
        <label>SPO - Stage updated (Prod. in progress)</label>
        <locationX>1519</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>SPO_Stage_Updated_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOStageupdatedProdinprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SPO_Stage_updated_simple</name>
        <label>SPO - Stage updated (simple)</label>
        <locationX>1519</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>SPO_Stage_updated_Prod_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSPOStageupdatedsimple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.BypassWF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quotation_in_progress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_Cancellation</name>
        <label>Store Cancellation</label>
        <locationX>3103</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>All_FOs_cancelled_by_store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStoreCancellation</name>
            <conditionLogic>5 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client - Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client - Leadtime too long</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client - Do not answer client need</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_StopBriefReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client - Client decision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunnityLastModifiedByBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Stage_to_Cancelled_by_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_order_to_exo</name>
        <label>Update order to exo</label>
        <locationX>5150</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>Update_order_to_non_exo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdateordertoexo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updateordertoexo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_exotic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_order_to_non_exo</name>
        <label>Update order to non exo</label>
        <locationX>5348</locationX>
        <locationY>5231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdateordertononexo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updateordertononexo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_is_no_longer_exotic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Special_Order_SKU_Code</name>
        <label>Update Special Order SKU Code</label>
        <locationX>1519</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>SPO_Send_to_ERP_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdateSpecialOrderSKUCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPO_Sku_Code_S__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_SO_SKU_code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_by_Production_user</name>
        <label>Updated by Production user</label>
        <locationX>1256</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Is_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SPO_Production</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prod_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Activity2</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
 {!$Record.SPO_BaseSKURefmodelSKU__r.Activity__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Aestheticline</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.AestheticLine__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>AllFirmOrdersatleastinDistribution</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TECH_Nb_FO_Distribution_in_progress__c} +
{!$Record.TECH_Nb_FO_Sent_to_MyPR__c} + 
{!$Record.TECH_Nb_FO_Received_in_Store__c} + 
{!$Record.TECH_Nb_FO_Delivered__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ClientOrderAllFOsareinStore</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TECH_Nb_FO_Received_in_Store__c} + {!$Record.TECH_Nb_FO_Delivered__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Department</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.Departement__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Depositamount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SPO_DepositAmount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DepositAmountNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SPO_DepositAmount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.Name},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>DescriptioninUpperCase</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.SPO_Description__c})</expression>
    </formulas>
    <formulas>
        <name>DisplayOrderAllFOsareinStore</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TECH_Nb_FO_Received_in_Store__c} + {!$Record.TECH_Nb_FO_Delivered__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FamilyLG</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.Family__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!$Record.LastModifiedBy.BypassWF__c}), ISNEW())</expression>
    </formulas>
    <formulas>
        <name>ItemDimensionGroupLG</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.ItemDimensionGroup__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>MacroFamilyLG</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.MacroFamily__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>MacroMaterial</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.MacroMaterial__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Madein</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.MadeIn__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>ManuFacturerprocess</name>
        <dataType>String</dataType>
        <expression>IF (
  AND (
    NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
    NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__r.ManuFacturerProcess__c}))
  ),
  {!$Record.SPO_BaseSKURefmodelSKU__r.ManuFacturerProcess__c},
  &apos;ETO ENGINEER TO ORDER&apos;
)</expression>
    </formulas>
    <formulas>
        <name>MarketingColor</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.MarketingColor__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>nullText</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>OrderName</name>
        <dataType>String</dataType>
        <expression>IF (
  OR (
    TEXT({!$Record.ApplicationSource__c}) = &apos;ECO&apos;,
    TEXT({!$Record.ApplicationSource__c} )= &apos;PERSO&apos;
  ),
 
  /* Perso order number must be on 7 digits */
  &apos;P&apos; + LPAD({!$Record.TECH_OrderNumber__c}, 7, &apos;0&apos;)
   + &apos;-&apos; + 

  IF (NOT({!$Record.SPO_DisplayOrder__c}),
    {!$Record.Account.LastName},
    {!$Record.SPO_StoreCode__c} 
  ),
  {!$Record.Name}
)</expression>
    </formulas>
    <formulas>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <expression>IF (
    TEXT({!$Record.ApplicationSource__c}) = &apos;PERSO&apos; 
    || TEXT({!$Record.ApplicationSource__c}) = &apos;ECO&apos;,
  /* Perso order number must be on 7 digits */
  &apos;P&apos; + LPAD({!$Record.TECH_OrderNumber__c}, 7, &apos;0&apos;), 
 /* SPO is on 6 digits and TECH_OrderNumber__c is already on 6 digits*/
/*UPDATE WS: SPO number is changed from SP000000 to S0000000 for MIY1765*/
  &apos;S&apos; +  LPAD({!$Record.TECH_OrderNumber__c}, 7, &apos;0&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>SalesType</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.SalesType__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>SPOSKUupdatedbyETL</name>
        <dataType>Boolean</dataType>
        <expression>AND(
     ISBLANK(PRIORVALUE({!$Record.SPO_SpecialOrderSKUCodeRef__c})),
     NOT(ISBLANK({!$Record.SPO_SpecialOrderSKUCodeRef__c})),
     BEGINS({!$Record.LastModifiedBy.Username}, &apos;interfacelvds@louisvuitton.com&apos;) 
)</expression>
    </formulas>
    <formulas>
        <name>SubAestheticLine</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.SubAestheticLine__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>SubfamilyLG</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.SubFamily__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Subgroup</name>
        <dataType>String</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.SPO_BaseSKURefmodelSKU__c})),
  {!$Record.SPO_BaseSKURefmodelSKU__r.SubGroup__c},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UpdateOrder</name>
        <dataType>Number</dataType>
        <expression>/* Use Amount field for Special Order to be as Perso or lv.com orders. List views or reports can use the same field */
{!$Record.SPO_TotalAmount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Updateordertoexo</name>
        <dataType>Boolean</dataType>
        <expression>AND
(	NOT({!$Record.LastModifiedBy.BypassWF__c} ),
	ISPICKVAL({!$Record.SPO_Exo__c}, &apos;No&apos; ),
	OR(
		AND
		(
			NOT(ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial1__c} ))), 
			ISCHANGED({!$Record.SPO_ExteriorMaterial1__c} ),
			CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial1__c} )) , &apos;EXO&apos;)
		),
		AND
		(
			NOT(ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial2__c} ))), 
			ISCHANGED({!$Record.SPO_ExteriorMaterial2__c} ),
			CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial2__c} )) , &apos;EXO&apos;)
		),
		AND
		(
			NOT(ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial3__c} ))),
			ISCHANGED({!$Record.SPO_ExteriorMaterial3__c} ),			
			CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial3__c} )) , &apos;EXO&apos;)
		),
		AND
		(
			NOT(ISBLANK(TEXT({!$Record.SPO_LiningInteriorMaterial1__c} ))), 
			ISCHANGED({!$Record.SPO_LiningInteriorMaterial1__c} ),
			CONTAINS(UPPER(TEXT({!$Record.SPO_LiningInteriorMaterial1__c} )) , &apos;EXO&apos;)
		),
		AND
		(
			NOT(ISBLANK(TEXT({!$Record.SPO_LiningInteriorMaterial2__c} ))), 
			ISCHANGED({!$Record.SPO_LiningInteriorMaterial2__c} ),
			CONTAINS(UPPER(TEXT({!$Record.SPO_LiningInteriorMaterial2__c} )) , &apos;EXO&apos;)
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>Updateordertononexo</name>
        <dataType>Boolean</dataType>
        <expression>AND
(	NOT({!$Record.LastModifiedBy.BypassWF__c} ),
	ISPICKVAL({!$Record.SPO_Exo__c}, &apos;Yes&apos; ),
	OR
	(
		AND
		(
			ISCHANGED({!$Record.SPO_ExteriorMaterial1__c} ),
			OR
			(
				ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial1__c} )),
				NOT(CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial1__c} )) , &apos;EXO&apos;))
			)
		),
		AND
		(
			ISCHANGED({!$Record.SPO_ExteriorMaterial2__c} ),
			OR
			(
				ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial2__c} )),
				NOT(CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial2__c} )) , &apos;EXO&apos;))
			)
		),
		AND
		(
			ISCHANGED({!$Record.SPO_ExteriorMaterial3__c} ),
			OR
			(
				ISBLANK(TEXT({!$Record.SPO_ExteriorMaterial3__c} )),
				NOT(CONTAINS(UPPER(TEXT({!$Record.SPO_ExteriorMaterial3__c} )) , &apos;EXO&apos;))
			)
		),
		AND
		(
			ISCHANGED({!$Record.SPO_LiningInteriorMaterial1__c} ),
			OR
			(
				ISBLANK(TEXT({!$Record.SPO_LiningInteriorMaterial1__c} )),
				NOT(CONTAINS(UPPER(TEXT({!$Record.SPO_LiningInteriorMaterial1__c} )) , &apos;EXO&apos;))
			)
		),
		AND
		(
			ISCHANGED({!$Record.SPO_LiningInteriorMaterial2__c} ),
			OR
			(
				ISBLANK(TEXT({!$Record.SPO_LiningInteriorMaterial2__c} )),
				NOT(CONTAINS(UPPER(TEXT({!$Record.SPO_LiningInteriorMaterial2__c} )) , &apos;EXO&apos;))
			)
		)
	)		
	
)</expression>
    </formulas>
    <interviewLabel>Opportunity Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cancel_firm_orders</name>
        <label>Cancel firm orders</label>
        <locationX>2576</locationX>
        <locationY>3467</locationY>
        <inputAssignments>
            <field>Cancellation_Comment__c</field>
            <value>
                <elementReference>$Record.SPO_StopBriefComment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.SPO_StopBriefReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Cancelled by production</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Firm_orders_2</name>
        <label>Cancel Firm orders</label>
        <locationX>2840</locationX>
        <locationY>3575</locationY>
        <inputAssignments>
            <field>Cancellation_Comment__c</field>
            <value>
                <elementReference>$Record.SPO_StopBriefComment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.SPO_StopBriefReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Cancelled by store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Creation_in_progress</name>
        <label>Creation in progress</label>
        <locationX>1387</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Received_in_store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Creation_in_progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Description_in_UpperCase</name>
        <label>Description in UpperCase</label>
        <locationX>2048</locationX>
        <locationY>3251</locationY>
        <inputAssignments>
            <field>SPO_Description__c</field>
            <value>
                <elementReference>DescriptioninUpperCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ECO_Update_Deposite_Date_and_Deposite_Amount</name>
        <label>ECO Update Deposite Date and Deposite Amount</label>
        <locationX>992</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Set_Workshop_on_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECO</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_DepositAmount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_DepositSentStatusDate__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Firm_Order_Update_in_Codification</name>
        <label>Firm Order Update in Codification</label>
        <locationX>2048</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>Description_in_UpperCase</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Substatus__c</field>
            <value>
                <stringValue>Codification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Flag_Firm_Orders_as_complete</name>
        <label>Flag Firm Orders as complete</label>
        <locationX>4688</locationX>
        <locationY>5123</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incomplete_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Incomplete_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Flag_Firm_Orders_as_incomplete</name>
        <label>Flag Firm Orders as incomplete</label>
        <locationX>4424</locationX>
        <locationY>5015</locationY>
        <inputAssignments>
            <field>Incomplete_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_Cancelled_by_production</name>
        <label>Order is Cancelled by production</label>
        <locationX>3368</locationX>
        <locationY>3683</locationY>
        <inputAssignments>
            <field>SPO_Date_Cancelled_by_Production__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefComment__c</field>
            <value>
                <stringValue>Cancelled by automated process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefReason__c</field>
            <value>
                <stringValue>Production - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by Production</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_Cancelled_by_Store</name>
        <label>Order is Cancelled by Store</label>
        <locationX>3104</locationX>
        <locationY>3575</locationY>
        <inputAssignments>
            <field>SPO_Date_Cancelled_by_store__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefComment__c</field>
            <value>
                <stringValue>Cancelled by automated process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_StopBriefReason__c</field>
            <value>
                <stringValue>Client - Client decision</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by store</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_exotic</name>
        <label>Order is exotic</label>
        <locationX>4952</locationX>
        <locationY>5231</locationY>
        <inputAssignments>
            <field>SPO_Exo__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_in_Distribution</name>
        <label>Order is in Distribution</label>
        <locationX>3761</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>All_Firm_Orders_are_Payment_Confirmed</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_Distribution_in_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Distribution in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_in_store</name>
        <label>Order is in store</label>
        <locationX>4023</locationX>
        <locationY>4499</locationY>
        <connector>
            <targetReference>Client_Order_All_FOs_are_delivered</targetReference>
        </connector>
        <inputAssignments>
            <field>Received_in_Store_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Received in store</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_in_store_0</name>
        <label>Order is Won</label>
        <locationX>3896</locationX>
        <locationY>4799</locationY>
        <inputAssignments>
            <field>SPO_Date_Closed_Won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_in_store_0_0</name>
        <label>Order is Won</label>
        <locationX>4160</locationX>
        <locationY>4907</locationY>
        <inputAssignments>
            <field>SPO_Date_Closed_Won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_no_longer_exotic</name>
        <label>Order is no longer exotic</label>
        <locationX>5216</locationX>
        <locationY>5339</locationY>
        <inputAssignments>
            <field>SPO_Exo__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_won</name>
        <label>Order is won</label>
        <locationX>3632</locationX>
        <locationY>4091</locationY>
        <inputAssignments>
            <field>SPO_Date_Closed_Won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Order_is_Won_2</name>
        <label>Order is Won</label>
        <locationX>4023</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>Client_Order_All_FOs_are_in_Store</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_Closed_Won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quotation_accepted</name>
        <label>Quotation accepted</label>
        <locationX>1387</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Creation_in_progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quotation accepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Quotation_accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quotation_in_progress</name>
        <label>Quotation in progress</label>
        <locationX>1387</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Quotation_submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quotation in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Quotation_in_progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quotation_submitted</name>
        <label>Quotation submitted</label>
        <locationX>1387</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Quotation_accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quotation submitted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SPO_Date_Quotation_submitted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Received_in_store</name>
        <label>Received in store</label>
        <locationX>1387</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>SPO_Stage_updated_Prod_in_progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received in store</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Received_in_Store_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SO_SKU_code</name>
        <label>Set SO SKU code</label>
        <locationX>1387</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>SPO_Send_to_ERP_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_SpecialOrderSKUCode__c</field>
            <value>
                <elementReference>$Record.SPO_Sku_Code_S__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_Date</name>
        <label>Set Stage Date</label>
        <locationX>1256</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Update_Firm_Orders</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_In_progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_Date_2</name>
        <label>Set Stage Date</label>
        <locationX>1520</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Update_Firm_Orders_1</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_Distribution_in_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SpeOrder_Order_Following_r</name>
        <label>SpeOrder_Order_Following__r</label>
        <locationX>1387</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>SPO_Stage_updated_simple</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Substatus__c</field>
            <value>
                <stringValue>Technical data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Firm_Orders</name>
        <label>Update Firm Orders</label>
        <locationX>1256</locationX>
        <locationY>2327</locationY>
        <inputAssignments>
            <field>DistributionStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Production in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Firm_Orders_1</name>
        <label>Update Firm Orders</label>
        <locationX>1520</locationX>
        <locationY>2435</locationY>
        <inputAssignments>
            <field>SPO_FirmOrderStatus__c</field>
            <value>
                <stringValue>Distribution in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SpeOrder_Order_Following__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1915</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>SPO_SKU_updated_by_ETL</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.SPO_TotalAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_number</name>
        <label>Update order number</label>
        <locationX>992</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>ECO_Update_Deposite_Date_and_Deposite_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OrderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderNumber__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Stage</name>
        <label>Update Order Stage</label>
        <locationX>2576</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>Cancel_firm_orders</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_Cancelled_by_Production__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by Production</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Stage_to_Cancelled_by_Store</name>
        <label>Update Order Stage to Cancelled by Store</label>
        <locationX>2840</locationX>
        <locationY>3467</locationY>
        <connector>
            <targetReference>Cancel_Firm_orders_2</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Date_Cancelled_by_store__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by store</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prod_Owner</name>
        <label>Update Prod. Owner</label>
        <locationX>1124</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Is_new</targetReference>
        </connector>
        <inputAssignments>
            <field>Production_Owner__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referential_section</name>
        <label>Update Referential section</label>
        <locationX>1784</locationX>
        <locationY>3035</locationY>
        <connector>
            <targetReference>Alert_Chatter_Quotation_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_Activity2__c</field>
            <value>
                <elementReference>Activity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Aestheticline__c</field>
            <value>
                <elementReference>Aestheticline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Department__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_FamilyLG__c</field>
            <value>
                <elementReference>FamilyLG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_Item_DimensionGroupLG__c</field>
            <value>
                <elementReference>ItemDimensionGroupLG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_MacroFamilyLG__c</field>
            <value>
                <elementReference>MacroFamilyLG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_MacroMaterial__c</field>
            <value>
                <elementReference>MacroMaterial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_MadeIn__c</field>
            <value>
                <elementReference>Madein</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_ManuFacturerProcess__c</field>
            <value>
                <elementReference>ManuFacturerprocess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_MarketingColor__c</field>
            <value>
                <elementReference>MarketingColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_SalesType__c</field>
            <value>
                <elementReference>SalesType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_SubAestheticline__c</field>
            <value>
                <elementReference>SubAestheticLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_SubFamilyLG__c</field>
            <value>
                <elementReference>SubfamilyLG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPO_SubGroup__c</field>
            <value>
                <elementReference>Subgroup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1130</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Updated_by_Production_user</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Clean_up_Order</name>
        <label>Clean up Order</label>
        <locationX>2312</locationX>
        <locationY>3251</locationY>
        <flowName>Clean_Up_Failed_Orders</flowName>
        <inputAssignments>
            <name>Order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Workshop_on_order</name>
        <label>Set Workshop on order</label>
        <locationX>992</locationX>
        <locationY>995</locationY>
        <flowName>MIY_Workshop_Management</flowName>
        <inputAssignments>
            <name>ApplicationSource</name>
            <value>
                <elementReference>$Record.ApplicationSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Oder_ProductCategory</name>
            <value>
                <elementReference>$Record.SPO_ProductCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Order_CreationType</name>
            <value>
                <elementReference>$Record.SPO_CreationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Order_Exotic</name>
            <value>
                <elementReference>$Record.SPO_Exo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Order_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderType</name>
            <value>
                <elementReference>$Record.SPO_OrderType__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Cancelledbyautomatedprocess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Cancelled by automated process</stringValue>
        </value>
    </variables>
    <variables>
        <name>ECO</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ECO_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ECO</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunnityLastModifiedByBypassWF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.LastModifiedBy.BypassWF__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SPO_Production</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SPO_Production</stringValue>
        </value>
    </variables>
    <variables>
        <name>TechnicalProblem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Technical Problem</stringValue>
        </value>
    </variables>
    <variables>
        <name>zero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
