force-app/main/default/flows/Order_MTO_Display_Order_without_Marketing_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>For MTO Display order, if marketing approval = NO, then the order is automatically cancelled</description>
    <environments>Default</environments>
    <formulas>
        <name>StopOrderCommentFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Cancelled by Marketing team&quot;</expression>
    </formulas>
    <interviewLabel>Order - MTO Display Order without Marketing Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - MTO Display Order without Marketing Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stop_Order_Comment</name>
        <label>Stop Order Comment</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Stop_Order_Reason_Other</targetReference>
        </connector>
        <inputAssignments>
            <field>SPO_StopBriefComment__c</field>
            <value>
                <elementReference>StopOrderCommentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stop_Order_Reason_Other</name>
        <label>Stop Order Reason Other</label>
        <locationX>776</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>SPO_StopBriefReason__c</field>
            <value>
                <stringValue>Production - Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Stop_Order_Comment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>
AND({!$Record.SPO_DisplayOrder__c}=True, ISPICKVAL({!$Record.SPO_OrderType__c}, &quot;MTO on Catalog (Hardsided)&quot;), ISPICKVAL({!$Record.SPO_MarketingApproval__c},&quot;No&quot;), {!$User.BypassWF__c} = False)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StopOrderReasonOther</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
