force-app/main/default/flows/Order_product_Sku.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Condition1</name>
        <dataType>String</dataType>
        <expression>{!VarOppProductSku} +
&apos;, &apos; + {!$Record.ProductSKU__c}</expression>
    </formulas>
    <formulas>
        <name>ProductNameText</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!$Record.SPO_BriefName__r.Product_Name__c} )),
{!$Record.SPO_BriefName__r.Product_Name__c} +
IF(NOT(ISBLANK({!$Record.Product_Name__c})),&apos;, &apos; + {!$Record.Product_Name__c},&apos;&apos;),
IF(NOT(ISBLANK({!$Record.Product_Name__c})),{!$Record.Product_Name__c},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>ProductSkuText</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK( {!$Record.SPO_BriefName__r.Product_SKU__c})),{!$Record.SPO_BriefName__r.Product_SKU__c} +
IF( NOT(ISBLANK({!$Record.ProductSKU__c})),&apos;, &apos; + {!$Record.ProductSKU__c},&apos;&apos;),
IF( NOT(ISBLANK({!$Record.ProductSKU__c})),{!$Record.ProductSKU__c},&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Order product &amp; Sku {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order product &amp; Sku</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Product_Sku</name>
        <label>Update Product Sku</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Update_Product_Sku_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_SKU__c</field>
            <value>
                <elementReference>ProductSkuText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Sku_0</name>
        <label>Update Product Sku</label>
        <locationX>776</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>ProductNameText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SPO_BriefName__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Product_Sku</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductSKU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarBriefID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarOppProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.Product_SKU__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarProductSkuOLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.ProductSKU__c</elementReference>
        </value>
    </variables>
</Flow>
