force-app/main/default/flows/Perso_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Default record type for Perso app or LV.com site</description>
    <environments>Default</environments>
    <formulas>
        <description>Record Type changes to Perso Record Type</description>
        <name>RecordTypeIsPerso</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISPICKVAL({!$Record.ApplicationSource__c}, &quot;ECO&quot;), ISPICKVAL({!$Record.ApplicationSource__c}, &quot;PERSO&quot;)), {!Get_Record_Type_Id.Id}, {!$Record.RecordType.Id})</expression>
    </formulas>
    <interviewLabel>Perso - Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perso - Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>996</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Perso_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perso_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Perso_Record_Type</name>
        <label>Perso - Record Type</label>
        <locationX>996</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIsPerso</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>502</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ApplicationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PERSO</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApplicationSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECO</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
