force-app/main/default/flows/Perso_ETL_Status_ready_for_JDE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DEC01_APP_Source_and_User_Bypass_WF</name>
        <label>DEC01 APP Source and User Bypass WF</label>
        <locationX>839</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_are_met</name>
            <conditionLogic>(1 OR 2) AND 3 AND (5 OR (4 AND (2 OR 6 OR 7)))</conditionLogic>
            <conditions>
                <leftValueReference>VarapplicationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarapplicationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentUserBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checkdeposit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checkdeposit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepositReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.SPO_BriefName__r.SPO_Store__r.XstoreConfirmActivation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ETL_Status_Ready_completely_for_JDE</targetReference>
            </connector>
            <label>Condition are met</label>
        </rules>
    </decisions>
    <description>Change ETL status after the approval date for Perso orders (Leather goods, Accessories) (problem with Process Builder with Time Dependent Actions)</description>
    <environments>Default</environments>
    <interviewLabel>Perso-ETL Status ready for JDE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perso-ETL Status ready for JDE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ETL_Status_Ready_completely_for_JDE</name>
        <label>ETL Status = Ready completely for JDE</label>
        <locationX>1110</locationX>
        <locationY>130</locationY>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>106</locationX>
        <locationY>70</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPO_TechETLStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPO_FirmOrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Product_Exo_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Lead_Time_Manufacturing__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X0_Hours_After_Order_Line_Item_Validated_Max_Date</name>
            <connector>
                <targetReference>DEC01_APP_Source_and_User_Bypass_WF</targetReference>
            </connector>
            <label>0 Hours After Order Line Item: Validated Max Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ValidatedMaxDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Checkdeposit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.Checkdeposit__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DepositReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.DepositReceived__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarapplicationSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.ApplicationSource__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarCurrentUserBypassWF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.BypassWF__c</elementReference>
        </value>
    </variables>
</Flow>
