force-app/main/default/flows/Perso_ETL_Status_ready_for_JDE_Exotic_and_Hardsided.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DEC01_APP_Source_and_User_Bypass_WF_DEC01_APP_Source_and_User_Bypass_WF</name>
        <label>DEC01 APP Source and User Bypass WF (DEC01_APP_Source_and_User_Bypass_WF)</label>
        <locationX>283</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_are_met</name>
            <conditionLogic>(1 OR 2) AND 3 AND (5 OR (4 AND (2 OR 6 OR 7)))</conditionLogic>
            <conditions>
                <leftValueReference>VarapplicationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarapplicationSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentUserBypassWF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.Checkdeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.Checkdeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SPO_BriefName__r.DepositReceived__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.SPO_BriefName__r.SPO_Store__r.XstoreConfirmActivation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Perso_ETL_Status_ready_for_JDE_Exotic_and_Hardsided_Update</targetReference>
            </connector>
            <label>Condition are met</label>
        </rules>
    </decisions>
    <description>Handles the orders not taken care of by the workflow rule &quot;Perso-ETL Status ready for JDE&quot; that go through the exotic workflow. Hardsided workflow added MIY-1728</description>
    <environments>Default</environments>
    <interviewLabel>Perso-ETL Status ready for JDE (Exotic and Hardsided) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perso-ETL Status ready for JDE (Exotic and Hardsided)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Handles the orders not taken care of by the workflow rule &quot;Perso-ETL Status ready for JDE&quot; that go through the exotic workflow. Hardsided workflow added MIY-1728</description>
        <name>Perso_ETL_Status_ready_for_JDE_Exotic_and_Hardsided_Update</name>
        <label>Perso-ETL Status ready for JDE (Exotic and Hardsided) Update</label>
        <locationX>658</locationX>
        <locationY>391</locationY>
        <inputAssignments>
            <field>SPO_TechETLStatus__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>169</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>ApplicationTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPO_TechETLStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </filters>
        <filters>
            <field>SPO_FirmOrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creation in progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Product_Exo_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Product_Hard_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Lead_Time_Manufacturing__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Creation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready to be Sent</stringValue>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Validated_Max_Date</name>
            <connector>
                <targetReference>DEC01_APP_Source_and_User_Bypass_WF_DEC01_APP_Source_and_User_Bypass_WF</targetReference>
            </connector>
            <label>Validated Max Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ValidatedMaxDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarapplicationSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.SPO_BriefName__r.ApplicationSource__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarCurrentUserBypassWF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.BypassWF__c</elementReference>
        </value>
    </variables>
</Flow>
