force-app/main/default/flows/PolicyCondition_QQORGagEbizuihJeJmfU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13 AND 14 AND 15 AND 16 AND 17 AND 18 AND 19 AND 20 AND 21 AND 22 AND 23 AND 24 AND 25 AND 26 AND 27 AND 28 AND 29 AND 30 AND 31 AND 32 AND 33 AND 34 AND 35 AND 42 AND 43 AND 44 AND 45 AND 46 AND 47 AND 48 AND 50 AND 51 AND 52 AND 53 AND 54 AND 55 AND 56)  AND (36 OR 37 OR 38 OR 49) AND (39 OR 40 OR 41)</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>due_integration_tech@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ams_marketing_tools1.fr@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interface.dataplatform@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>atul.mohapatra.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>qubit.integration@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>aircards@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvonedata@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interfacekbrw@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>lvtuosawechat@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interfaceshell@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>wfm.technical.user@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvds@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>iot.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>axible.assets.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sfmctrackinguser@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ixopayintegration@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>identity.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>lvpass.identity.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>iot.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvwm@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>d1m.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>myelefant.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>twist.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>mycc.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>tt.assets.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>opt.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>knowledgeinterface@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>yellowidea@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>herokuconnect@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>lvtuiconwechat@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>voice_mulesoft_integration_tech@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>imag.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sfclicktoolsuser@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>client360@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>dream@icon.vuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApiEvent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ApiVersion</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.RowsProcessed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SessionLevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>STANDARD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>poc_backup_integrationt@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ownbackup@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ayoub.lameghaizi.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ouramdane.aouci.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>yann.aquilon.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>lobna.elazzouzi.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>marie-laure.hundzinger@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.QueriedEntities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>idolvnextintegration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>naomi.baroghel.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>deborah.marciano.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ahlem.ayari.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>yael.dinapoli.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sarah.handschumacher.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>refael.bierenbaum.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_QQORGagEbizuihJeJmfU</interviewLabel>
    <label>PolicyCondition_QQORGagEbizuihJeJmfU</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApiEvent</objectType>
    </variables>
</Flow>
