force-app/main/default/flows/PolicyCondition_eIPsPamFwjiFfnPbrhXM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND (5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssignedToUsers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.PermissionList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>{&quot;Permissions&quot; : &quot;ViewAllData,ModifyAllData&quot;}</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.PermissionList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>{&quot;Permissions&quot; : &quot;ViewAllData&quot;}</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.PermissionList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>{&quot;Permissions&quot; : &quot;ModifyAllData&quot;}</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>christophe.dubern@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>roger.arnaud.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>elisabeth.marciano.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sarah.sebban.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>imad.alsidchikh.ext@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>clement.diridollou.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>naomi.baroghel.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>esther.wahnon.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>hanna.grumbach.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_eIPsPamFwjiFfnPbrhXM</interviewLabel>
    <label>PolicyCondition_eIPsPamFwjiFfnPbrhXM</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetEventStore</objectType>
    </variables>
</Flow>
