force-app/main/default/flows/PolicyCondition_rFcPVVhEPWFYyqMewYSq.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR 31 OR 32 OR 33 OR 34 OR 35 OR 36)</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.Application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Browser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>due_integration_tech@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ams_marketing_tools1.fr@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interface.dataplatform@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>atul.mohapatra.ext@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>qubit.integration@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aircards@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvonedata@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interfacekbrw@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lvtuosawechat@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interfaceshell@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>wfm.technical.user@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvds@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iot.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>axible.assets.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sfmctrackinguser@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ixopayintegration@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>identity.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lvpass.identity.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iot.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interfacelvwm@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>d1m.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myelefant.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>twist.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mycc.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>tt.assets.integration@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>opt.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>knowledgeinterface@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yellowidea@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>herokuconnect@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lvtuiconwechat@louisvuitton.com.prod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>voice_mulesoft_integration_tech@louisvuitton.com.prd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>imag.integration@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sfclicktoolsuser@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>client360@louisvuitton.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dream@icon.vuitton.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_rFcPVVhEPWFYyqMewYSq</interviewLabel>
    <label>PolicyCondition_rFcPVVhEPWFYyqMewYSq</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoginEvent</objectType>
    </variables>
</Flow>
