force-app/main/default/flows/Preservation_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Preservation Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Preservation Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Exclusive_Campaign</name>
        <label>Get Active Exclusive Campaign</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Campaign_to_Preservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exclusive_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Active_Campaign_to_Preservation</name>
        <label>Assign Active Campaign&amp;User to Preservation</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>$Record.Product__r.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive_Campaign__c</field>
            <value>
                <elementReference>Get_Active_Exclusive_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Name__c</field>
            <value>
                <elementReference>$Record.Store__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Artist_Name__c</field>
            <value>
                <elementReference>$Record.Product__r.Artist_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>$Record.Store__r.StoreCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_SKU__c</field>
            <value>
                <elementReference>$Record.Product__r.Sku_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Exclusive_Campaign</targetReference>
        </connector>
        <object>PreReservation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
