force-app/main/default/flows/Reassign_Inactive_Users_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_To_Reassign</name>
        <label>Case To Reassign</label>
        <locationX>562</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_To_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionRequest.TECH_Queue_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionRequest.Resolution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request to Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Cases To Reassign</label>
        </rules>
    </decisions>
    <description>Change &quot;Status&quot; field equals &quot;Closed&quot; to IsClosed as status can have the value &quot;Successful&quot;</description>
    <formulas>
        <name>FormulaWebEmailRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <interviewLabel>Reassign Inactives Users Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign Inactive Users Cases</label>
    <loops>
        <name>Loop_Request_Inactive_User</name>
        <label>Loop Request Inactive User</label>
        <locationX>373</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>CollectionRequest</assignNextValueToReference>
        <collectionReference>ObjRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_To_Reassign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Case_Owner_ID</name>
        <label>Search Case Owner ID</label>
        <locationX>189</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Request_Inactive_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaWebEmailRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ObjRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_Queue_ID__c</queriedFields>
        <queriedFields>Resolution__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>568</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Loop_Request_Inactive_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CollectionRequest.TECH_Queue_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Search_Case_Owner_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ObjRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarCaseTechQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
