force-app/main/default/flows/Remote_Consent_Auto_Reject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Remote_Consent</name>
        <label>Is Remote Consent</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RemoteConsentRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Reject remote consent if we dont have response of client</description>
    <environments>Default</environments>
    <formulas>
        <name>RemoteConsentAge</name>
        <dataType>Number</dataType>
        <expression>NOW() - {!$Record.CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemoteConsentRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_RemoteConsent__c}</expression>
    </formulas>
    <interviewLabel>RemoteConsent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remote Consent Auto-Reject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reject</name>
        <label>Reject</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Remote_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Age__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-26</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
