force-app/main/default/flows/Terminated_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Object_Check</name>
        <label>Object Check</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_with_no_Id_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_no_parent_id</targetReference>
            </connector>
            <label>Case with no Id Update</label>
        </rules>
        <rules>
            <name>Case_Flow_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Flow_End_Variable</targetReference>
            </connector>
            <label>Case Flow Updated</label>
        </rules>
        <rules>
            <name>Task_Flow_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Flow</targetReference>
            </connector>
            <label>Task Flow Update</label>
        </rules>
        <rules>
            <name>MessagingSessionFlowUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MessageSession_Flow</targetReference>
            </connector>
            <label>MessagingSession Flow Update</label>
        </rules>
        <rules>
            <name>Live_Chat_Flow_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_Chat_Flow</targetReference>
            </connector>
            <label>Live Chat Flow Update</label>
        </rules>
    </decisions>
    <description>Tech_Qualif_Not_Completed become Tech_Flow_Completed</description>
    <environments>Default</environments>
    <interviewLabel>Terminated Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminated Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_with_no_parent_id</name>
        <label>Update Case with no parent id</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Live_Chat_Flow</name>
        <label>Update Live Chat Flow</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MessageSession_Flow</name>
        <label>Update  MessageSession Flow</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Flow</name>
        <label>Update Task Flow</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Flow_End_Variable</name>
        <label>Updated Flow End Variable</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Check</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
