force-app/main/default/flows/TR_Account_Trigger_Update_CAName_store_Before_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <collectionProcessors>
        <name>filter_stores</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter stores</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNextValueToReference>currentItem_filter_stores</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Stores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_stores.RetailStoreId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.AttachedStore__pc</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_filter_stores</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_stores2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter stores</label>
        <locationX>402</locationX>
        <locationY>1019</locationY>
        <assignNextValueToReference>currentItem_filter_stores</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Stores</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_stores.RetailStoreId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.AttachedStoreCode__pc</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_filter_stores2</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>AttachedStore_pc_not_null</name>
        <label>AttachedStore__pc not null</label>
        <locationX>325</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>AttachedStoreCodeNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAttachedStoreNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AttachedStore__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_stores</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AttachedStoreCodeNotNull</name>
        <label>AttachedStoreCode__pc not null</label>
        <locationX>600</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>StoreNotnull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAttachedStoreCodeNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AttachedStoreCode__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_stores2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_not_null</name>
        <label>Owner not null</label>
        <locationX>325</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>AttachedStore_pc_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owner_User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CAName_and_WWEmployeeNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StoreNotnull</name>
        <label>Store__pc not null</label>
        <locationX>798</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_StoreNotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Store__pr.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attached_Store</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Trigger - Update CAName &amp; store - Before update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Trigger - Update CAName &amp; store - Before update</label>
    <loops>
        <name>loop_filter_stores</name>
        <label>loop filter stores</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <collectionReference>filter_stores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_store</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_filter_stores2</name>
        <label>loop filter stores</label>
        <locationX>402</locationX>
        <locationY>1127</locationY>
        <collectionReference>filter_stores2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_store2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Owner_User</name>
        <label>Get Owner User</label>
        <locationX>325</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WWEmployeeNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stores</name>
        <label>Get Stores</label>
        <locationX>325</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RetailStoreId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AttachedStore__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>RetailStoreId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AttachedStoreCode__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Store__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RetailStoreId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attached_Store</name>
        <label>Update Attached Store</label>
        <locationX>666</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>AttachedStoreCode__pc</field>
            <value>
                <elementReference>$Record.Store__pr.RetailStoreId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttachedStore__pc</field>
            <value>
                <elementReference>$Record.Store__pr.RetailStoreId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CAName_and_WWEmployeeNumber</name>
        <label>Update CAName and WWEmployeeNumber</label>
        <locationX>193</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>AttachedStore_pc_not_null</targetReference>
        </connector>
        <inputAssignments>
            <field>CAName__c</field>
            <value>
                <elementReference>Get_Owner_User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WWEmployeeNumber__c</field>
            <value>
                <elementReference>Get_Owner_User.WWEmployeeNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_store</name>
        <label>Update store</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>AttachedStoreCode__pc</field>
            <value>
                <elementReference>$Record.AttachedStore__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__pc</field>
            <value>
                <elementReference>loop_filter_stores.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_store2</name>
        <label>Update store</label>
        <locationX>490</locationX>
        <locationY>1235</locationY>
        <inputAssignments>
            <field>AttachedStore__pc</field>
            <value>
                <elementReference>$Record.AttachedStoreCode__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__pc</field>
            <value>
                <elementReference>loop_filter_stores2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stores</targetReference>
        </connector>
        <filterFormula>NOT ({!$Permission.TR_BypassFlowAccountUpdateCANameAndStore})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_filter_stores</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store__c</objectType>
    </variables>
</Flow>
