force-app/main/default/flows/Update_Product_Image_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_current_view</name>
        <label>Add current view</label>
        <locationX>850</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trim_current_views</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fallback_to_Product_Images</name>
        <label>Fallback to Product Images</label>
        <locationX>405</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product.Image1Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product.Image2Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product.Image3Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product.Image4Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImageUrls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product.Image5Url__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_views_from_product</name>
        <label>Get views from product</label>
        <locationX>792</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>Views</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Website_Views__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentViewsRemain</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Product.Website_Views__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_views</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_1</name>
        <label>Image 1</label>
        <locationX>103</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_10</name>
        <label>Image 10</label>
        <locationX>271</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_2</name>
        <label>Image 2</label>
        <locationX>184</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_3</name>
        <label>Image 3</label>
        <locationX>268</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_4</name>
        <label>Image 4</label>
        <locationX>106</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_5</name>
        <label>Image 5</label>
        <locationX>184</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_6</name>
        <label>Image 6</label>
        <locationX>266</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_7</name>
        <label>Image 7</label>
        <locationX>33</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_8</name>
        <label>Image 8</label>
        <locationX>106</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Image_9</name>
        <label>Image 9</label>
        <locationX>184</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>FirmOrder.TECH_Product_Img_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_image_urls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_URL_counter</name>
        <label>Increment URL counter</label>
        <locationX>35</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>UrlCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_views</name>
        <label>No views</label>
        <locationX>557</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>Views</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fallback_to_Product_Images</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>251</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_views_from_Product_Category</name>
        <label>Set views from Product Category</label>
        <locationX>912</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>Views</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategory.Website_Views__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentViewsRemain</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!ProductCategory.Website_Views__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_views</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trim_current_views</name>
        <label>Trim current views</label>
        <locationX>730</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>CurrentViewsRemain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimViews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_views</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Fluid_Recipe_Id</name>
        <label>Has Fluid Recipe Id</label>
        <locationX>393</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Fallback_to_Product_Images</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parse_website_views</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirmOrder.FluidRecipeId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Category</targetReference>
            </connector>
            <label>Parse website views</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parse_views</name>
        <label>Parse views</label>
        <locationX>837</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Add_image_urls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more views</defaultConnectorLabel>
        <rules>
            <name>Views_Remaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentViewsRemain</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentViewsRemain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_current_view</targetReference>
            </connector>
            <label>Views Remaining</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_iteration</name>
        <label>Select iteration</label>
        <locationX>25</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Add_image_urls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_7</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_8</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>X9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_9</targetReference>
            </connector>
            <label>9</label>
        </rules>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UrlCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_10</targetReference>
            </connector>
            <label>10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_views</name>
        <label>Set views</label>
        <locationX>788</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>No_views</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_has_views</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Website_Views__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_views_from_product</targetReference>
            </connector>
            <label>Product has views</label>
        </rules>
        <rules>
            <name>Product_Category_has_views</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductCategory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductCategory.Website_Views__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_views_from_Product_Category</targetReference>
            </connector>
            <label>Product Category has views</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentImageUrl</name>
        <dataType>String</dataType>
        <expression>{!FirmOrder.TECH_Product_Img_Base_URL__c} &amp; {!GetCurrentViewName} &amp; &quot;.jpg&quot;</expression>
    </formulas>
    <formulas>
        <name>GetCurrentViewName</name>
        <dataType>String</dataType>
        <expression>LEFT({!CurrentViewsRemain}, (FIND(&quot;;&quot;,{!CurrentViewsRemain})-1))</expression>
    </formulas>
    <formulas>
        <name>TrimViews</name>
        <dataType>String</dataType>
        <expression>RIGHT({!CurrentViewsRemain}, LEN({!CurrentViewsRemain})-FIND(&quot;;&quot;, {!CurrentViewsRemain}))</expression>
    </formulas>
    <interviewLabel>Update Product Image field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Image field</label>
    <loops>
        <name>Add_image_urls</name>
        <label>Add image urls</label>
        <locationX>451</locationX>
        <locationY>381</locationY>
        <assignNextValueToReference>ImageUrl</assignNextValueToReference>
        <collectionReference>ImageUrls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_URL_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Firm_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>243</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Fluid_Recipe_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirmOrder.ProductCatalogue__c</elementReference>
            </value>
        </filters>
        <object>ProductCatalogue__c</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Website_Views__c</queriedFields>
        <queriedFields>Image1Url__c</queriedFields>
        <queriedFields>Image2Url__c</queriedFields>
        <queriedFields>Image3Url__c</queriedFields>
        <queriedFields>Image4Url__c</queriedFields>
        <queriedFields>Image5Url__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_Category</name>
        <label>Product Category</label>
        <locationX>615</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_views</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Category__c</elementReference>
            </value>
        </filters>
        <object>Category__c</object>
        <outputReference>ProductCategory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Website_Views__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Firm_Order</name>
        <label>Update Firm Order</label>
        <locationX>453</locationX>
        <locationY>570</locationY>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputReference>FirmOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Product</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentViewsRemain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirmOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SPO_FirmOrder__c</objectType>
    </variables>
    <variables>
        <name>ImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageUrls</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalogue__c</objectType>
    </variables>
    <variables>
        <name>ProductCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Category__c</objectType>
    </variables>
    <variables>
        <name>UrlCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Views</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
