force-app/main/default/flows/WF01_FIRM_ORDER_CREATION.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Change record type of the Firm order at the creation</description>
    <environments>Default</environments>
    <interviewLabel>WF01 - FIRM ORDER - CREATION {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WF01 - FIRM ORDER - CREATION</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>981</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RT_Firm_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Firm_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPO_FirmOrder__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RT_Firm_Order</name>
        <label>Update RT Firm Order</label>
        <locationX>983</locationX>
        <locationY>309</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarRT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TECH_Parent_Application_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPO</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Parent_Application_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECO</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Parent_Application_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PERSO</stringValue>
            </value>
        </filters>
        <object>SPO_FirmOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Record_Type_Id.Id</elementReference>
        </value>
    </variables>
</Flow>
