force-omnichannel/main/default/flows/CSC_Call_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>objects_Inspection</name>
        <label>objects Inspection</label>
        <locationX>1172</locationX>
        <locationY>134</locationY>
        <actionName>objectsInspection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>objectObservation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>objectsInspection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>sObject</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenNewCase</name>
        <label>OpenNewEscalationCase</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenNewRegularCase</name>
        <label>OpenNewCase</label>
        <locationX>1106</locationX>
        <locationY>1466</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>EscakationType</name>
        <choiceText>Escalation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>status</name>
        <choiceText>{!varStatus}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>clientIdSearch</name>
        <label>clientIdSearch</label>
        <locationX>1172</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Update_MS_EndUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default OutcomeAccountId Not Exist</defaultConnectorLabel>
        <rules>
            <name>AccountId_Not_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClientName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientSearch</targetReference>
            </connector>
            <label>AccountId Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenNewCase</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>objectObservation</name>
        <label>objectObservation</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>clientIdSearch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Lookup</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Lookup</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat</targetReference>
            </connector>
            <label>Live Chat</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessagingSession</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordTypeInspection</name>
        <label>recordTypeInspection</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Create_Regular_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordTypeCall</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unregula_Request</targetReference>
            </connector>
            <label>recordTypeCall</label>
        </rules>
        <rules>
            <name>RecordTypeForLiveChat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Live_Chat_Request</targetReference>
            </connector>
            <label>RecordTypeForLiveChat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>1172</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Flow</targetReference>
            </connector>
            <label>Escalation Type</label>
        </rules>
        <rules>
            <name>displayErrorInResolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_error</targetReference>
            </connector>
            <label>displayErrorInResolution</label>
        </rules>
        <rules>
            <name>Ordinary_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>regularRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailDisplay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolutionEmpty</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequestForTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recordTypeInspection</targetReference>
            </connector>
            <label>Ordinary Type</label>
        </rules>
        <rules>
            <name>displayErrorRequestMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>missingRequetResolution</targetReference>
            </connector>
            <label>displayErrorRequestMissing</label>
        </rules>
        <rules>
            <name>noResolutionTypeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResolutionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolutionEmpty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noResolutionSelected</targetReference>
            </connector>
            <label>noResolutionTypeSelected</label>
        </rules>
    </decisions>
    <description>V54</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaRuningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>resolutionEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!varResolutionType}),True,False)</expression>
    </formulas>
    <interviewLabel>CSC Call Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSC Call Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Live_Chat_Request</name>
        <label>Create Live Chat Request</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>updateEmailDisplay</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>varProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>varUnknwnProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications__c</field>
            <value>
                <elementReference>varQualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126S000001BEgSQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>varResolutionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>varSpecialEvents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>varSuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>varSuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_NewEmailReceived__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Regular_Request</name>
        <label>Create Regular Request</label>
        <locationX>1370</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>updateEmailDisplay</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildRequestCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>varProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>varUnknwnProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications__c</field>
            <value>
                <elementReference>varQualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>varResolutionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>varSpecialEvents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>varSuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>varSuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_NewEmailReceived__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Unregula_Request</name>
        <label>Create Unregular Request</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>updateEmailDisplay</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildRequestCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Repairs__c</field>
            <value>
                <elementReference>VarCareServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>varProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>varUnknwnProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications__c</field>
            <value>
                <elementReference>varQualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeForMassaging</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>varResolutionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>varSpecialEvents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>varSuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>varSuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_NewEmailReceived__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Chat</name>
        <label>Live Chat Lookup</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clientIdSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDescription</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuppliedPhone</assignToReference>
            <field>MobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnknwnProductSku</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSku</assignToReference>
            <field>Product_SKU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varResolutionType</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuppliedEmail</assignToReference>
            <field>Visitor_email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MessagingSession</name>
        <label>MessagingSession</label>
        <locationX>1436</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clientIdSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>varClientName</assignToReference>
            <field>Client_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDescription</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>EndUserAccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>EndUserContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarMS</assignToReference>
            <field>MessagingEndUserId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrigin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnknwnProductSku</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSku</assignToReference>
            <field>Product_SKU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQualifications</assignToReference>
            <field>Qualifications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varResolutionType</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpecialEvents</assignToReference>
            <field>Special_Event__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Request_Lookup</name>
        <label>Request Lookup</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clientIdSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDescription</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceId</assignToReference>
            <field>My_Repairs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrigin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSku</assignToReference>
            <field>Product_Sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnknwnProductSku</assignToReference>
            <field>Product_Sku_unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQualifications</assignToReference>
            <field>Qualifications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varResolutionType</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpecialEvents</assignToReference>
            <field>Special_Event__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuppliedEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuppliedPhone</assignToReference>
            <field>SuppliedPhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>TECH_Country__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Lookup</name>
        <label>Task Lookup</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clientIdSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varQualifications</assignToReference>
            <field>Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpecialEvents</assignToReference>
            <field>Domaine__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCareServiceId</assignToReference>
            <field>My_Repairs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuppliedPhone</assignToReference>
            <field>Phone_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnknwnProductSku</assignToReference>
            <field>Product_SKU_Unknown__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductSku</assignToReference>
            <field>Product_Sku__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varResolutionType</assignToReference>
            <field>Resolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MS_EndUser</name>
        <label>Update MS EndUser</label>
        <locationX>1172</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarMS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEmailDisplay</name>
        <label>updateEmailDisplay</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>OpenNewRegularCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_NewEmailReceived__c</field>
            <value>
                <elementReference>isEmailDisplay</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ClientSearch</name>
        <label>ClientSearch</label>
        <locationX>1040</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MS_EndUser</targetReference>
        </connector>
        <fields>
            <name>clientValidation</name>
            <extensionName>c:iCX_clientValidationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Validation</name>
            <extensionName>c:ICX_Flow_Account</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showContactabilityValidation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAccountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_error</name>
        <label>Display error</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>other_resolution_type</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(157, 31, 31);&quot;&gt;You should choose &apos;escalation&apos; value as resolution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>missingRequetResolution</name>
        <label>missingRequetResolution</label>
        <locationX>1634</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>requestResolutionMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 29, 29);&quot;&gt;You should choose a &apos;request&apos; value as resolution  &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noResolutionSelected</name>
        <label>noResolutionSelected</label>
        <locationX>1898</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resoltionMissingError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(144, 20, 20);&quot;&gt;You should select a resolution type first&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>objects_Inspection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Escalation_Flow</name>
        <label>Escalation Flow</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <flowName>Escalation_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifications</name>
            <value>
                <elementReference>varQualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSpecialEvents</name>
            <value>
                <elementReference>varSpecialEvents</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewCaseId</assignToReference>
            <name>VarNewCaseID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>isEmailDisplay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>regularRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestForTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Request Creation ( MyCR - POD - Request )</stringValue>
        </value>
    </variables>
    <variables>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEscalationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Escalation</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQualifications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeForMassaging</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120H000001J5uwQAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResolutionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpecialEvents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuppliedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnknwnProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
