force-omnichannel/main/default/flows/CSC_Account_Qualification_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenClientelingTaskJustCreated</name>
        <label>OpenClientelingTaskJustCreated</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>TaskObjectId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenOUtboundTaskJustCreated</name>
        <label>OpenOutboundTaskJustCreated</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>TaskObjectId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenTaskObjectCreated</name>
        <label>OpenInboundTaskJustCreated</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>TaskObjectId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Call_Record_Type_Assignment</name>
        <label>Call Record Type Assignment</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_Call_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Record_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceInboundCall</name>
        <choiceText>Inbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTaskClientelingCall</name>
        <choiceText>Clienteling Call</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FormulaClientelingCallRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoicOutboundCall</name>
        <choiceText>Outbound Call &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Daily Follow-up)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Call (Daily Follow-up)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact</targetReference>
            </connector>
            <label>Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Record_Type</name>
        <label>Task Record Type ?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InboundCallType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceInboundCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskInboundCallType</targetReference>
            </connector>
            <label>InboundCallType</label>
        </rules>
        <rules>
            <name>OutboundType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicOutboundCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskOutboundCallType</targetReference>
            </connector>
            <label>OutboundCallType</label>
        </rules>
        <rules>
            <name>ClientelingCallType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceTaskClientelingCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskClientelingCallType</targetReference>
            </connector>
            <label>ClientelingCallType</label>
        </rules>
    </decisions>
    <description>V8</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaClientelingCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTClientelingId__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaTaskIconicsCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTInboundCallId__c}</expression>
    </formulas>
    <formulas>
        <name>RecordType_Call_Type_Selection</name>
        <dataType>String</dataType>
        <expression>IF ({!CallType} = {!ChoiceTaskClientelingCall},
  {!FormulaClientelingCallRT},
  {!FormulaTaskIconicsCallRT}
)</expression>
    </formulas>
    <interviewLabel>CSC Account Qualification flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSC Account Qualification flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTaskClientelingCallType</name>
        <label>CreateTaskClientelingCallType</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>OpenClientelingTaskJustCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Call_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>VarContacId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskInboundCallType</name>
        <label>CreateTaskInboundCallType</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>TaskObjectId</assignRecordIdToReference>
        <connector>
            <targetReference>OpenTaskObjectCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Call_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>VarContacId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskOutboundCallType</name>
        <label>CreateTaskOutboundCallType</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>TaskObjectId</assignRecordIdToReference>
        <connector>
            <targetReference>OpenOUtboundTaskJustCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Call_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>VarContacId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Type_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContacId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTaskCountry</assignToReference>
            <field>SPO_Country_code__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Call_Type_Selection</name>
        <label>Call Type Selection</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Record_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>CallType</name>
            <choiceReferences>ChoiceInboundCall</choiceReferences>
            <choiceReferences>ChoicOutboundCall</choiceReferences>
            <choiceReferences>ChoiceTaskClientelingCall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContacId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
