force-omnichannel/main/default/flows/Escalation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetEscalationTeam</name>
        <label>GetEscalationTeam</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <actionName>ICX_EscalationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsLive_Chat</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ICX_EscalationAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_Assignment</name>
        <label>Notification Assignment</label>
        <locationX>644</locationX>
        <locationY>1922</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>IsLive_Chat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VarNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Escalation Assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ReloadPage_Action_1</name>
        <label>ReloadPage Action 1</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Assigned_User_Escalation_Empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Case_Team_Parent_ID_for_Existing_Case</name>
        <label>Case Team Parent ID for Existing Case</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_User_Escalation_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escalation_Resolution_Field</name>
        <label>Escalation Resolution Field</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarEscalationDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDistanceOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.distanceOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrigineOfEscalation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.origineOfEscalation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTypeOfSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.typeOfSupport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAssignedToEscalation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarStoreCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Qualification.storeCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Required_Escalation_Field_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notification_Recepient_User</name>
        <label>Notification Recepient User</label>
        <locationX>644</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarAssignedToEscalation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_ID_Case_Team_for_New_Case</name>
        <label>Parent ID Case Team for New Case</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Required_Field_Escalation_Empty</name>
        <label>Required Field Escalation Empty</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarRequiredFieldEscalation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Escalation_Resolution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_User_Escalation_Empty</name>
        <label>Assigned User Escalation Empty ?</label>
        <locationX>776</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAssignedToEscalation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEscalationTeam</targetReference>
            </connector>
            <label>User Empty</label>
        </rules>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_ID</targetReference>
            </connector>
            <label>New Case ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Required_Escalation_Field_Empty</name>
        <label>Is Required Escalation Field Empty ?</label>
        <locationX>413</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_or_Create_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarTypeOfSupport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarOrigineOfEscalation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Field_Escalation_Empty</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLive_Chat</name>
        <label>Live Chat ?</label>
        <locationX>776</locationX>
        <locationY>2114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChatTranscript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_LiveChat</targetReference>
            </connector>
            <label>Live Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_record</targetReference>
            </connector>
            <label>Request Object</label>
        </rules>
        <rules>
            <name>Task_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Task</targetReference>
            </connector>
            <label>Task Object</label>
        </rules>
        <rules>
            <name>MS_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MS_Parent</targetReference>
            </connector>
            <label>MS Object</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create_Request</name>
        <label>Update or Create Request ?</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Escalation_Request_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Request_Escalation</targetReference>
            </connector>
            <label>Update Request</label>
        </rules>
    </decisions>
    <description>Escalation process - run as system with sharing V3</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CallRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <name>CaseEmailRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaOrigin</name>
        <dataType>String</dataType>
        <expression>IF ({!sObject} = &quot;Task&quot;, &quot;Phone&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;Social&quot;, {!VarCaseOrigin}))</expression>
    </formulas>
    <formulas>
        <name>FormulaParentID</name>
        <dataType>String</dataType>
        <expression>IF ( 
  AND (
    {!sObject} = &quot;Case&quot;, 
    {!isNoRecordId} = false
  ),
  {!recordId}, 
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRequestRT</name>
        <dataType>String</dataType>
        <expression>IF( {!FormulaOrigin} = &quot;Phone&quot;, {!CaseCallRT}, {!CaseEmailRT})</expression>
    </formulas>
    <formulas>
        <name>FormulaRunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FormulaToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Escalation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Escalation_Request_Creation</name>
        <label>Escalation Request Creation</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Parent_ID_Case_Team_for_New_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To_Escalation__c</field>
            <value>
                <elementReference>VarAssignedToEscalation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>VarDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domaine__c</field>
            <value>
                <elementReference>VarDomaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Description__c</field>
            <value>
                <elementReference>VarEscalationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Opening_Date__c</field>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Type__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FormulaOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarUnknownProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications__c</field>
            <value>
                <elementReference>varQualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormulaRequestRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>varSpecialEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>VarStoreCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>VarDistanceOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarNature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Support_Escalation__c</field>
            <value>
                <elementReference>VarTypeOfSupport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hasParent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_MS_Parent</name>
        <label>Get MS Parent</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MS_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_ID</name>
        <label>Get Notification ID</label>
        <locationX>644</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Recepient_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Escalation_Assignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_record</name>
        <label>Get Parent record</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_parent_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Task</name>
        <label>Get Parent Task</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateEmailDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MS_Parent</name>
        <label>Update MS Parent</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parent_record</name>
        <label>Update parent record</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChildRequestCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Task</name>
        <label>Update Parent Task</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Escalation</name>
        <label>Update Request Escalation</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Case_Team_Parent_ID_for_Existing_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_To_Escalation__c</field>
            <value>
                <elementReference>VarAssignedToEscalation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Description__c</field>
            <value>
                <elementReference>VarEscalationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Type__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin_of_Escalation__c</field>
            <value>
                <elementReference>VarOrigineOfEscalation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>VarStoreCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>VarDistanceOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Support_Escalation__c</field>
            <value>
                <elementReference>VarTypeOfSupport</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Status = Ended</description>
        <name>Update_Status_LiveChat</name>
        <label>Update Status LiveChat</label>
        <locationX>512</locationX>
        <locationY>2222</locationY>
        <faultConnector>
            <targetReference>Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEmailDisplay</name>
        <label>updateEmailDisplay</label>
        <locationX>1238</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>ReloadPage_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_NewEmailReceived__c</field>
            <value>
                <elementReference>isEmailComposerDisplay</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Escalation_Resolution</name>
        <label>Escalation Resolution</label>
        <locationX>413</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Escalation_Resolution_Field</targetReference>
        </connector>
        <fields>
            <name>EscalationHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Escalation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Required_Field</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 3, 3);&quot;&gt;Please make sure that you filled all required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarRequiredFieldEscalation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Escalation_Qualification</name>
            <extensionName>c:ICX_EscalationFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>VarAccountID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Description</name>
                <value>
                    <elementReference>VarEscalationDescription</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceOrder</name>
                <value>
                    <elementReference>VarDistanceOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>origineOfEscalation</name>
                <value>
                    <elementReference>VarOrigineOfEscalation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>storeCode</name>
                <value>
                    <elementReference>VarStoreCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeOfSupport</name>
                <value>
                    <elementReference>VarTypeOfSupport</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>UserId</name>
                <value>
                    <elementReference>VarAssignedToEscalation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Error</name>
        <label>Fault Error</label>
        <locationX>776</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Sorry, but you can’t read or update records at this time.&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escalation_Resolution</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VarNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The user {!$User.FirstName} {!$User.LastName} assigned to you this request escalated {!VarCaseNumber}.</text>
    </textTemplates>
    <variables>
        <name>isEmailComposerDisplay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewQualification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNoRecordId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Collection variable for Notification Recepients</description>
        <name>NotificationRecepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAssignedToEscalation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseTeamEscalation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplate</objectType>
    </variables>
    <variables>
        <name>VarCaseTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDistanceOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDomaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEscalationDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOrigineOfEscalation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQualifications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRequiredFieldEscalation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSpecialEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTeamMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTypeOfSupport</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
