force-omnichannel/main/default/flows/ICX_New_POD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>objectsInspection</name>
        <label>objects Inspection</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <actionName>objectsInspection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>objectsInspection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varObject</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Open_new_Case_POD</name>
        <label>Open new Case POD</label>
        <locationX>380</locationX>
        <locationY>1964</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>newPODId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PODCreation</name>
        <label>PODCreation</label>
        <locationX>380</locationX>
        <locationY>1856</locationY>
        <actionName>icx_podCreationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open_new_Case_POD</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>catevoryValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collection</name>
            <value>
                <elementReference>collectionValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>commentValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactPreference</name>
            <value>
                <elementReference>contactPreferenceValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyValue</name>
            <value>
                <elementReference>currencyValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>desiredDate</name>
            <value>
                <elementReference>desiredDateValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>digitalStoreId</name>
            <value>
                <elementReference>digitalStoreValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>genderValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hotSku</name>
            <value>
                <elementReference>hotSKUValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>price</name>
            <value>
                <elementReference>priceValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productDescription</name>
            <value>
                <elementReference>productDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedProductId</name>
            <value>
                <elementReference>selectedProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VarAccountId</name>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>icx_podCreationAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newPODId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>EmptySelectedProductId</name>
        <label>EmptySelectedProductId</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>selectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPODwSKUorPODwoSKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedProductIdAssignment</name>
        <label>selectedProductIdAssignment</label>
        <locationX>94</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>selectedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchProduct.selectedProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isProductSelected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PODWithoutSku</name>
        <choiceText>Product on Demand without SKU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product on Demand without SKU</stringValue>
        </value>
    </choices>
    <choices>
        <name>PODWithSKU</name>
        <choiceText>Product on Demand with SKU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product on Demand with SKU</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Id</name>
        <label>Check Id</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Client_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POD_Type_Selection</targetReference>
            </connector>
            <label>AccountID is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkfields</name>
        <label>checkfields</label>
        <locationX>248</locationX>
        <locationY>1748</locationY>
        <defaultConnector>
            <targetReference>PODCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fields_remaning</name>
            <conditionLogic>7 OR 6 OR 5 OR 4 OR 2 OR (3 AND (8 OR 9 OR 1) )</conditionLogic>
            <conditions>
                <leftValueReference>productDescription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>priceValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currencyValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>digitalStoreValue</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <conditions>
                <leftValueReference>collectionValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>desiredDateValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>genderValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>catevoryValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PODForm</targetReference>
            </connector>
            <label>fields remaning</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPODwSKUorPODwoSKU</name>
        <label>isPODwSKUorPODwoSKU</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>PODForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PODwoSKU</defaultConnectorLabel>
        <rules>
            <name>PODwSKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_POD_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PODWithSKU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Product</targetReference>
            </connector>
            <label>PODwSKU</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProductSelected</name>
        <label>isProductSelected</label>
        <locationX>94</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>PODForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>noProductSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_Product</targetReference>
            </connector>
            <label>noProductSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_with_recordid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Task_data</targetReference>
            </connector>
            <label>Task with recordid</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_request</targetReference>
            </connector>
            <label>Case?</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_MS_data</targetReference>
            </connector>
            <label>Messaging Session?</label>
        </rules>
    </decisions>
    <description>use for quick action on all object to create POD w/ or w/o SKU 4</description>
    <environments>Default</environments>
    <interviewLabel>ICX New POD {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ICX New POD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_MS_data</name>
        <label>get MS data</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWithQualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>EndUserAccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_request</name>
        <label>get request</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_parent_with_HasParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Task_data</name>
        <label>get Task data</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTaskWithQualification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_parent_with_HasParent</name>
        <label>Update parent with HasParent</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Qualifications__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>hasParent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskWithQualification</name>
        <label>UpdateTaskWithQualification</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWithQualification</name>
        <label>UpdateWithQualification</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Qualifications__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Qualif_Not_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <screens>
        <name>Client_Search</name>
        <label>Client Search</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Id</targetReference>
        </connector>
        <fields>
            <name>clientvalidation</name>
            <extensionName>c:iCX_clientValidationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>flow</name>
            <extensionName>c:ICX_Flow_Account</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showContactabilityValidation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarAccountID</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>POD_Type_Selection</name>
        <label>POD Type Selection</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EmptySelectedProductId</targetReference>
        </connector>
        <fields>
            <name>Select_POD_Type</name>
            <choiceReferences>PODWithSKU</choiceReferences>
            <choiceReferences>PODWithoutSku</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PODWithSKU</defaultSelectedChoiceReference>
            <fieldText>Select POD Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PODForm</name>
        <label>PODForm</label>
        <locationX>248</locationX>
        <locationY>1640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkfields</targetReference>
        </connector>
        <fields>
            <name>icx_PODForm</name>
            <extensionName>c:icx_PODForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProduct</name>
                <value>
                    <elementReference>selectedProductId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>catevoryValue</assignToReference>
                <name>categoryValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>collectionValue</assignToReference>
                <name>collectionValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>commentValue</assignToReference>
                <name>commentValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPreferenceValue</assignToReference>
                <name>contactPreferenceValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>currencyValue</assignToReference>
                <name>currencyValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>desiredDateValue</assignToReference>
                <name>desiredDateValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>digitalStoreValue</assignToReference>
                <name>digitalStoreValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>genderValue</assignToReference>
                <name>genderValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hotSKUValue</assignToReference>
                <name>hotSKUValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productDescription</assignToReference>
                <name>productDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>priceValue</assignToReference>
                <name>priceValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Product</name>
        <label>Search Product</label>
        <locationX>94</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectedProductIdAssignment</targetReference>
        </connector>
        <fields>
            <name>searchProduct</name>
            <extensionName>c:icx_searchProduct</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProduct</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>objectsInspection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>catevoryValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPreferenceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>desiredDateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>digitalStoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>genderValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotSKUValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPODId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
