force-omnichannel/main/default/flows/ICXNewOE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>objects_Inspection</name>
        <label>objects Inspection</label>
        <locationX>556</locationX>
        <locationY>134</locationY>
        <actionName>objectsInspection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>objectsInspection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>sObject</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>open_case</name>
        <label>open case</label>
        <locationX>226</locationX>
        <locationY>2438</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <description>When selected, create an Event</description>
        <name>Book_An_Appointment</name>
        <choiceText>Book an Appointment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Operation Exception record type</description>
        <name>Operation_Exception</name>
        <choiceText>Operation Exception</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseOperationExceptionRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>POD_with_Sku</name>
        <choiceText>Product On Demand (with SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PODwithSkuRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>POD_without_Sku</name>
        <choiceText>Product On Demand (no SKU)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PODwithoutSkuRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>Request</name>
        <choiceText>Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FormulaRequestRT</elementReference>
        </value>
    </choices>
    <choices>
        <name>Request_to_Store</name>
        <choiceText>Request to Store</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Request_to_Store</elementReference>
        </value>
    </choices>
    <decisions>
        <name>client_ID</name>
        <label>client ID ?</label>
        <locationX>556</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Client_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>accountisnotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShippingGroup</targetReference>
            </connector>
            <label>AccountID is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContinueOrFinishTheFlow</name>
        <label>ContinueOrFinishTheFlow</label>
        <locationX>556</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContinueOperationException</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operation_Exception_Screen</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Shipping</name>
        <label>Is Order Shipping</label>
        <locationX>226</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Operation_Exception_Creation_Without_Order_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Shipping_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Shipping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operation_Exception_Creation_With_Order_Shipping</targetReference>
            </connector>
            <label>Is Order Shipping True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object?</label>
        <locationX>556</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>client_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_with_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTask</targetReference>
            </connector>
            <label>Task with recordId?</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_request</targetReference>
            </connector>
            <label>Case?</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_get_request</targetReference>
            </connector>
            <label>Messaging Session?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_elements</name>
        <label>Update elements</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>open_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>open_case</targetReference>
            </connector>
            <label>IsTask?</label>
        </rules>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Qualification</targetReference>
            </connector>
            <label>IsCase?</label>
        </rules>
        <rules>
            <name>is_Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MessagingSession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MS</targetReference>
            </connector>
            <label>is Messaging Session?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>careServiceOrigin</name>
        <dataType>String</dataType>
        <expression>IF({!sObject} = &quot;Task&quot;, &quot;CSC Call&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;CSC Chat&quot;,
IF({!sObject} = &quot;MessagingSession&quot;,&quot;CSC Messaging&quot;,
IF({!sObject} = &quot;Case&quot;, &quot;CSC Email&quot;,
&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>CareServiceRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.Distant_Care_Service_RT__c}</expression>
    </formulas>
    <formulas>
        <name>CaseCallRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CallRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Store Web&amp;Emai record type ID</description>
        <name>CaseEmailRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.EmailRecordTypeID__c}</expression>
    </formulas>
    <formulas>
        <description>Case Record type ID from Operation Exception</description>
        <name>CaseOperationExceptionRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_OperationException__c}</expression>
    </formulas>
    <formulas>
        <name>FormualToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Calculate origin according to sObject</description>
        <name>FormulaOrigin</name>
        <dataType>String</dataType>
        <expression>IF ({!sObject} = &quot;Task&quot;, &quot;Phone&quot;,
IF({!sObject} = &quot;LiveChatTranscript&quot;, &quot;Social&quot;,{!VarOrigin}))</expression>
    </formulas>
    <formulas>
        <name>FormulaParentID</name>
        <dataType>String</dataType>
        <expression>IF ( 
  AND (
    {!sObject} = &quot;Case&quot;, 
    {!isNoRecordId} = false
  ),
  {!recordId}, 
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Find the correct record type for the Request according to the origin of the case</description>
        <name>FormulaRequestRT</name>
        <dataType>String</dataType>
        <expression>IF( {!FormulaOrigin} = &quot;Phone&quot;, {!CaseCallRT}, {!CaseEmailRT})</expression>
    </formulas>
    <formulas>
        <description>ID of the User who launch the flow</description>
        <name>FormulaRunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>New status except for POD with Sku -&gt; &quot;Follow-up&quot;</description>
        <name>FormulaStatus</name>
        <dataType>String</dataType>
        <expression>IF( {!VarCaseRecordTypeID} = {!POD_with_Sku} , &quot;Follow-up&quot;,&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaSubject</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISNULL({!POD_with_Sku})), &quot;Product on Demand - &quot;+{!VarProductSkuName}, 
IF( NOT(ISNULL({!POD_without_Sku})), &quot;Product on Demand without sku - &quot;+{!VarUnknownProduct}, 
IF( NOT(ISNULL({!CaseCallRT})), &quot;ObjTaskCall.Subject&quot;, {!ObjCase.Subject})))</expression>
    </formulas>
    <formulas>
        <description>Record Type clienteling for Task</description>
        <name>FormulaTaskClientelingRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.TaskRTClientelingId__c}</expression>
    </formulas>
    <formulas>
        <name>isMyLVClient</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varDateIdentity} != null, TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Record Type of Waiting list from Case</description>
        <name>PODwithoutSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRTWaitingListID__c}</expression>
    </formulas>
    <formulas>
        <description>Record Type of POD with SKU</description>
        <name>PODwithSkuRT</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IconicsSettings__c.CaseRT_MyPR_ID__c}</expression>
    </formulas>
    <formulas>
        <description>For the Qualification record, the ParentRelatedTo__c field should be set to empty only from a New request (Case list view or Account detail page)</description>
        <name>recordIdToReplaceForQualification</name>
        <dataType>String</dataType>
        <expression>IF ({!isNoRecordId} = true, null, {!recordId})</expression>
    </formulas>
    <formulas>
        <name>US_user</name>
        <dataType>Boolean</dataType>
        <expression>IF( OR( {!$UserRole.DeveloperName}=&quot;AME_CSC_US_CA_ME_SA&quot;, {!$UserRole.DeveloperName}=&quot;AME_CSC_US_CA_ME_Manager&quot;,{!$Profile.Name} = &quot;System Administrator&quot;)
, TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>ICX_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICX_New_OE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creation of case with record type Operation Exception with order shipping lookup</description>
        <name>Operation_Exception_Creation_With_Order_Shipping</name>
        <label>Operation Exception Creation With Order Shipping</label>
        <locationX>94</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_elements</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection__c</field>
            <value>
                <elementReference>VarProductCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IgnoreDuplicateOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>VarIssueCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Shipping__c</field>
            <value>
                <elementReference>Get_Order_Shipping.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>VarOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Category__c</field>
            <value>
                <elementReference>VarProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Gender__c</field>
            <value>
                <elementReference>VarProductGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>VarProductSku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseOperationExceptionRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Back Office New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <elementReference>VarSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creation of case with record type Operation Exception without Order shipping lookup</description>
        <name>Operation_Exception_Creation_Without_Order_Shipping</name>
        <label>Operation Exception Creation Without Order Shipping</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>VarNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_elements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection__c</field>
            <value>
                <elementReference>VarProductCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IgnoreDuplicateOE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>VarIssueCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>VarOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FormulaRunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>FormulaParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Category__c</field>
            <value>
                <elementReference>VarProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoD_Gender__c</field>
            <value>
                <elementReference>VarProductGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku__c</field>
            <value>
                <elementReference>OpsExceptionProduct.selectionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sku_unknown__c</field>
            <value>
                <elementReference>VarProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseOperationExceptionRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Back Office New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <elementReference>VarSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Country__c</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_get_request</name>
        <label>get MS data</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>client_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>EndUserAccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarMS</assignToReference>
            <field>MessagingEndUserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Account_Data</name>
        <label>get Account Data</label>
        <locationX>160</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>client_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>SPO_Country_code__pc</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Shipping</name>
        <label>Get Order Shipping</label>
        <locationX>226</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShippingNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarShippingGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderShipping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_request</name>
        <label>get request</label>
        <locationX>424</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>client_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOrigin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>TECH_Country__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTask</name>
        <label>get Task data</label>
        <locationX>160</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarOrigin</assignToReference>
            <field>ActionType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_product_info</name>
        <label>lookup product info</label>
        <locationX>226</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRelatedTo__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ICX_ProductEnquired__c</object>
        <outputAssignments>
            <assignToReference>VarProductCategory</assignToReference>
            <field>ProductCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductCollection</assignToReference>
            <field>ProductCollection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductGender</assignToReference>
            <field>ProductGender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProductDescription</assignToReference>
            <field>Product_Unknown__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MS</name>
        <label>Update MS</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Update_MU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MU</name>
        <label>Update MU</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>open_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarMS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Qualification</name>
        <label>Update new case</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>open_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarNewCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Client_Search</name>
        <label>Client Search</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShippingGroup</targetReference>
        </connector>
        <fields>
            <name>clientvalidation</name>
            <extensionName>c:iCX_clientValidationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>flow</name>
            <extensionName>c:ICX_Flow_Account</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showContactabilityValidation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarAccountID</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Please search the desired Client&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Fault_Error</name>
        <label>Fault Error</label>
        <locationX>622</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorText</name>
            <fieldText>Sorry, but you can’t read or update records at this time.
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Operation_Exception_Screen</name>
        <label>Operation Exception Screen</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>lookup_product_info</targetReference>
        </connector>
        <fields>
            <name>OpsExceptionCategoryIssue</name>
            <extensionName>c:ICX_QualificationLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>level1Field</name>
                <value>
                    <stringValue>Issue_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Value</name>
                <value>
                    <elementReference>VarIssueCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Field</name>
                <value>
                    <stringValue>Sub_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Value</name>
                <value>
                    <elementReference>VarSubCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>levelLast</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>CaseOperationExceptionRT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAutoNextOnLastSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level2Label</name>
                <value>
                    <stringValue>ICX_Flow_MultiPicklist_SubCategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>level1Label</name>
                <value>
                    <stringValue>ICX_Flow_MultiPicklist_IssueCategory</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarSubCategory</assignToReference>
                <name>level2Value</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarIssueCategory</assignToReference>
                <name>level1Value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>


</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpExCountry</name>
            <extensionName>c:PicklistFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>TECH_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country / Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLabelInEmptyValue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visual</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarCountry</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OpsExceptionProduct</name>
            <extensionName>c:ICX_ProductSearchLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <stringValue>OperationException</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OpsExceptionFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShippingGroup</name>
        <label>ShippingGroup</label>
        <locationX>556</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContinueOrFinishTheFlow</targetReference>
        </connector>
        <fields>
            <name>DuplicateCases</name>
            <extensionName>c:ICX_DisplayDuplicateCases</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>VarAccountID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarShippingGroup</assignToReference>
                <name>shippingGroup</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarContinueOperationException</assignToReference>
                <name>continue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OperationExecptionFooter</name>
            <extensionName>c:ICX_Flow_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>canBack</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canNext</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canFinish</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canPause</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>positionFixed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>objects_Inspection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Depending on where the Request Creation is requested (from a new call/case/chat... OR &apos;New Request&apos; button)</description>
        <name>isNewQualification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is new case creation from scratch (no link to a parent record)</description>
        <name>isNoRecordId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ObjCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>sObject name (ex: Case, Calling_Campaign_Order__c...)</description>
        <name>sObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAssignedToEscalation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCareServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseTeamEscalation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplate</objectType>
    </variables>
    <variables>
        <name>VarCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarClientDesiredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContinueOperationException</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateIdentity</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDigitalStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDistanceOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDomaine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEscalationDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFollowByCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFollowByEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarHotSku</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarIssueCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOpsExceptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrigineOfEscalation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPhone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPODComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPreferenceClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductCategory</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductGender</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProductSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used in formula Subject</description>
        <name>VarProductSkuName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get Salesforce Id of ICX_ProductEnquired__c</description>
        <name>varQualificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User selection for the Request Type screen</description>
        <name>varRequestTypeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRequiredFieldEscalation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarResolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRetailStoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarShippingGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSKUCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarStoreCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStoreID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Temporary - quick fix - to be deleted for next version</description>
        <name>VarStoreVerification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store__c</objectType>
    </variables>
    <variables>
        <name>VarSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTypeOfSupport</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUnknownProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUserDefaultStoreCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
